<div
  th:fragment="address-correction-option(address, selected, hideButton, singleLineAddress)"
  class="usa-radio"
  th:with="inputId=${'id-' + #strings.randomAlphanumeric(8)}"
>
  <input
    type="radio"
    class="usa-radio__input"
    name="selectedAddress"
    th:value="${singleLineAddress}"
    th:checked="${selected}"
    th:attr="hidden=${hideButton ? '' : null}"
    th:id="${inputId}"
  />
  <label th:class="${hideButton ? '' : 'usa-radio__label'}" th:for="${inputId}">
    <div th:text="${address.getStreet()}"></div>
    <div th:if="${address.hasLine2()}" th:text="${address.getLine2()}"></div>
    <!--/* City, State Zip */-->
    <div
      th:text="|${address.getCity()}, ${address.getState()} ${address.getZip()}|"
    ></div>
  </label>
</div>
