<!doctype html>
<head th:fragment="pageHeaderScriptsAndLinks">
  <meta charset="UTF-8" />
  <title>Title</title>

  <link th:href="${tailwindStylesheet}" type="text/css" rel="stylesheet" />
  <link th:href="${northStarStylesheet}" type="text/css" rel="stylesheet" />
  <script
    th:nonce="${cspNonce}"
    th:src="${uswdsJsInit}"
    type="text/javascript"
  ></script>
</head>

<th:block th:fragment="pageFooterScripts">
  <script
    th:nonce="${cspNonce}"
    th:src="${applicantJsBundle}"
    type="text/javascript"
  ></script>
  <script
    th:nonce="${cspNonce}"
    th:src="${uswdsJsBundle}"
    type="text/javascript"
  ></script>
</th:block>

<div th:fragment="requiredFieldsExplanation">
  <!--/* This uses utext because the parameter passed into the message is html,
    it is a placeholder span with the red asterisk. We need it to be html and not
    raw text to recreate the red style */-->
  <p
    th:utext="#{content.requiredFieldsNoteNorthStar(~{this :: requiredAsterisk})}"
    class="font-sans-xs"
  ></p>
</div>

<th:block th:fragment="requiredAsterisk">
  <span class="usa-hint--required">*</span>
</th:block>

<!-- The param is an instance of the ProgressBar class. -->
<div
  th:fragment="progressBar(progressBar)"
  class="usa-step-indicator usa-step-indicator--center maxw-tablet"
  th:aria-label="#{content.blockProgressLabel}"
>
  <!--/* The progress bar itself. It's safe to add aria-hidden="true" when step labels
  are not used. */-->
  <ol class="usa-step-indicator__segments" aria-hidden="true">
    <th:block
      th:each="i: ${#numbers.sequence(0, progressBar.getStepCount() - 1)}"
    >
      <li
        th:class="'usa-step-indicator\_\_segment ' + ${progressBar.cssClassesForIndex(i)}"
      ></li>
    </th:block>
  </ol>

  <!--/* Text with "X of Y BlockName" */-->
  <div class="usa-step-indicator__header">
    <h1 class="usa-step-indicator__heading">
      <span class="usa-step-indicator__heading-counter">
        <span
          th:text="${progressBar.getProgressString()}"
          class="usa-step-indicator__total-steps"
        >
        </span>
        <span
          class="usa-step-indicator__heading-text"
          th:text="${progressBar.getStepName()}"
        ></span>
      </span>
    </h1>
  </div>
</div>

<svg
  th:fragment="icon(icon)"
  class="usa-icon"
  th:attr="viewBox=${icon.getViewBox()}"
>
  <path th:attr="d=${icon.path}"></path>
</svg>
