<!doctype html>
<html th:attr="lang=${preferredLanguage.code()},dir=${shouldDisplayRtl}? 'rtl'">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body>
    <div th:replace="~{applicant/ApplicantBaseFragment :: skipNav}"></div>
    <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>
    <main id="main-content" tabindex="-1">
      <div class="usa-section">
        <div class="grid-container">
          <div class="grid-row grid-gap">
            <div class="usa-prose">
              <h1 class="mb-4" th:text="#{title.programNotAvailable}"></h1>
              <p class="usa-intro" th:text="#{content.disabledProgramInfo}"></p>
              <div class="margin-y-5">
                <div class="margin-y-5">
                  <a
                    class="usa-button"
                    id="visit-home-page-button"
                    th:text="#{button.homePage}"
                    th:href="${homeUrl}"
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer th:replace="~{applicant/NavigationFragment :: pageFooter}"></footer>
    <th:block
      th:replace="~{components/GoogleTagManagerFragment :: tagManager(${optionalMeasurementId}, ${cspNonce})}"
    ></th:block>
  </body>
</html>
