<div th:fragment="applicant-question (question, stateAbbreviations)">
  <!-- TODO(#6910): Investigate why we can't access enum types in Thymeleaf -->
  <th:block th:switch="${question.getType().getLabel()}">
    <th:block th:case="'Address'">
      <div
        th:replace="~{questiontypes/AddressQuestionFragment :: address(${question}, ${stateAbbreviations})}"
      ></div>
    </th:block>
    <th:block th:case="'Checkbox'">
      <div
        th:replace="~{questiontypes/CheckboxQuestionFragment :: checkbox(${question})}"
      ></div>
    </th:block>
    <th:block th:case="'Currency'">
      <div
        th:replace="~{questiontypes/CurrencyQuestionFragment :: currency(${question})}"
      ></div>
    </th:block>
    <th:block th:case="'Dropdown'">
      <div
        th:replace="~{questiontypes/DropdownQuestionFragment :: dropdown(${question})}"
      ></div>
    </th:block>
    <th:block th:case="'Email'">
      <div
        th:replace="~{questiontypes/EmailQuestionFragment :: email(${question})}"
      ></div>
    </th:block>
    <th:block th:case="'ID'">
      <div
        th:replace="~{questiontypes/IdQuestionFragment :: id(${question})}"
      ></div>
    </th:block>
    <th:block th:case="'Name'">
      <div
        th:replace="~{questiontypes/NameQuestionFragment :: name(${question})}"
      ></div>
    </th:block>
    <th:block th:case="'Number'">
      <div
        th:replace="~{questiontypes/NumberQuestionFragment :: number(${question})}"
      ></div>
    </th:block>
    <th:block th:case="'Radio Button'">
      <div
        th:replace="~{questiontypes/RadioButtonQuestionFragment :: radio(${question})}"
      ></div>
    </th:block>
    <th:block th:case="'Static Text'">
      <div
        th:replace="~{questiontypes/StaticTextQuestionFragment :: static-text(${question})}"
      ></div>
    </th:block>
    <th:block th:case="'Text'">
      <div
        th:replace="~{questiontypes/TextQuestionFragment :: text(${question})}"
      ></div>
    </th:block>
  </th:block>
</div>
