<!doctype html>
<head th:fragment="pageHeader">
  <meta charset="UTF-8" />
  <title>Title</title>

  <link th:href="${tailwindStylesheet}" type="text/css" rel="stylesheet" />
  <link th:href="${uswdsStylesheet}" type="text/css" rel="stylesheet" />
  <script th:src="${uswdsJsInit}" type="text/javascript"></script>
</head>

<footer th:fragment="pageFooter">
  <script th:src="${applicantJsBundle}" type="text/javascript"></script>
  <script th:src="${uswdsJsBundle}" type="text/javascript"></script>
</footer>

<div th:fragment="requiredFieldsExplanation">
  <!-- This uses utext because the parameter passed into the message is html,
    it is a placeholder span with the red asterisk. We need it to be html and not
    raw text to recreate the red style -->
  <p th:utext="#{content.requiredFieldsNote(~{this :: requiredAsterisk})}"></p>
</div>

<th:block th:fragment="requiredAsterisk">
  <span class="usa-hint--required"> *</span>
</th:block>

<div
  th:fragment="progressBar"
  class="usa-step-indicator usa-step-indicator--center"
  aria-label="progress"
>
  <!-- The progress bar itself -->
  <ol class="usa-step-indicator__segments">
    <th:block
      th:each="i: ${#numbers.sequence(0, applicationParams.totalBlockCount() - 1)}"
      th:with="block=${applicationParams.blockList().get(i)}"
    >
      <!-- Only one of these two gets rendered. The first is shown when it is the
        current step, and the other is shown for all other steps. This is made
        as two different calls because Thymeleaf does not handle concatenation
        with two different conditions very well, and we have 2 conditional CSS
        classes. -->
      <li
        th:replace="~{this :: segmentWithLabel(${i == applicationParams.blockIndex()},
                                               ${block},
                                               ${i},
                                               usa-step-indicator__segment--current)}"
      ></li>
      <li
        th:replace="~{this :: segmentWithLabel(${i != applicationParams.blockIndex()},
                                               ${block},
                                               ${i},
                                               ${block.isCompletedInProgramWithoutErrors()} ? 'usa-step-indicator__segment--complete' : '')}"
      ></li>
    </th:block>
  </ol>

  <!-- Text with "X of Y BlockName" -->
  <div class="usa-step-indicator__header">
    <h4 class="usa-step-indicator__heading">
      <span class="usa-step-indicator__heading-counter">
        <span
          th:utext="#{content.blockProgress(${applicationParams.blockIndex() + 1},
        ${applicationParams.totalBlockCount()})}"
          class="usa-step-indicator__total-steps"
        >
        </span>
        <span
          class="usa-step-indicator__heading-text"
          th:text="${applicationParams.block().getName()}"
        ></span>
      </span>
    </h4>
  </div>
</div>

<!-- Conditionally renders a segment of the progress bar along with the label.
  isVisible is present here because a th:if on a element replaced by
  th:replace is ignored, so this allows this element to be conditionally shown. -->
<th:block
  th:fragment="segmentWithLabel(isVisible, block, index, additionalClass)"
>
  <li
    th:if="${isVisible}"
    class="usa-step-indicator__segment"
    th:classappend="${additionalClass}"
  >
    <span
      class="usa-step-indicator__segment-label"
      th:text="#{label.blockIndexLabel(${index + 1}, ${block.getName()})}"
    ></span>
  </li>
</th:block>
