<!doctype html>
<html th:attr="lang=${preferredLanguage.code()}">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body>
    <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>
    <main>
      <div
        th:replace="~{applicant/TitleAndDescriptionFragment :: titleAndDescriptionFragment(${programTitle}, ${programShortDescription})}"
      ></div>
      <div
        th:replace="~{components/SeparatorLineFragment :: separatorLineFragment()}"
      ></div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="tablet:grid-col-8 usa-prose">
            <div th:replace="~{components/ToastFragment :: upsellToasts}"></div>

            <section class="usa-prose section-external">
              <h2>
                <th:block
                  th:text="${isTrustedIntermediary} ?
                  #{title.commonIntakeConfirmationTi} :
                  #{title.commonIntakeConfirmation}"
                ></th:block>
              </h2>

              <th:block th:if="${showProgramsCardsSection}" class="usa-prose">
                <p
                  th:text="${isTrustedIntermediary} ?
                    #{content.commonIntakeConfirmationTi.v2} :
                    #{content.commonIntakeConfirmation.v2}"
                  class="content"
                ></p>
                <!-- NEW STUFF -->
                <div class="section-internal">
                  <div
                  th:replace="~{applicant/ProgramCardsSectionFragment :: cardsSection(${cardsSection.get()})}"
                ></div>
                </div>
              </th:block>

              <div th:unless="${showProgramsCardsSection}">
                <!-- utext is necessary to insert a hyperlink into a localized string. -->
                <p
                  th:utext="${isTrustedIntermediary} ?
                  #{content.commonIntakeNoMatchingProgramsTi(${moreResourcesLinkHtml})} :
                  #{content.commonIntakeNoMatchingPrograms(${moreResourcesLinkHtml})}"
                ></p>
              </div>

              <div class="section-internal">
                <a
                  th:if="${!isGuest}"
                  href="/"
                  class="usa-button usa-button--outline margin-bottom-1"
                  id="another-program"
                  th:text="#{button.applyToPrograms}"
                ></a>
                <a
                  th:if="${isGuest}"
                  href="#login-dialog-upsell"
                  aria-controls="login-dialog-upsell"
                  class="usa-button usa-button--outline margin-bottom-1"
                  id="another-program"
                  th:text="#{button.applyToPrograms}"
                  data-open-modal
                ></a>

                <a
                  th:unless="${showProgramsCardsSection}"
                  href="/"
                  class="usa-button margin-bottom-1"
                  role="button"
                  id="go-back"
                  th:text="#{button.editMyResponses}"
                  th:href="${goBackHref}"
                >
                </a>
              </div>
            </section>

            <section class="section-external" th:if="${isGuest}">
              <div
                th:replace="~{applicant/CreateAccountAlertFragment :: createAccount(${createAccountLink}, ${loginLink}, #{button.createAnAccount}, #{content.loginToExistingAccount})}"
              ></div>
            </section>
          </div>
        </div>
      </div>
    </main>

    <div th:if="${isGuest}">
      <div th:replace="~{applicant/ModalFragment:: upsellLogin}"></div>
    </div>

    <footer th:replace="~{applicant/NavigationFragment :: pageFooter}"></footer>
  </body>
</html>
