<!doctype html>
<html th:attr="lang=${preferredLanguage.code()}">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body>
    <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>

    <main>
      <div
        th:replace="~{applicant/TitleAndDescriptionFragment :: titleAndDescriptionFragment(${programTitle}, ${programDescription})}"
      ></div>
      <div
        th:replace="~{components/SeparatorLineFragment :: separatorLineFragment()}"
      ></div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="tablet:grid-col-8">
            <div
              th:replace="~{components/ToastFragment :: upsellToasts}"
              class="margin-1"
            ></div>

            <section class="section-external">
              <div
                th:replace="~{components/AlertFragment :: alert(alertSettings=${successAlertSettings}, headingLevel='H2', role='status')}"
              ></div>
            </section>

            <section class="usa-prose section-internal">
              <h2 th:text="#{heading.yourSubmissionInformation}"></h2>

              <!-- We need h4 style for the headings, but accessibility checker
               doesn't allow skipping from h2 to h4 -->
              <div class="content">
                <h3 th:text="#{heading.applicantName}" class="cf-prose-h4"></h3>
                <p th:text="${applicantName}"></p>
              </div>

              <div class="content">
                <h3
                  th:text="#{heading.confirmationNumber}"
                  class="cf-prose-h4"
                ></h3>
                <p th:text="${applicationId}" class="cf-application-id"></p>
              </div>

              <div class="content">
                <h3 th:text="#{heading.dateSubmitted}" class="cf-prose-h4"></h3>
                <p th:text="${dateSubmitted}" class="cf-bt-date"></p>
              </div>

              <div class="content">
                <h4
                  th:text="#{heading.forYourRecords}"
                  class="cf-prose-h4"
                ></h4>
                <p th:text="#{content.youCanPrint}"></p>
              </div>

              <div class="section-internal">
                <a
                  th:if="${isApplicationExportable}"
                  th:href="${downloadHref}"
                  class="usa-button"
                  th:text="#{button.downloadApplication}"
                ></a>
              </div>

              <section
                th:if="${not #strings.isEmpty(customConfirmationMessage)}"
                class="usa-prose section-internal"
              >
                <h2 th:text="#{heading.nextSteps}"></h2>
                <p th:text="${customConfirmationMessage}"></p>
              </section>

              <div th:if="${isGuest}">
                <div
                  th:replace="~{applicant/CreateAccountAlertFragment :: createAccount(${createAccountLink}, ${loginLink}, #{button.createAnAccount}, #{content.loginToExistingAccount})}"
                ></div>
              </div>

              <div class="section-internal">
                <a
                  th:if="${isGuest}"
                  href="#login-dialog-upsell"
                  aria-controls="login-dialog-upsell"
                  class="usa-button usa-button--outline"
                  id="another-program"
                  th:text="#{button.homePage}"
                  data-open-modal
                ></a>
                <a
                  th:if="!${isGuest}"
                  href="/"
                  class="usa-button usa-button--outline"
                  id="another-program"
                  th:text="#{button.homePage}"
                ></a>
              </div>
            </section>
          </div>
        </div>
      </div>

      <section
        th:if="${cardsSection.cards().size() > 0}"
        class="section-external"
      >
        <div class="grid-container">
          <div class="grid-row">
            <div class="tablet:grid-col-8">
              <div class="usa-prose">
                <h2 th:text="#{content.otherProgramsToApplyFor}"></h2>
              </div>
            </div>
          </div>
        </div>
        <div class="section-internal">
          <div
            th:replace="~{applicant/ProgramCardsSectionFragment :: cardsSection(${cardsSection})}"
          ></div>
        </div>
      </section>
    </main>

    <div th:if="${isGuest}">
      <div th:replace="~{applicant/ModalFragment:: upsellLogin}"></div>
    </div>

    <footer th:replace="~{applicant/NavigationFragment :: pageFooter}"></footer>
  </body>
</html>
