<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <link th:href="${tailwindStylesheet}" type="text/css" rel="stylesheet">
        <link th:href="${uswdsStylesheet}" type="text/css" rel="stylesheet">
        <script th:src="${uswdsJsBundle}" type="text/javascript"></script>
        <script th:src="${adminJsBundle}" type="text/javascript"></script>
      </head>
    <body>
        <div>
            <form id="cf-block-form" th:action="${formAction}" method="POST">
                <input hidden th:value="${csrfToken}" name="csrfToken">
                <div th:replace="~{applicant/ApplicantBaseFragment :: requiredFieldsExplanation}"></div>
            </form>
        </div>
    </body>
</html>