<html th:attr="lang=${preferredLanguage.code()}">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body data-load-modal="true">
    <main role="main">
      <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>
      <h1 th:text="#{title.applicationConfirmation}"></h1>
      <p th:text="#{content.confirmed(${programName}, ${applicationId})}"></p>
      <a href="/" class="display-flex flex-align-center">
        <em class="usa-logo__text">
          <button
            type="button"
            id="another-program"
            class="usa-button"
            th:text="#{link.applyToAnotherProgram}"
          ></button>
        </em>
      </a>
    </main>

    <footer
      th:replace="~{applicant/ApplicantBaseFragment :: pageFooter}"
    ></footer>
  </body>
</html>
