<!doctype html>
<html th:attr="lang=${preferredLanguage.code()},dir=${shouldDisplayRtl}? 'rtl'">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body>
    <div th:replace="~{applicant/ApplicantBaseFragment :: skipNav}"></div>
    <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>
    <main id="main-content" tabindex="-1">
      <div th:replace="~{components/ToastFragment :: blockEditToasts}"></div>
      <div
        th:replace="~{applicant/NavigationFragment :: adminPreviewBackButton(${goBackToAdminUrl})}"
      ></div>

      <div
        th:replace="~{applicant/BreadcrumbFragment :: breadcrumb(
          ${applicationParams.programTitle()},
          ${homeUrl},
          ${programOverviewUrl})}"
      ></div>
      <div
        th:replace="~{applicant/TitleAndDescriptionFragment :: titleAndDescriptionFragment(
          ${applicationParams.programTitle()},
          ${applicationParams.programShortDescription()})}"
      ></div>
      <div
        th:replace="~{components/SeparatorLineFragment :: separatorLineFragment()}"
      ></div>

      <div
        th:if="${applicationParams.loginOnly() and isGuest}"
        class="grid-container"
      >
        <div
          th:replace="~{applicant/LoginOnlyAlertFragment :: loginOnly(${createAccountLink}, #{link.createAccountFromOverview})}"
        ></div>
      </div>

      <div class="grid-container">
        <div th:if="${!applicationParams.loginOnly()}" class="grid-row">
          <div
            th:replace="~{applicant/BlockEditFragment :: blockEdit(${submitFormAction}, ${previousFormAction}, ${reviewFormAction}, ${progressBar}, ${csrfToken}, ${showErrorModal}, ${enumMaxEntityCount}, ${stateAbbreviations},${questionRendererParams})}"
          ></div>
        </div>
        <div
          th:if="${applicationParams.loginOnly() and !isGuest}"
          class="grid-row"
        >
          <div
            th:replace="~{applicant/BlockEditFragment :: blockEdit(${submitFormAction}, ${previousFormAction}, ${reviewFormAction}, ${progressBar}, ${csrfToken}, ${showErrorModal}, ${enumMaxEntityCount}, ${stateAbbreviations},${questionRendererParams})}"
          ></div>
        </div>
      </div>
    </main>

    <div th:replace="~{applicant/ModalFragment:: blockValidation}"></div>

    <footer th:replace="~{applicant/NavigationFragment :: pageFooter}"></footer>
    <th:block
      th:replace="~{components/GoogleTagManagerFragment :: tagManager(${optionalMeasurementId}, ${cspNonce})}"
    ></th:block>
  </body>
</html>
