<html>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>

        <link th:href="${tailwindStylesheet}" type="text/css" rel="stylesheet">
        <link th:href="${uswdsStylesheet}" type="text/css" rel="stylesheet">
        <script th:src="${uswdsJsBundle}" type="text/javascript"></script>
        <script th:src="${adminJsBundle}" type="text/javascript"></script>
      </head>
    <body>
        <ul class="usa-card-group">
            <li class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4" th:each="block: ${blocks}">
              <div class="usa-card__container">
                <div class="usa-card__header">
                  <h2 class="usa-card__heading" th:text="${block.getName()}"></h2>
                </div>
                <div class="usa-card__body">
                  <p th:text="${block.getDescription()}">
                  </p>
                </div>
                <div class="usa-card__footer">
                  <a th:href="${blockEditUrlMap.get(block.getId())}" th:if="${block.isAnsweredWithoutErrors()}">Review</a>
                  <a th:href="${blockEditUrlMap.get(block.getId())}" th:unless="${block.isAnsweredWithoutErrors()}">Start</a>
                </div>
              </div>
            </li>
    </body>
</html>