<!doctype html>
<html th:attr="lang=${preferredLanguage.code()}">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body>
    <div th:replace="~{applicant/ApplicantBaseFragment :: skipNav}"></div>
    <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>
    <main
      id="main-content"
      tabindex="-1"
      role="main"
      th:with="question=${applicationParams.block().getQuestions().get(0)},
      questionParams=${questionRendererParams.get(question.getQuestionDefinition().getId())},
      fileUploadQuestion=${question.createFileUploadQuestion()}"
    >
      <div th:replace="~{components/ToastFragment :: blockEditToasts}"></div>

      <div
        th:replace="~{applicant/BreadcrumbFragment :: breadcrumb(
          ${applicationParams.programTitle()},
          ${homeUrl},
          ${programOverviewUrl})}"
      ></div>
      <div
        th:replace="~{applicant/TitleAndDescriptionFragment :: titleAndDescriptionFragment(
          ${applicationParams.programTitle()},
          ${applicationParams.programShortDescription()})}"
      ></div>

      <div
        th:replace="~{components/SeparatorLineFragment :: separatorLineFragment()}"
      ></div>

      <div class="grid-container usa-form usa-form--large">
        <div class="grid-row">
          <div class="tablet:grid-col-8">
            <!-- /* Northstar templates only support multi-file uploads for applicant forms */ -->
            <form
              enctype="multipart/form-data"
              method="POST"
              id="cf-block-form"
              th:class="${fileUploadViewStrategy.getMultiFileUploadFormClass()}"
              th:action="${fileUploadViewStrategy.formAction(questionParams.signedFileUploadRequest().get())}"
            >
              <!--/* Render hidden inputs (actual inputs vary depending on whether it's AWS or Azure) */-->
              <input
                type="hidden"
                th:each="inputValues: ${fileUploadViewStrategy.additionalFileUploadFormInputFields(questionParams.signedFileUploadRequest())}"
                th:name="${inputValues.key}"
                th:value="${inputValues.value}"
              />

              <div class="section-external">
                <div
                  th:replace="~{applicant/ApplicantBaseFragment :: progressBar(${progressBar})}"
                ></div>
              </div>

              <div
                th:replace="~{applicant/ApplicantBaseFragment :: requiredFieldsExplanation}"
              ></div>

              <div
                th:replace="~{questiontypes/FileUploadQuestionFragment :: file-upload(${question}, ${questionParams})}"
              ></div>

              <div
                th:text="#{label.uploading}"
                role="alert"
                class="cf-file-uploading-tag padding-1"
              ></div>
              <ul
                th:if="${fileUploadQuestion.getFileKeyListValue().isPresent()}"
                data-th-attr="data-uploaded-files=${fileUploadViewStrategy.getUploadedFileData(fileUploadQuestion)}, aria-label=#{label.uploadedFiles}"
                class="grid"
              >
                <li
                  th:each="fileKey: ${fileUploadQuestion.getFileKeyListValue().get()}"
                  class="grid-row margin-y-1"
                >
                  <span
                    th:text="${fileUploadViewStrategy.getFileName(fileKey)}"
                    class="overflow-hidden grid-col flex-fill"
                  ></span>
                  <a
                    th:text="#{link.removeFile}"
                    th:href="${applicationParams.applicantRoutes().removeFile(
                    applicationParams.profile(),
                    applicationParams.applicantId(),
                    applicationParams.programId(),
                    applicationParams.block().id,
                    fileKey,
                    applicationParams.inReview()
                  ).url()}"
                  ></a>
                </li>
              </ul>
            </form>

            <!--/* Hidden forms that allow users to pass through without submitting a file.  */-->
            <div class="hidden">
              <form
                id="cf-fileupload-continue-form"
                method="POST"
                th:action="${submitFormAction}"
              >
                <input hidden th:value="${csrfToken}" name="csrfToken" />
                <div
                  th:replace="~{questiontypes/FileUploadQuestionFragment :: file-key-field(${fileUploadQuestion}, false)}"
                ></div>
              </form>
            </div>

            <div class="section-external">
              <div>
                <a
                  th:href="${previousBlockWithoutFile}"
                  form="cf-fileupload-continue-form"
                  class="usa-button usa-button--outline margin-bottom-1 zero-top-margin cf-disable-when-uploading"
                  th:text="#{button.back}"
                ></a>
                <button
                  type="submit"
                  form="cf-fileupload-continue-form"
                  class="usa-button margin-bottom-1 zero-top-margin cf-disable-when-uploading"
                  th:text="#{button.continue}"
                ></button>
              </div>
              <a
                th:href="${reviewPageWithoutFile}"
                id="review-application-button"
                class="usa-button usa-button--unstyled margin-bottom-4 cf-disable-when-uploading"
                th:text="#{button.reviewAndExit}"
              ></a>
            </div>
          </div>
        </div>
      </div>
      <th:block th:each="footerTag : ${fileUploadFooterTags}">
        [(${footerTag.render()})]
      </th:block>
    </main>
    <footer th:replace="~{applicant/NavigationFragment :: pageFooter}"></footer>
  </body>
</html>
