<div th:fragment="applicant-question (question)">
    <!-- TODO(#6910): Investigate why we can't access enum types in Thymeleaf -->
    <th:block th:switch="${question.getType().getLabel()}">
        <th:block th:case="'Checkbox'">
            <div th:replace="~{questiontypes/CheckboxQuestionFragment :: checkbox(${question})}"></div>
        </th:block>

        <th:block th:case="'Static Text'">
            <div th:replace="~{questiontypes/StaticTextQuestionFragment :: static-text(${question})}"></div>
        </th:block>
    </th:block>
</div>
