<!doctype html>
<html th:attr="lang=${preferredLanguage.code()},dir=${shouldDisplayRtl}? 'rtl'">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body>
    <div th:replace="~{applicant/ApplicantBaseFragment :: skipNav}"></div>
    <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>
    <main id="main-content" tabindex="-1">
      <div
        th:replace="~{components/ToastFragment :: devOrStagingToast(${isDevOrStaging})}"
      ></div>

      <div
        th:replace="~{errors/ErrorComponentFragment :: errorComponent(
          ${title},
          ${subtitle},
          ${additionalInfo},
          ${buttonText},
          ${homeUrl},
          ${statusCode}
        )}"
      ></div>
    </main>
    <footer th:replace="~{applicant/NavigationFragment :: pageFooter}"></footer>
    <th:block
      th:replace="~{components/GoogleTagManagerFragment :: tagManager(${optionalMeasurementId}, ${cspNonce})}"
    ></th:block>
  </body>
</html>
