<!doctype html>
<html th:attr="lang=${preferredLanguage.code()}" data-testid="programSummary">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body>
    <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>
    <main>
      <div
        th:replace="~{applicant/NavigationFragment :: adminPreviewBackButton(${goBackToAdminUrl})}"
      ></div>
      <div
        th:replace="~{applicant/TitleAndDescriptionFragment :: titleAndDescriptionFragment(${programTitle},${programShortDescription})}"
      ></div>
      <div
        th:replace="~{components/SeparatorLineFragment :: separatorLineFragment()}"
      ></div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="tablet:grid-col-8">
            <div class="section-external">
              <div
                th:replace="~{applicant/ApplicantBaseFragment :: progressBar(${progressBar})}"
              ></div>
            </div>

            <div
              th:replace="~{components/ToastFragment :: summaryToasts}"
            ></div>

            <div
              th:replace="~{components/AlertFragment :: alert(alertSettings=${eligibilityAlertSettings}, headingLevel='H2')}"
            ></div>
            <!-- If an alert is visible, add some extra spacing. -->
            <div
              th:if="${eligibilityAlertSettings.title.isPresent()}"
              class="section-spacing"
            ></div>

            <div
              th:replace="~{applicant/ApplicantBaseFragment :: requiredFieldsExplanation}"
            ></div>

            <ol class="application-summary usa-list usa-list--unstyled">
              <li class="" th:each="blockSummary: ${blockSummaries}">
                <div
                  th:replace="~{applicant/BlockSummaryFragment :: blockSummaryFragment(${blockSummary})}"
                ></div>
              </li>
            </ol>

            <form
              class="cf-debounced-form summary-button-section"
              th:action="${submitUrl}"
              method="POST"
            >
              <input hidden th:value="${csrfToken}" name="csrfToken" />
              <button
                th:if="${hasCompletedAllBlocks}"
                th:text="#{button.submitApplication}"
                type="submit"
                class="usa-button"
              ></button>
              <a
                th:unless="${hasCompletedAllBlocks}"
                th:href="${continueUrl}"
                th:text="#{button.continue}"
                id="continue-application-button"
                class="usa-button"
              ></a>
            </form>
          </div>
        </div>
      </div>
      <div class="page-spacing"></div>
    </main>
    <div th:if="${isGuest and redirectedFromProgramSlug.isPresent()}">
      <div th:replace="~{applicant/ModalFragment:: reviewLogin}"></div>
    </div>
    <div th:if="${duplicateSubmission.isPresent()}">
      <div id="show-duplicate-submission-modal"></div>
      <th:block
        th:replace="~{applicant/ModalFragment:: preventDuplicateSubmission(${programTitle}, ${exitHref})}"
      ></th:block>
    </div>
    <footer th:replace="~{applicant/NavigationFragment :: pageFooter}"></footer>
  </body>
</html>
