<th:block th:fragment="blockSummaryFragment(blockSummary)">
  <div class="block-summary">
    <div class="usa-prose block-summary-header">
      <!-- We want h3 style, but using h3 directly is an accessibility violation. -->
      <span
        class="left-align cf-prose-h3"
        th:text="${blockSummary.block().getLocalizedName(preferredLanguage.toLocale())}"
      ></span>
      <a
        class="usa-button usa-button--outline right-align auto-width summary-edit-button"
        th:href="${blockSummary.editUrl()}"
        th:text="#{button.edit}"
      ></a>
    </div>

    <ul class="zero-padding usa-list usa-list--unstyled">
      <li th:each="answerData : ${blockSummary.answerData()}">
        <div
          th:replace="~{applicant/QuestionSummaryFragment :: questionSummaryFragment(${answerData})}"
        ></div>
      </li>
    </ul>
  </div>
</th:block>
