<th:block th:fragment="breadcrumb(title, homeUrl, programOverviewUrl)">
  <nav class="usa-breadcrumb grid-container margin-top-3 padding-y-0" aria-label="Breadcrumbs">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a th:href="${homeUrl}" class="usa-breadcrumb__link">
          <span th:text="#{link.home}"></span
        ></a>
      </li>
      <li class="usa-breadcrumb__list-item">
        <a th:href="${programOverviewUrl}" class="usa-breadcrumb__link">
          <span><th:block th:text="${title}"></th:block></span>
        </a>
      </li>
      <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span th:text="#{link.applicationForProgram(${title})}"></span>
      </li>
    </ol>
  </nav>
</th:block>
