<th:block th:fragment="breadcrumb(title, homeUrl, programOverviewUrl)">
  <!-- Remove extra spacing as this will be composed into other elements that
       will need to control spacing. -->
  <nav class="usa-breadcrumb cf-no-margin-padding" aria-label="Breadcrumbs">
    <ol class="usa-breadcrumb__list">
      <li class="usa-breadcrumb__list-item">
        <a th:href="${homeUrl}" class="usa-breadcrumb__link">
          <span th:text="#{link.home}"></span
        ></a>
      </li>
      <li class="usa-breadcrumb__list-item">
        <a th:href="${programOverviewUrl}" class="usa-breadcrumb__link">
          <span><th:block th:text="${title}"></th:block></span>
        </a>
      </li>
      <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
        <span th:text="#{link.programNameApplication(${title})}"></span>
      </li>
    </ol>
  </nav>
</th:block>
