<html th:attr="lang=${preferredLanguage.code()}">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body>
    <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>
    <main>
      <div
        th:replace="~{components/ToastFragment :: devOrStagingToast(${isDevOrStaging})}"
      ></div>

      <div
        th:replace="~{applicant/TitleAndDescriptionFragment :: titleAndDescriptionFragment(${programName},${programDescription})}"
      ></div>

      <div class="grid-container section">
        <div class="grid-row">
          <div class="tablet:grid-col-8">
            <div
              th:replace="~{components/AlertFragment :: alert(alertSettings=${eligibilityAlertSettings}, headingLevel='H2')}"
            ></div>

            <div class="section-spacing"></div>

            <section class="usa-prose">
              <h2 th:text="#{heading.eligibilityCriteria}"></h2>

              <!-- <div class="content-spacing"></div> -->

              <!-- utext is used to insert a runtime href and localized string within a hyperlink within another localized string. -->
              <p
                th:utext="#{content.eligibilityCriteria.v2(${programLinkHtml})}"
              ></p>
              <p th:text="#{content.changeAnswersForEligibility.v2}"></p>
            </section>

            <div class="section-spacing"></div>

            <ul class="usa-button-group">
              <li class="usa-button-group__item">
                <a
                  class="usa-button usa-button--outline"
                  role="button"
                  id="another-program"
                  th:text="#{link.applyToAnotherProgram}"
                  th:href="${applyHref}"
                >
                </a>
              </li>
              <li class="usa-button-group__item">
                <a
                  class="usa-button"
                  role="button"
                  id="go-back"
                  th:text="#{button.editMyResponses}"
                  th:href="${goBackHref}"
                >
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </main>
    <footer th:replace="~{applicant/NavigationFragment :: pageFooter}"></footer>
  </body>
</html>
