<!doctype html>
<html th:attr="lang=${preferredLanguage.code()},dir=${shouldDisplayRtl}? 'rtl'">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body>
    <div th:replace="~{applicant/ApplicantBaseFragment :: skipNav}"></div>
    <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>
    <main id="main-content" tabindex="-1">
      <div th:replace="~{components/ToastFragment :: programIndexToasts}"></div>
      <div
        id="top-content"
        class="bg-primary-darker border-y border-primary padding-y-4 padding-x-2"
      >
        <div class="grid-container text-white usa-prose">
          <h1 th:text="#{heading.homepage}"></h1>
          <div th:text="#{content.homepageIntro}"></div>
        </div>
      </div>
      <div class="display-flex flex-justify-center">
        <!-- <arcgis-embedded-map 
          style="margin: 10px; height: 400px; width: 400px" 
          item-id="d4238f324c2d4175bcb0bddec8c0fca4" 
          theme="light" 
          portal-url="https://www.arcgis.com" >
        </arcgis-embedded-map> -->
        <!-- <iframe style="margin: 10px;" width="400" height="400" src="https://maphub.net/embed_h/ceSjfBKglbU2jHat?panel=1&panel_closed=1" frameborder="0"></iframe> -->
        <!-- Map that will get populated by javascript in `maps.ts` -->
        <div style="margin: 10px; height: 400px; width: 400px" id="map"></div>
        <div id="all-providers" hidden th:value="${allProviders}"></div>
        <table class="usa-table usa-table--borderless">
          <caption>
            Your selected providers
          </caption>          
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Address</th>
            </tr>          
          </thead>
          <tbody id="selected-providers">
            <tr
              th:replace="~{applicant/SelectedProvidersFragment :: selectedProvider(
                name='', 
                address='', 
                hidden=true, 
                fieldId=selected-provider-template
              )}"
             ></tr>
          </tbody>
        </table>
        <div>
          <header>
            Filters
          </header>
          <input
            type="checkbox" 
            id="open_late" 
            name="open_late"
          >
          <label
            for="open_late"
          >Open Late</label>
        </div>
      </div>
    <footer th:replace="~{applicant/NavigationFragment :: pageFooter}"></footer>
  </body>
</html>
