<div
  th:fragment="devTools"
  th:if="${showDebugTools}"
  id="modal-container"
  class="display-none position-fixed height-viewport width-full z-100"
>
  <dialog
    class="usa-modal cf-ns-modal"
    id="debug-content-modal"
    aria-labelledby="debug-content-modal-heading"
    aria-describedby="debug-content-modal-heading"
  >
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2 class="usa-modal__heading" id="debug-content-modal-heading">
          Dev Tools
        </h2>
        <div class="display-flex flex-column">
          <p>Log in as:</p>
          <a
            th:href="${fakeCiviformAdminUrl}"
            class="usa-button margin-y-2"
            id="admin"
            >Civiform Admin</a
          >
          <a
            th:href="${fakeProgramAdminUrl}"
            class="usa-button margin-y-2"
            id="program-admin"
            >Program Admin</a
          >
          <a
            th:href="${fakeDualAdminUrl}"
            class="usa-button margin-y-2"
            id="dual-admin"
            >Program and Civiform Admin</a
          >
          <a
            th:href="${fakeTrustedIntermediaryUrl}"
            class="usa-button margin-y-2"
            id="trusted-intermediary"
            >Trusted Intermediary</a
          >
          <p>Other:</p>
          <a
            th:href="${additionalToolsUrl}"
            class="usa-button margin-y-2"
            id="additional-tools"
            >Additional tools</a
          >
        </div>
      </div>
      <button
        type="button"
        class="usa-button usa-modal__close"
        th:aria-label="#{button.close}"
        data-close-modal
      >
        <svg
          th:replace="~{applicant/ApplicantBaseFragment :: icon(${closeIcon})}"
        ></svg>
      </button>
    </div>
  </dialog>
</div>

<div
  th:fragment="reviewLogin"
  id="modal-container"
  class="display-none position-fixed height-viewport width-full z-100"
  th:with="dialogId=${'login-dialog-' + #strings.randomAlphanumeric(8)}"
>
  <div
    th:replace="~{this :: loginPromptModal(${dialogId},
                                         ${slugBypassUrl},
                                         ${slugLoginUrl},
                                         #{content.initialLoginModalPrompt(${authProviderName})},
                                         #{button.continueToApplication},
                                         'program_slug_login_prompt',
                                         true)}"
  ></div>
  <!--/* Create an invisible button that we will use to trigger this modal on load */-->
  <a
    th:href="${'#' + dialogId}"
    class="is-hidden"
    th:aria-controls="${dialogId}"
    aria-hidden="true"
    tabindex="-1"
    data-open-modal
    >Login</a
  >
</div>

<div
  th:fragment="upsellLogin"
  id="modal-container"
  class="display-none position-fixed height-viewport width-full z-100"
>
  <div
    th:replace="~{this :: loginPromptModal('login-dialog-upsell',
                                   ${upsellBypassUrl},
                                   ${upsellLoginUrl},
                                   #{content.generalLoginModalPrompt},
                                   #{button.continueWithoutAnAccount},
                                   null,
                                   false)}"
  ></div>
</div>

<dialog
  th:fragment="loginPromptModal(dialogId, bypassUrl, loginLink, descriptionText, bypassButtonText, onlyShowOnceGroup, showOnLoad)"
  class="usa-modal cf-ns-modal"
  th:id="${dialogId}"
  th:aria-labelledby="${dialogId + '-heading'}"
  th:aria-describedby="${dialogId + '-description'}"
  th:only-show-once-group="${onlyShowOnceGroup}"
  th:show-on-load="${showOnLoad ? 'true' : null}"
  data-testid="login"
  th:attr="bypass-url=${bypassUrl},dialog-id=${dialogId}"
>
  <div class="usa-modal__content">
    <div class="usa-modal__main">
      <h2
        class="usa-modal__heading"
        th:id="${dialogId + '-heading'}"
        th:text="#{title.createAnAccount}"
      ></h2>
      <div class="usa-prose">
        <p
          th:id="${dialogId + '-description'}"
          th:text="${descriptionText}"
          class="margin-y-2"
        ></p>
      </div>
      <div class="usa-modal__footer">
        <ul class="usa-button-group">
          <li class="usa-button-group__item">
            <a
              class="usa-button"
              th:text="${bypassButtonText}"
              th:href="${bypassUrl}"
              th:id="${'bypass-login-prompt-button-' + dialogId}"
            ></a>
          </li>
          <li class="usa-button-group__item">
            <a
              class="usa-button usa-button--outline padding-105 text-center"
              data-close-modal
              th:text="#{button.login}"
              th:href="${loginLink}"
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <button
      type="button"
      class="usa-button usa-modal__close"
      th:aria-label="#{button.close}"
      data-close-modal
    >
      <svg
        th:replace="~{applicant/ApplicantBaseFragment :: icon(${closeIcon})}"
      ></svg>
    </button>
  </div>
</dialog>

<div th:fragment="blockValidation">
  <dialog
    class="usa-modal"
    id="validation-modal"
    aria-labelledby="validation-modal-heading"
    aria-describedby="validation-modal-heading"
  >
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2
          class="usa-modal__heading"
          id="validation-modal-heading"
          th:text="#{modal.errorSaving.previous.title}"
        ></h2>
        <p th:text="#{modal.errorSaving.previous.content}"></p>

        <button
          type="button"
          th:data-redirect-to="${previousWithoutSaving}"
          data-close-modal
          th:text="#{modal.errorSaving.previous.noSaveButton}"
          class="usa-button usa-button--outline margin-y-2"
        ></button>

        <button
          type="button"
          th:text="#{modal.errorSaving.stayAndFixButton}"
          data-close-modal
          class="usa-button margin-y-2"
        ></button>
      </div>

      <button
        type="button"
        class="usa-button usa-modal__close"
        th:aria-label="#{button.close}"
        data-close-modal
      >
        <svg
          th:replace="~{applicant/ApplicantBaseFragment :: icon(${closeIcon})}"
        ></svg>
      </button>
    </div>
  </dialog>
  <!--/* Create an invisible button that we will use to trigger this modal on load */-->
  <a
    id="invisible-validation-modal-button"
    href="#validation-modal"
    class="is-hidden"
    th:aria-controls="validation-modal"
    aria-hidden="true"
    tabindex="-1"
    data-open-modal
  ></a>
</div>

<!-- TODO(#8707): Modal sometimes flashes in incorrect position -->
<div th:fragment="preventDuplicateSubmission (programTitle, exitHref)">
  <dialog
    class="usa-modal is-hidden"
    id="duplicate-submission-modal"
    aria-labelledby="duplicate-submission-modal-heading"
    aria-describedby="duplicate-submission-modal-heading"
  >
    <div class="usa-modal__content">
      <div class="usa-modal__main">
        <h2
          class="usa-modal__heading"
          id="duplicate-submission-modal-heading"
          th:text="#{title.noChangesToSave(${programTitle})}"
        ></h2>
        <p th:text="#{content.noChanges}"></p>

        <div class="usa-modal__footer">
          <ul class="usa-button-group">
            <li class="usa-button-group__item">
              <button
                type="button"
                class="usa-button"
                data-close-modal
                th:text="#{button.continueEditing}"
                id="continue-editing-button"
              ></button>
            </li>
            <li class="usa-button-group__item">
              <button
                type="button"
                class="usa-button usa-button--unstyled padding-105 text-center"
                th:text="#{button.exitApplication}"
                th:data-redirect-to="${exitHref}"
                data-close-modal
                id="exit-application-button"
              ></button>
            </li>
          </ul>
        </div>
      </div>

      <button
        type="button"
        class="usa-button usa-modal__close"
        th:aria-label="#{button.close}"
        data-close-modal
      >
        <svg
          th:replace="~{applicant/ApplicantBaseFragment :: icon(${closeIcon})}"
        ></svg>
      </button>
    </div>
  </dialog>
  <!--/* Create an invisible button that we will use to trigger this modal on load */-->
  <a
    id="invisible-duplicate-submission-modal-button"
    href="#duplicate-submission-modal"
    class="is-hidden"
    th:aria-controls="duplicate-submission-modal"
    aria-hidden="true"
    tabindex="-1"
    data-open-modal
  ></a>
</div>
