<th:block th:fragment="pageHeader">
    <div class="usa-overlay"></div>
    <header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
        <div class="usa-navbar">
        <a href="/" class="usa-logo display-flex flex-align-center">
            <img th:src="${smallLogoUrl}" class="width-8 padding-right-2">
            <em class="usa-logo__text"
            >
                <span th:text="${civicEntityShortName}"></span>
                <span>CiviForm</span>
            </em
            >
        </a>
        <button type="button" class="usa-menu-btn">Menu</button>
        </div>
        <nav aria-label="Primary navigation" class="usa-nav">
        <button type="button" class="usa-nav__close">
            <img th:src="${closeIcon}" role="img" alt="Close" />
        </button>
        <ul>
            <li>
            <button
                type="button"
                class="usa-button usa-button--outline"
                th:text="#{button.login}"
                id="login-button"
                th:attr="data-redirect-to=${loginLink}"
            ></button>
            </li>
        </ul>
        </nav>
    </div>
    </header>
</th:block>