<th:block th:fragment="pageHeader">
  <div class="usa-overlay"></div>
  <header class="usa-header usa-header--basic" role="banner">
    <div class="usa-nav-container">
      <div class="usa-navbar">
        <a
          href="/"
          class="usa-logo display-flex flex-align-center"
          id="header-return-home"
        >
          <img
            th:src="${smallLogoUrl}"
            class="width-8 padding-right-2"
            th:attr="alt=${civicEntityFullName + ' Logo'}"
          />
          <em class="usa-logo__text">
            <span th:text="${civicEntityShortName}"></span>
            <span>CiviForm</span>
          </em>
        </a>
        <button
          type="button"
          class="usa-menu-btn"
          th:text="#{header.menu}"
        ></button>
      </div>
      <nav aria-label="Primary navigation" class="usa-nav" role="navigation">
        <button type="button" class="usa-nav__close">
          <svg
            th:replace="~{applicant/ApplicantBaseFragment :: icon(${closeIcon})}"
          ></svg>
        </button>
        <th:block th:if="${showDebugTools}">
          <button th:replace="~{this :: showDebugTools}"></button>
        </th:block>
        <button th:replace="~{this :: loginOrLogout}"></button>
        <button th:replace="~{this :: languageSelector}"></button>
      </nav>
    </div>
  </header>
</th:block>

<a
  th:fragment="showDebugTools"
  type="button"
  class="usa-button usa-button--outline"
  id="debug-content-modal-button"
  href="#debug-content-modal"
  data-open-modal
  aria-controls="debug-content-modal"
  >DevTools</a
>

<th:block th:fragment="loginOrLogout">
  <th:block th:if="${isGuest}">
    <span th:text="#{header.guestIndicator}" class="padding-right-1"></span>
    <a
      type="button"
      class="usa-button usa-button--outline"
      th:text="#{header.endSession}"
      id="logout-button"
      th:href="${logoutLink}"
    ></a>
    <a
      type="button"
      class="usa-button usa-button--outline"
      th:text="#{button.login}"
      id="login-button"
      th:href="${loginLink}"
    ></a>
  </th:block>

  <th:block th:if="${!isGuest}">
    <span
      th:text="#{header.userName(${loggedInAs})}"
      class="padding-right-1"
    ></span>
    <a
      type="button"
      class="usa-button usa-button--outline"
      th:text="#{button.logout}"
      id="logout-button"
      th:href="${logoutLink}"
    ></a>
  </th:block>
</th:block>

<div th:fragment="languageSelector">
  <form th:action="${updateLanguageAction}" method="POST">
    <input hidden th:value="${csrfToken}" name="csrfToken" />
    <input hidden th:value="${requestUri}" name="redirectLink" />

    <select
      name="locale"
      onchange="this.form.submit()"
      th:aria-label="#{label.languageSr}"
      class="usa-button"
      id="select-language"
    >
      <option hidden selected="true">Languages</option>
      <option
        class="usa-language__submenu-item"
        th:each="language: ${enabledLanguages}"
        th:value="${language.key.code()}"
        th:text="${language.value}"
      ></option>
    </select>
  </form>
</div>
