<html th:attr="lang=${preferredLanguage.code()}">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body>
    <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>
    <main role="main" class="margin-2">
      <div class="grid-container section">
        <div class="grid-row">
          <div class="tablet:grid-col-8">
            <h1 th:text="#{title.noChangesToSave(${programName})}"></h1>

            <span th:text="#{content.noChanges}"></span>

            <div>
              <a
                class="usa-button"
                role="button"
                id="continue-editing-button"
                th:text="#{button.continueEditing}"
                th:href="${continueEditingHref}"
              >
              </a>
              <a
                class="usa-button"
                role="button"
                id="exit-application-button"
                th:text="#{button.exitApplication}"
                th:href="${exitHref}"
              >
              </a>
            </div>
          </div>
        </div>
      </div>
    </main>
    <div
      th:replace="~{applicant/ModalFragment:: modalContainer(<!--/* showProgramIndexLogin= */-->false,
                                                             <!--/* showReviewLogin= */-->false,
                                                             <!--/* showUpsellLogin= */-->false)}"
    ></div>
    <footer th:replace="~{applicant/NavigationFragment :: pageFooter}"></footer>
  </body>
</html>
