<!--/*
  Shows the program details.
*/-->
<!doctype html>
<html th:attr="lang=${preferredLanguage.code()}">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body>
    <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>
    <main>
      <div
        th:replace="~{applicant/TitleAndDescriptionFragment :: titleAndDescriptionFragment(${programName},${programDescription})}"
      ></div>
      <div class="grid-container section-external">
        <div class="usa-prose">
          <h2 th:text="#{heading.howItWorks}"></h2>
          <p th:text="${programDescription}"></p>
          <p th:if="${!externalLink.isEmpty()}">
            <span th:text="#{content.visitExternalSite.part1}"></span>
            <a class="usa-link" th:href="${externalLink}" th:text="${externalLink}"></a>
            <cf:icon type="launch" class="inline height-205 primary-color-filter" />
            <span th:text="#{content.visitExternalSite.part2}"></span>
          </p>
        </div>
        <div class="usa-prose section-internal">
          <h2 th:text="#{heading.applicationSteps}"></h2>
        </div>
      </div>

    </main>
    <footer th:replace="~{applicant/NavigationFragment :: pageFooter}"></footer>
  </body>
</html>
