<!--/* 
  Shows list of programs.  
  
  Parameters:

  isGuest: Boolean 
    True if the user is a guest, false if user is logged in.

  section: List<ProgramSectionParams>
    List of ProgramSectionParams defining each section.

  loginLink: String
    Server-relative link to login.

  createAccountLink: String
    Server-relative link to create an account

  civicEntityShortName: String
    Name of the civic entity.

  authProviderName: String
    Auth provider, for logging in.

  commonIntakeSection: Optional<ProgramSectionParams>
    An optional which contains the common intake section, if there is one.


*/-->
<!doctype html>
<html th:attr="lang=${preferredLanguage.code()}">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body>
    <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>
    <main>
      <div th:replace="~{components/ToastFragment :: programIndexToasts}"></div>
      <div
        id="top-content"
        class="bg-primary-darker border-y border-primary padding-y-4"
      >
        <div class="grid-container text-white usa-prose">
          <h1 th:text="#{heading.homepage}"></h1>
          <div th:text="#{content.homepageIntro}"></div>
        </div>
      </div>
      <div
        id="programs-list"
        class="grid-container padding-section-large usa-prose"
      >
        <div th:if="${commonIntakeSection.isPresent()}">
          <div
            th:replace="~{applicant/ProgramCardsSectionFragment :: cardsSection(${commonIntakeSection.get()})}"
          ></div>
        </div>
        <div th:if="${myApplicationsSection.isPresent()}" class="usa-prose">
          <h2 th:text="#{title.myApplicationsSection.v2}"></h2>
          <div
            th:replace="~{applicant/ProgramCardsSectionFragment :: cardsSection(${myApplicationsSection.get()})}"
          ></div>
        </div>
        <h2 th:text="#{title.availableProgramsSection}"></h2>
        <div
          th:replace="~{applicant/ProgramFiltersFragment :: programFiltersFragment(${categoryOptions})}"
        ></div>
        <div id="not-started-programs">
          <th:block th:if="${unfilteredSection.isPresent()}">
            <div
              th:replace="~{applicant/ProgramCardsSectionFragment :: cardsSection(${unfilteredSection.get()})}"
            ></div>
          </th:block>
        </div>
      </div>
    </main>
    <footer th:replace="~{applicant/NavigationFragment :: pageFooter}"></footer>
  </body>
</html>
