<!--/* 
  Shows list of programs.  
  
  Parameters:

  isGuest: Boolean 
    True if the user is a guest, false if user is logged in.

  section: List<ProgramSectionParams>
    List of ProgramSectionParams defining each section.

  loginLink: String
    Server-relative link to login.

  createAccountLink: String
    Server-relative link to create an account

  civicEntityShortName: String
    Name of the civic entity.

  authProviderName: String
    Auth provider, for logging in.

  commonIntakeSection: Optional<ProgramSectionParams>
    An optional which contains the common intake section, if there is one.


*/-->
<!doctype html>
<html th:attr="lang=${preferredLanguage.code()}">
  <head
    th:replace="~{applicant/ApplicantBaseFragment :: pageHeaderScriptsAndLinks}"
  ></head>
  <body>
    <div th:replace="~{applicant/NavigationFragment :: pageHeader}"></div>
    <main>
      <div th:replace="~{components/ToastFragment :: programIndexToasts}"></div>
      <div
        id="top-content"
        class="relative flex flex-col items-center bg-blue-900 text-white text-center w-full"
      >
        <h1
          th:text="${isGuest}? #{content.saveTimeServices} : #{content.findPrograms}"
        ></h1>
        <div
          th:text="${isGuest}? #{content.guestDescription(${authProviderName})} : #{content.findProgramsDescription(${civicEntityShortName})}"
        ></div>
        <ul th:if="${isGuest}" class="usa-button-group">
          <li class="usa-button-group__item">
            <button
              type="button"
              class="usa-button usa-button--inverse"
              th:text="#{button.login}"
              id="login-button"
              th:attr="data-redirect-to=${loginLink}"
            ></button>
          </li>
          <li class="usa-button-group__item">
            <button
              type="button"
              class="usa-button usa-button--inverse"
              th:text="#{button.createAccount}"
              id="create-account"
              th:attr="data-redirect-to=${createAccountLink}"
            ></button>
          </li>
        </ul>
      </div>
      <div>
        <div th:if="${myApplicationsSection.isPresent()}">
          <div
            th:replace="~{applicant/ProgramCardsSectionFragment :: cardsSection(${myApplicationsSection.get()})}"
          ></div>
        </div>
        <div th:if="${commonIntakeSection.isPresent()}">
          <div class="grid-container">
            <div class="grid-row">
              <h2 th:text="#{title.getStartedSection}"></h2>
            </div>
          </div>
          <div
            th:replace="~{applicant/ProgramCardsSectionFragment :: cardsSection(${commonIntakeSection.get()})}"
          ></div>
        </div>
        <div
          th:if="${!categoryOptions.isEmpty()}"
          class="grid-container"
          id="category-filter-form"
        >
          <fieldset class="grid-row grid-gap">
            <legend th:text="#{label.programFilters}"></legend>
            <th:block th:each="categoryOption : ${categoryOptions}">
              <div class="filter-chip">
                <input
                  th:id="${'check-category-' + #strings.replace(categoryOption, ' ', '-')}"
                  type="checkbox"
                  name="categories"
                  th:value="${categoryOption}"
                  class="sr-only"
                />
                <label
                  th:for="${'check-category-' + #strings.replace(categoryOption, ' ', '-')}"
                  th:text="${categoryOption}"
                ></label>
              </div>
            </th:block>
          </fieldset>
        </div>
        <th:block th:each="section : ${sections}">
          <div
            th:replace="~{applicant/ProgramCardsSectionFragment :: cardsSection(${section})}"
          ></div>
        </th:block>
      </div>
    </main>
    <footer th:replace="~{applicant/NavigationFragment :: pageFooter}"></footer>
  </body>
</html>
