<!doctype html>

<div
  th:fragment="cardsSection (section)"
  class="cf-application-program-section"
  th:attrappend="aria-labelledby=${section.id().isPresent()}?${section.id().get()}"
>
  <div class="grid-container">
    <div class="grid-row">
      <h3
        th:if="${section.title().isPresent()}"
        th:id="${section.id().get()}"
        th:text="${section.title().get()}"
        class="my-4 text-lg"
      ></h3>
    </div>
  </div>
  <div class="grid-container">
    <ul class="usa-card-group cf-program-card-group">
      <th:block th:each="card : ${section.cards()}">
        <li
          th:replace="~{applicant/ProgramCardsSectionFragment :: card(${card})}"
        ></li>
      </th:block>
    </ul>
  </div>
</div>

<li
  th:fragment="card (card)"
  class="usa-card tablet-lg:grid-col-6 widescreen:grid-col-4 cf-application-card"
>
  <div class="usa-card__container">
    <div class="usa-card__header">
      <img
        th:if="${card.imageSourceUrl().isPresent() and not #strings.isEmpty(card.imageSourceUrl().get())}"
        th:src="${card.imageSourceUrl().get()}"
        th:alt="${card.altText().orElse('')}"
        class="cf-program-card-image"
      />
      <h2
        class="usa-card__heading cf-application-card-title"
        th:text="${card.title()}"
      ></h2>
    </div>

    <div class="usa-card__body">
      <p
        th:if="${card.applicationStatus().isPresent()}"
        class="border rounded-full px-2 py-1 mb-4 gap-x-2 inline-block w-auto bg-blue-100"
      >
        <span th:text="#{title.status}"></span>:
        <span th:text="${card.applicationStatus().get()}"></span>
      </p>
      <p
        th:if="${card.eligible().isPresent()}"
        class="border rounded-full px-2 py-1 mb-4 gap-x-2 inline-block w-auto bg-gray-200"
      >
        <span
          th:text="${card.eligibilityMessage().get()}"
          class="p-2 text-xs font-medium text-black"
          th:classappend="${card.eligible().get()} ? cf-eligible-tag : cf-not-eligible-tag"
        ></span>
      </p>
      <p th:text="${card.body()}"></p>
    </div>
    <div class="usa-card__footer">
      <!--/* TODO(#6902): Check local storage to avoid always showing login dialogs.  */-->
      <a
        th:href="${card.isGuest() ? '#' + card.loginModalId().get() : card.actionUrl()}"
        class="usa-button cf-apply-button"
        th:text="${card.actionText()}"
        th:data-open-modal="${card.isGuest()}"
        th:aria-controls="${card.isGuest() ? card.loginModalId().get() : null}"
      ></a>
    </div>
  </div>
</li>
