<th:block th:fragment="programFiltersFragment(categoryOptions, applicantId)">
  <form
    th:if="${!categoryOptions.isEmpty()}"
    id="ns-category-filter-form"
    hx-get="/programs/hx/filter"
    hx-target="#not-started-programs"
    hx-swap="innerHTML show:top"
  >
    <input
      type="hidden"
      name="applicantId"
      th:value="${applicantId.orElse('')}"
    />
    <fieldset class="usa-fieldset margin-y-3">
      <div class="grid-row">
        <legend
          class="usa-legend margin-bottom-105 cf-prose-h4"
          th:text="#{label.programFilters.v2}"
        ></legend>
      </div>

      <div class="grid-row grid-gap">
        <th:block th:each="categoryOption : ${categoryOptions}">
          <div
            class="usa-checkbox desktop:grid-col-4 tablet:grid-col-6 grid-col-12"
          >
            <input
              th:id="${'ns-check-category-' + #strings.replace(categoryOption, ' ', '-')}"
              type="checkbox"
              name="categories"
              th:value="${categoryOption}"
              class="usa-checkbox__input"
            />
            <label
              th:for="${'ns-check-category-' + #strings.replace(categoryOption, ' ', '-')}"
              th:text="${categoryOption}"
              class="usa-checkbox__label usa-prose"
            ></label>
          </div>
        </th:block>
      </div>

      <div class="grid-row">
        <ul class="usa-button-group margin-top-105">
          <li class="usa-button-group__item">
            <button
              th:text="#{button.applySelections}"
              id="filter-submit"
              type="submit"
              class="usa-button"
            ></button>
          </li>
          <li class="usa-button-group__item">
            <button
              th:text="#{button.clearSelections}"
              id="clear-filters"
              th:attr="hx-get=${refreshUrl}"
              hx-select="#unfiltered-programs"
              hx-target="#not-started-programs"
              class="usa-button usa-button--outline"
            ></button>
          </li>
        </ul>
      </div>
    </fieldset>
  </form>
</th:block>
