<th:block th:fragment="questionSummaryFragment(answerData)">
  <div>
    <!-- Horizontal separator line -->
    <div class="border-t border-base-lighter content"></div>

    <div class="usa-prose container">
      <!-- TODO(#5510): Add indicator for optional questions -->
      <span
        class="grid-col-6 left-align zero-margin mobile-truncate-3"
        th:utext="${answerData.questionHtml()}"
      ></span>
      <span
        class="grid-col-6 right-align zero-margin summary-answer mobile-truncate-3"
        th:text="${answerData.answerText()}"
      ></span>
    </div>
  </div>
</th:block>
