<th:block th:fragment="questionSummaryFragment(answerData)">
  <div>
    <!-- Horizontal separator line -->
    <div class="border-t border-base-lighter content"></div>

    <div class="usa-prose container">
      <!-- TODO(#8793): Add optional * indicator -->
      <span
        class="left-align zero-margin"
        th:text="${answerData.questionText()}"
        th:aria-label="${answerData.questionAriaLabel()}"
      ></span>
      <span
        class="right-align zero-margin summary-answer"
        th:text="${answerData.answerText()}"
      ></span>
    </div>
  </div>
</th:block>
