<!--/*@thymesVar id="templateGlobals" type="views.admin.shared.TemplateGlobals"*/-->
<!--/*@thymesVar id="model" type="views.admin.reporting.AdminReportingPageViewModel"*/-->
<th:block th:fragment="content">
  <h1 th:text="${templateGlobals.pageTitle()}"></h1>
  <div class="grid-container section usa-prose">
    <table class="usa-table">
      <caption th:text="#{caption.submissionsByProgram}"></caption>
      <thead>
        <tr>
          <th scope="col" th:text="#{content.program}"></th>
          <th scope="col" th:text="#{content.submissions}"></th>
          <th scope="col" th:text="#{content.timeToCompleteP25}"></th>
          <th scope="col" th:text="#{content.medianTimeToComplete}"></th>
          <th scope="col" th:text="#{content.timeToCompleteP75}"></th>
          <th scope="col" th:text="#{content.timeToCompleteP99}"></th>
        </tr>
      </thead>
      <tbody>
        <th:block
          th:each="stat : ${model.monthlyStats.totalSubmissionsByProgram}"
        >
          <tr>
            <th scope="row">
              <a
                th:href="${model.getDetailsUrl(stat.programName)}"
                th:text="${stat.enUSLocalizedProgramName()}"
              ></a>
            </th>
            <td th:text="${stat.applicationCount}"></td>
            <td
              th:text="${model.formatDuration(stat.submissionDurationSeconds25p)}"
            ></td>
            <td
              th:text="${model.formatDuration(stat.submissionDurationSeconds50p)}"
            ></td>
            <td
              th:text="${model.formatDuration(stat.submissionDurationSeconds75p)}"
            ></td>
            <td
              th:text="${model.formatDuration(stat.submissionDurationSeconds99p)}"
            ></td>
          </tr>
        </th:block>
      </tbody>
    </table>
    <a
      class="usa-button"
      th:href="${model.getDownloadMonthCsvUrl('APPLICATION_COUNTS_BY_PROGRAM')}"
      th:text="#{button.downloadCsv}"
    >
    </a>
  </div>
  <div class="grid-container section usa-prose">
    <table class="usa-table">
      <caption th:text="#{caption.submissionsByMonth}"></caption>
      <thead>
        <tr>
          <th scope="col" th:text="#{content.month}">Month</th>
          <th scope="col" th:text="#{content.submissions}">Submissions</th>
          <th scope="col" th:text="#{content.timeToCompleteP25}"></th>
          <th scope="col" th:text="#{content.medianTimeToComplete}"></th>
          <th scope="col" th:text="#{content.timeToCompleteP75}"></th>
          <th scope="col" th:text="#{content.timeToCompleteP99}"></th>
        </tr>
      </thead>
      <tbody>
        <th:block
          th:each="stat : ${model.monthlyStats.monthlySubmissionsAggregated}"
        >
          <tr>
            <th
              scope="row"
              th:text="${#dates.format(stat.timestamp.get(), 'MM/yy')}"
            ></th>
            <td th:text="${stat.applicationCount}"></td>
            <td
              th:text="${model.formatDuration(stat.submissionDurationSeconds25p)}"
            ></td>
            <td
              th:text="${model.formatDuration(stat.submissionDurationSeconds50p)}"
            ></td>
            <td
              th:text="${model.formatDuration(stat.submissionDurationSeconds75p)}"
            ></td>
            <td
              th:text="${model.formatDuration(stat.submissionDurationSeconds99p)}"
            ></td>
          </tr>
        </th:block>
      </tbody>
    </table>
    <a
      class="usa-button"
      th:href="${model.getDownloadMonthCsvUrl('APPLICATION_COUNTS_BY_MONTH')}"
      th:text="#{button.downloadCsv}"
    >
    </a>
  </div>
</th:block>
