<!--/*@thymesVar id="templateGlobals" type="views.admin.shared.TemplateGlobals"*/-->
<!--/*@thymesVar id="model" type="views.admin.reporting.AdminReportingProgramPageViewModel"*/-->
<th:block th:fragment="content">
  <h1 th:text="${model.enUSLocalizedProgramName} + ' reporting'"></h1>
  <div class="my-8">
    <p>Data may be up to an hour delayed.</p>
  </div>
  <div class="grid-container section usa-prose">
    <table class="usa-table">
      <caption>
        Submissions by month
      </caption>
      <thead>
        <tr>
          <th scope="col">Month</th>
          <th scope="col">Submissions</th>
          <th scope="col">Time to complete (p25)</th>
          <th scope="col">Median time to complete</th>
          <th scope="col">Time to complete (p75)</th>
          <th scope="col">Time to complete (p99)</th>
        </tr>
      </thead>
      <tbody>
        <th:block th:each="stat : ${model.monthlySubmissionsForProgram}">
          <tr>
            <th
              scope="row"
              th:text="${#dates.format(stat.timestamp.get(), 'MM/yy')}"
            ></th>
            <td th:text="${stat.applicationCount}"></td>
            <td
              th:text="${model.formatDuration(stat.submissionDurationSeconds25p)}"
            ></td>
            <td
              th:text="${model.formatDuration(stat.submissionDurationSeconds50p)}"
            ></td>
            <td
              th:text="${model.formatDuration(stat.submissionDurationSeconds75p)}"
            ></td>
            <td
              th:text="${model.formatDuration(stat.submissionDurationSeconds99p)}"
            ></td>
          </tr>
        </th:block>
      </tbody>
    </table>
    <a
      class="usa-button"
      th:href="${model.getDownloadProgramCsvUrl(model.programSlug)}"
    >
      Download CSV
    </a>
  </div>
</th:block>
