<th:block th:fragment="content">
<!--/* Page specific content here. This block is required. */-->
    <h1><div th:text="${model.icecreamFlavor}"></div></h1>
    <h2>Submissions by program (all programs)</h2>
    <table>
      <thead>
        <tr>
          <th>Program</th>
          <th>Submissions</th>
          <th>Time to complete (p25)</th>
          <th>Median time to complete</th>
          <th>Time to complete (p75)</th>
          <th>Time to complete (p99)</th>
        </tr>
      </thead>
      <tbody>
        <th:block th:each="stat : ${model.monthlyStats.totalSubmissionsByProgram}">
          <tr>
            <td th:text="${stat.programName}"></td>
            <td th:text="${stat.applicationCount}"></td>
            <td th:text="${#numbers.formatDecimal(stat.submissionDurationSeconds25p, 0, 'POINT', 2, 'NONE')}"></td>
            <td th:text="${#numbers.formatDecimal(stat.submissionDurationSeconds50p, 0, 'POINT', 2, 'NONE')}"></td>
            <td th:text="${#numbers.formatDecimal(stat.submissionDurationSeconds75p, 0, 'POINT', 2, 'NONE')}"></td>
            <td th:text="${#numbers.formatDecimal(stat.submissionDurationSeconds99p, 0, 'POINT', 2, 'NONE')}"></td>
          </tr>
        </th:block>
      </tbody>
    </table>

    <!-- Submissions by month (all programs) table -->
    <h2>Submissions by month (all programs)</h2>
    <table>
      <thead>
        <tr>
          <th>Month</th>
          <th>Submissions</th>
          <th>Time to complete (p25)</th>
          <th>Median time to complete</th>
          <th>Time to complete (p75)</th>
          <th>Time to complete (p99)</th>
        </tr>
      </thead>
      <tbody>
        <th:block th:each="stat : ${model.monthlyStats.monthlySubmissionsAggregated}">
          <tr>
            <td th:text="${#dates.format(stat.timestamp.get(), 'MM/yy')}"></td>
            <td th:text="${stat.applicationCount}"></td>
            <td th:text="${#numbers.formatDecimal(stat.submissionDurationSeconds25p, 0, 'POINT', 2, 'NONE')}"></td>
            <td th:text="${#numbers.formatDecimal(stat.submissionDurationSeconds50p, 0, 'POINT', 2, 'NONE')}"></td>
            <td th:text="${#numbers.formatDecimal(stat.submissionDurationSeconds75p, 0, 'POINT', 2, 'NONE')}"></td>
            <td th:text="${#numbers.formatDecimal(stat.submissionDurationSeconds99p, 0, 'POINT', 2, 'NONE')}"></td>
          </tr>
        </th:block>
      </tbody>
    </table>
</th:block>
<!--ICE CREAM https://github.com/civiform/civiform/wiki/Working-with-Admin-Thymeleaf-Pages#code-completion-->
<!--th each to iterate through monthly stats and turn them into a table-->