<!-- https://www.playframework.com/documentation/latest/SettingsLogger -->
<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder>
      <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{20}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />
  <logger name="loggingfilter" level="INFO" />
  <logger name="controllers" level="INFO" />
  <logger name="services" level="INFO" />
  <logger name="s3client" level="INFO" />
  <logger name="io.ebean" level="INFO" />
  <logger name="org.pac4j" level="INFO" />
  <logger name="auth" level="INFO" />
  <logger name="repository.ApplicationRepository" level="INFO" />

  <!-- Increase the level of this one to avoid leaking PII (such as email and name) into logs -->
  <logger name="org.pac4j.saml.credentials.SAML2Credentials" level="WARN"/>

  <!-- Off these ones as they are annoying. -->
  <logger name="com.gargoylesoftware.htmlunit" level="OFF" />
  <logger name="org.apache.http.wire" level="OFF" />

  <root level="WARN">
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>

</configuration>
