<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration>
  <import class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" />
  <import class="ch.qos.logback.classic.AsyncAppender" />
  <import class="ch.qos.logback.core.FileAppender" />
  <import class="ch.qos.logback.core.ConsoleAppender" />

  <appender name="FILE" class="FileAppender">
    <file>${application.home:-.}/logs/application.log</file>
    <encoder class="PatternLayoutEncoder">
      <pattern>%date [%level] from %logger in %thread - %message%n%xException</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ConsoleAppender">
    <encoder class="PatternLayoutEncoder">
      <pattern>%highlight(%-5level) %logger{15} - %message%n%xException{20}</pattern>
    </encoder>
  </appender>

  <appender name="ASYNCFILE" class="AsyncAppender">
    <appender-ref ref="FILE" />
  </appender>

  <appender name="ASYNCSTDOUT" class="AsyncAppender">
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="play" level="INFO" />
  <logger name="application" level="DEBUG" />
  <logger name="loggingfilter" level="INFO" />
  <logger name="controllers" level="INFO" />
  <logger name="services" level="INFO" />
  <logger name="s3client" level="INFO" />
  <logger name="io.ebean" level="INFO" />
  <logger name="org.pac4j" level="INFO" />
  <logger name="auth" level="INFO" />
  <!-- SQL and bind values -->
  <logger name="io.ebean.SQL" level="TRACE"/>

  <!-- Transaction Commit and Rollback events -->
  <logger name="io.ebean.TXN" level="TRACE"/>

  <!-- Increase the level of this one to avoid leaking PII (such as email and name) into logs -->
  <logger name="org.pac4j.saml.credentials.SAML2Credentials" level="WARN" />

  <!-- Off these ones as they are annoying. -->
  <logger name="com.gargoylesoftware.htmlunit" level="OFF" />
  <logger name="org.apache.http.wire" level="OFF" />

  <root level="WARN">
    <appender-ref ref="ASYNCFILE" />
    <appender-ref ref="ASYNCSTDOUT" />
  </root>
</configuration>
