.dockerignore
.git
.gitattributes
.github
.gitignore
.idea
.secrets
Dockerfile
LICENSE
README.md
bin
browser-test
code_of_conduct.md
docker-compose.yml
formatter.Dockerfile
infra
prod.Dockerfile
test-support
server/target
server/project/project
server/project/target
