.bsp/
.Dockerfile.swp
.dockerignore
.DS_Store
.git
.gitattributes
.github
.gitignore
.idea
.log
.secrets
*.swp
bin
browser-test
code_of_conduct.md
docker-compose.yml
Dockerfile
formatter.Dockerfile
prod.Dockerfile
README.md
sbt_cache/*
server/code-coverage/*
server/logs
server/node_modules
server/project/project
server/project/target
server/target
server/public/stylesheets
server/.bsp