/project/
flakes
logs/
server/code-coverage/*
.log/
target/
RUNNING_PID
.Dockerfile.swp
.idea/
*.swp
.bsp/
.DS_Store
.secrets
node_modules
bundle.js
tailwind.css
.dockerlogs
*.pem

*.terraform
*.terraform.lock.hcl
*.tfvars
cloud/**/backend_vars
/cloud/deploys/dev_azure/civiform_config.sh
/cloud/deploys/dev_aws/civiform_config.sh
*_override.tf
!*example.auto.tfvars
terraform.tfstate**
.terraform.tfstate**
*.pyc
terraform_plan

sbt_cache/*
!sbt_cache/.keep
/browser-test/sbt_cache/*
!/browser-test/sbt_cache/.keep
test-support/sbt_cache/

*/.classpath
*/.vscode
*/.project
**/.data
**/.metals/
**/.bloop/
**/.ammonite/
**/metals.sbt
**/pom.xml
