# System & editors
.DS_Store
.idea/
.project
.vscode
*.iml
*.swp
diff_output/
updated_snapshots/

# Test artifacts
.log
flakes
logs/

# sbt artifacts
.bsp/
*.pem
**/.ammonite/
**/.bloop/
**/.data
**/.metals/
**/metals.sbt
*/.classpath
/browser-test/sbt_cache/*
!/browser-test/sbt_cache/.keep
sbt_cache/*
!sbt_cache/.keep
server/.settings/org.eclipse.*
target/
test-support/sbt_cache/

# top-level project folder from running sbt in the wrong location
/project/

# node packages
bundle.js
node_modules

# Terraform & docker artifacts
.dockerlogs
.terraform.tfstate**
*_override.tf
*.pyc
*.terraform
*.terraform.lock.hcl
*.tfvars
*_backend_vars
backend_vars
terraform_plan
terraform.tfstate**
!*example.auto.tfvars

# secrets, run files, & exports
.secrets
*.bkp
*.dump
*civiform_config.sh
civiform_config.sh
gh-release-token.txt
pom.xml
RUNNING_PID
server/code-coverage/*

# Compiled css
tailwind.css

# env-var-doc python things
env-var-docs/venv
env-var-docs/**/*build
env-var-docs/**/*.egg*
.coverage
coverage.xml

# Python
.venv/
__pycache__/

# Output of bin/dependency-tree
dependency-tree.txt
server/dependency-tree.txt
dependencies-compile.graphml
server/dependencies-compile.graphml