/project/
flakes
logs/
.log/
target/
RUNNING_PID
.Dockerfile.swp
.idea/
*.swp
.bsp/
.DS_Store
.secrets
node_modules
bundle.js
tailwind.css
*.pem
package-lock.json 

*.terraform
*.terraform.lock.hcl
**.tfvars
terraform.tfstate**
