# Note: for changes to this file to take effect the formatter docker image
#       must be rebuilt and pushed using bin/build-formatter

node_modules
project
target
public
code-coverage
logs
.terraform

.classpath
.project
.data
.metals
.bloop
.bsp
.ammonite
sbt_cache

.mypy_cache
.pytest_cache
env-var-docs/venv
htmlcov
coverage.yml
.coverage
