# Builds on docker-compose.yml
# Mount code for hot reloading and cache for faster compile in dev mode.

# Shared yaml extensions (https://docs.docker.com/compose/compose-file/compose-file-v3/#extension-fields)
# Volume mapping shared between containers.
# Volumes to un-shadow build directories under server are created in the dockerfile.
x-sbt-volumes:
  volumes: &sbt-volumes
    - ./server:/usr/src/server:z

services:
  dev-oidc:
    ports:
      - 3390:3390

  civiform:
    build: .
    volumes: *sbt-volumes
    stdin_open: true # docker run -i
    tty: true # docker run -t
    restart: always
    ports:
      - 9000:9000
      - 8457:8457
      - 5173:5173     # vite dev server
      - 50000:50000

  civiform-shell:
    image: civiform-dev
    entrypoint: /bin/bash
    profiles: ['shell']
    volumes: *sbt-volumes
    stdin_open: true # docker run -i
    tty: true # docker run -t

  localstack:
    ports:
      - 4566:4566

  azurite:
    ports:
      - 10000:10000

  mock-web-services:
    image: civiform-mock-web-services

  db:
    image: postgres:16.11@sha256:f992505e18f114c1e5102ac4dcf00f791b44462f6a423d899320f0bbf80e386f
    stdin_open: true
    tty: true
    volumes:
      # isolate and persist dev database.
      - project-data:/project
      - db-data:/var/lib/postgresql/data
      - ./init_postgres.sql:/docker-entrypoint-initdb.d/init_postgres.sql

  pgadmin:
    profiles: ['pgadmin']
    image: dpage/pgadmin4:9.11@sha256:50700ac17936d0227f9e3e4bb086a91efb67064debc4b4737c35545bf1564088
    restart: always
    depends_on:
      - db
    volumes:
      - /tmp/servers.json:/pgadmin4/servers.json
      - db-data:/var/lib/postgresql/data
    ports:
      - 8012:80
    environment:
      PGADMIN_DEFAULT_EMAIL: user@localhost.localdomain
      PGADMIN_DEFAULT_PASSWORD: password
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
      PGADMIN_CONFIG_WTF_CSRF_ENABLED: 'False'

  prometheus:
    profiles: ['monitoring']
    image: prom/prometheus:v3.9.1@sha256:1f0f50f06acaceb0f5670d2c8a658a599affe7b0d8e78b898c1035653849a702
    restart: unless-stopped
    volumes:
      - ./monitoring/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus-data:/prometheus

  grafana:
    profiles: ['monitoring']
    image: grafana/grafana:12.3.2@sha256:ba93c9d192e58b23e064c7f501d453426ccf4a85065bf25b705ab1e98602bfb1
    depends_on:
      - prometheus
    restart: unless-stopped
    ports:
      - 8013:3000
    environment:
      GF_AUTH_ANONYMOUS_ENABLED: true
    volumes:
      - ./monitoring/grafana/provisioning/dashboards:/etc/grafana/provisioning/dashboards
      - ./monitoring/grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./monitoring/grafana/dashboards:/var/lib/grafana/dashboards
      - grafana-data:/var/lib/grafana

volumes:
  db-data:
    driver: local
  grafana-data:
    driver: local
  node_modules-data:
    driver: local
  project-data:
    driver: local
  project-target-data:
    driver: local
  prometheus-data:
    driver: local
  target:
    driver: local
