# Use postgres/example user/password credentials
version: '3.4'

services:
  localstack:
    image: localstack/localstack
    profiles: [ "aws", "emulator" ]
    expose:
      - "4566"
    environment:
      - SERVICES=s3,ses

  azurite:
     image: mcr.microsoft.com/azure-storage/azurite
     profiles: ["azure", "emulator"]
     expose:
      - "10000"

  # The dev oidc server needs to be visible to the Civiform server and web browsers
  # on the same host:port. Developers need to add a localhost IP alias for this
  # container name in their /etc/hosts file for the web brower to load the auth url.
  # EG: 127.0.0.1 dev-oidc
  dev-oidc:
    image: docker.io/civiform/oidc-provider:latest
    restart: always
    expose:
      - 3390
    environment:
      # Use an explicit port to not conflict with other test instances.
      - OIDC_PORT=3390

  db:
    image: postgres:12.10
    restart: always
    expose:
      - "5432"
    environment:
      POSTGRES_PASSWORD: example

  civiform:
    image: civiform-dev
    restart: always
    links:
      - "db:database"
      - "dev-oidc"
    expose:
      - "9000"
      - "8457"
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-test}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-test}
      - AWS_SESSION_TOKEN=${AWS_SESSION_TOKEN:-test}
      - AWS_REGION
      - AWS_SES_SENDER
      - AWS_S3_BUCKET_NAME
      - AZURE_CLIENT_ID=${AZURE_CLIENT_ID:-test}
      - AZURE_LOCAL_CONNECTION_STRING
      - AZURE_STORAGE_ACCOUNT_NAME
      - AZURE_STORAGE_ACCOUNT_CONTAINER
      - JAVA_TIME_ZONE_ID
      - STORAGE_SERVICE_NAME
      - LOGIN_RADIUS_API_KEY
      - LOGIN_RADIUS_METADATA_URI
      - LOGIN_RADIUS_SAML_APP_NAME
      - LOGIN_RADIUS_PRIVATE_KEY_PASS
      - LOGIN_RADIUS_KEYSTORE_PASS
      - LOGIN_RADIUS_KEYSTORE_NAME
      - CIVIFORM_APPLICANT_IDP
      - CIVIFORM_ADMIN_IDP
      # Hard coded in test-support/test_oidc_provider.js
      - IDCS_CLIENT_ID=foo
      - IDCS_SECRET=bar
      - IDCS_DISCOVERY_URI=http://dev-oidc:3390/.well-known/openid-configuration
      - ADFS_CLIENT_ID
      - ADFS_SECRET
      - CF_OPTIONAL_QUESTIONS
      - WHITELABEL_SMALL_LOGO_URL
      - WHITELABEL_LOGO_WITH_NAME_URL
      - WHITELABEL_CIVIC_ENTITY_SHORT_NAME
      - WHITELABEL_CIVIC_ENTITY_FULL_NAME
    command: ~run -Dconfig.file=conf/application.dev.conf
