# Use postgres/example user/password credentials
version: '3.1'

services:

  localstack:
    image: localstack/localstack
    profiles: ["aws"]
    container_name: localstack
    ports:
      - 4566:4566
    environment:
      - SERVICES=s3,ses

  azurite:
     image: mcr.microsoft.com/azure-storage/azurite
     profiles: ["azure"]
     container_name: azurite
     ports:
      - 10000:10000

  db:
    image: postgres:12.5
    restart: always
    container_name: postgres
    ports:
      - 5432:5432
    environment:
      POSTGRES_PASSWORD: example

  civiform:
    image: civiform
    restart: always
    container_name: civiform
    links:
      - "db:database"
    ports:
      - 9000:9000
      - 8457:8457
    environment:
      - AWS_ACCESS_KEY_ID=${AWS_ACCESS_KEY_ID:-test}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY:-test}
      - AWS_SESSION_TOKEN=${AWS_SESSION_TOKEN:-test}
      - AWS_REGION
      - AWS_SES_SENDER
      - AWS_S3_BUCKET_NAME
      - AZURE_CLIENT_ID=${AZURE_CLIENT_ID:-test}
      - AZURE_LOCAL_CONNECTION_STRING
      - AZURE_STORAGE_ACCOUNT_NAME
      - AZURE_STORAGE_ACCOUNT_CONTAINER
      - IDCS_CLIENT_ID
      - IDCS_SECRET
      - ADFS_CLIENT_ID
      - ADFS_SECRET
      - CF_OPTIONAL_QUESTIONS
      - WHITELABEL_SMALL_LOGO_URL
      - WHITELABEL_LOGO_WITH_NAME_URL
      - WHITELABEL_CIVIC_ENTITY_SHORT_NAME
      - WHITELABEL_CIVIC_ENTITY_FULL_NAME

    command: -jvm-debug "*:8457" ~run -Dconfig.file=conf/application.dev.conf
