# Use postgres/example user/password credentials
version: '3.1'

services:

  db:
    image: postgres:12.5
    restart: always
    environment:
      POSTGRES_PASSWORD: example

  uat:
    image: uat
    restart: always
    container_name: play
    links:
      - "db:database"
    ports:
      - 9000:9000
    build: .
    volumes:
      - ./universal-application-tool-0.0.1:/usr/src/universal-application-tool-0.0.1
    command: sbt ~run
