# Builds on docker-compose.yml
# Mount code for hot reloading and cache for faster compile in dev mode.
version: '3.4'

# Shared yaml extensions (https://docs.docker.com/compose/compose-file/compose-file-v3/#extension-fields)
# Volume mapping shared between containers.
x-sbt-volumes:
  volumes: &sbt-volumes
    - ./server:/usr/src/server
    # Un-shadow the build directories under server.
    - target:/usr/src/server/target
    - node_modules-data:/usr/src/server/node_modules
    - project-data:/usr/src/server/project/project
    - project-target-data:/usr/src/server/project/target

services:
  dev-oidc:
    ports:
      - 3390:3390

  civiform:
    build: .
    volumes: *sbt-volumes
    stdin_open: true # docker run -i
    tty: true        # docker run -t
    ports:
      - 9000:9000
      - 8457:8457
    command: -jvm-debug "*:8457" ~run -Dconfig.file=conf/application.dev.conf

  civiform-shell:
    image: civiform-dev
    entrypoint: /bin/bash
    profiles: ["shell"]
    volumes: *sbt-volumes
    stdin_open: true # docker run -i
    tty: true        # docker run -t

  localstack:
    # Overrides the localstack image used to work around
    # https://github.com/seattle-uat/civiform/issues/2639.
    # Note that we don't set this in the base template
    # since it's not necessary for CI / browser test runs.
    image: civiform-localstack
    ports:
      - 4566:4566
  azurite:
     ports:
      - 10000:10000
      
  dev-oidc:
    ports:
      - 3390:3390

  db:
    image: postgres:12.11
    stdin_open: true
    tty: true
    volumes:
      # isolate and persist dev database.
      - project-data:/project
      - db-data:/var/lib/postgresql/data

  pgadmin:
    profiles: ["pgadmin"]
    image: dpage/pgadmin4
    restart: always
    depends_on:
      - db
    volumes:
      - /tmp/servers.json:/pgadmin4/servers.json
      - db-data:/var/lib/postgresql/data
    ports:
      - 8012:80
    environment:
      PGADMIN_DEFAULT_EMAIL: user@localhost.localdomain
      PGADMIN_DEFAULT_PASSWORD: password
      PGADMIN_CONFIG_SERVER_MODE: "False"
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"

volumes:
  db-data:
    driver: local
  node_modules-data:
    driver: local
  project-data:
    driver: local
  project-target-data:
    driver: local
  target:
    driver: local
