# Builds on unit-test-docker-compose.yml
# Mount code for hot reloading and cache for faster compile in dev mode.
services:
  civiform:
    volumes:
      - ../server:/usr/src/server
      - target:/usr/src/server/target
      - node_modules-data:/usr/src/server/node_modules
      - project-data:/usr/src/server/project/project
      - project-target-data:/usr/src/server/project/target
      - project-coverage:/usr/src/server/target/scala-2.13/jacoco/report
      - coursier-data:/root/.cache/coursier
      - sbt-data:/root/.sbt
      - ivy2-data:/root/.ivy2
      - m2-data:/root/.m2

volumes:
  node_modules-data:
    driver: local
  project-data:
    driver: local
  project-target-data:
    driver: local
  coursier-data:
    driver: local
  sbt-data:
    driver: local
  ivy2-data:
    driver: local
  m2-data:
    driver: local
  target:
    driver: local
  project-coverage:
    driver: local
