# Use postgres/example user/password credentials
services:
  db:
    image: postgres:12.5
    restart: always
    expose:
      - "5432"
    environment:
      POSTGRES_PASSWORD: example

  oidc:
    image: civiform/oidc-provider
    restart: always
    ports: # For debugging
      - 3380:3380

  civiform:
    image: civiform-dev
    restart: always
    links:
      - "db:database"
      - "oidc"
    volumes:
      - ../server/code-coverage:/usr/src/server/code-coverage
    entrypoint: /bin/bash
    tty: true        # keep the container running
    stdin_open: true
    ports: # For debugging
      - 9100:9000
      - 8459:8459
    environment:
      - IDCS_CLIENT_ID=foo
      - IDCS_SECRET=bar
      - IDCS_DISCOVERY_URI=http://oidc:3380/.well-known/openid-configuration
      - DB_JDBC_STRING=jdbc:postgresql://database:5432/postgres
      - BASE_URL=http://civiform:9000
      - CIVIFORM_TIME_ZONE_ID
