# Use postgres/example user/password credentials
services:
  db:
    image: postgres:12.5
    restart: always
    expose:
      - "5432"
    environment:
      POSTGRES_PASSWORD: example

  oidc:
    image: civiform/oidc-provider
    restart: always
    expose:
      - "3380"

  civiform:
    image: civiform-dev
    restart: always
    links:
      - "db:database"
      - "oidc"
    volumes:
      - ./server:/usr/src/server
      - ./sbt_cache/coursier:/root/.cache/coursier
      - ~/.sbt:/root/.sbt
      - ~/.ivy:/root/.ivy2
    entrypoint: /bin/bash
    tty: true        # keep the container running
    stdin_open: true
    ports: # For debugging
      - 9100:9000
      - 8459:8459
