# Use postgres/example user/password credentials
services:
  db:
    image: postgres:16.8@sha256:e95b0cb95f719e0ce156c2bc5545c89fbd98a1a692845a5331ddc79ea61f1b1e
    restart: always
    expose:
      - '5432'
    environment:
      POSTGRES_PASSWORD: example
    volumes:
      - ../init_postgres.sql:/docker-entrypoint-initdb.d/init_postgres.sql

  dev-oidc:
    image: civiform-oidc-provider
    restart: always
    expose:
      - 3390
    environment:
      - OIDC_PORT=3390

  civiform:
    image: civiform-dev
    restart: always
    links:
      - 'db:database'
      - 'dev-oidc'
    volumes:
      - ../server/code-coverage:/usr/src/server/code-coverage
    entrypoint: /bin/bash
    tty: true # keep the container running
    stdin_open: true
    ports: # For debugging
      - 9100:9000
      - 8459:8459
    environment:
      - AWS_ACCESS_KEY_ID=testAccessKey
      - AWS_SECRET_ACCESS_KEY=testSecretKey
      - AWS_SESSION_TOKEN=testSession
      - IDCS_CLIENT_ID=idcs-fake-oidc-client
      - IDCS_SECRET=idcs-fake-oidc-secret
      - IDCS_DISCOVERY_URI=http://dev-oidc:3390/.well-known/openid-configuration
      - DB_JDBC_STRING=jdbc:postgresql://database:5432/postgres
      - BASE_URL=http://localhost:9000
      - CIVIFORM_TIME_ZONE_ID
