<!-- TODO(#11161): Update styling to match design specifications -->
<div id="geoJsonOutput">
  <label for="maxLocationSelections" th:inline="text">
    [[#{map.maxLocationSelectionsLabel}]]
    <span title="required" class="usa-hint usa-hint--required">*</span> </label
  ><input
    class="usa-input"
    name="maxLocationSelections"
    id="maxLocationSelections"
    type="number"
    th:value="${model.maxLocationSelections.isPresent() && model.maxLocationSelections.getAsInt()}"
  />
  <label class="usa-label" for="locationName.key" th:inline="text">
    [[#{map.locationNameLabel}]]
    <span title="required" class="usa-hint usa-hint--required">*</span>
  </label>
  <select class="usa-select" name="locationName.key" id="locationName.key">
    <option value th:text="#{map.selectOptionPlaceholderText}"></option>
    <option
      th:each="key: ${model.possibleKeys}"
      th:value="${key}"
      th:text="${key}"
      th:selected="${key == model.locationName.key}"
    ></option>
  </select>
  <label class="usa-label" for="locationAddress.key" th:inline="text">
    [[#{map.locationAddressLabel}]]
    <span title="required" class="usa-hint usa-hint--required">*</span>
  </label>
  <select
    class="usa-select"
    name="locationAddress.key"
    id="locationAddress.key"
  >
    <option value th:text="#{map.selectOptionPlaceholderText}"></option>
    <option
      th:each="key: ${model.possibleKeys}"
      th:value="${key}"
      th:text="${key}"
      th:selected="${key == model.locationAddress.key}"
    ></option>
  </select>
  <label class="usa-label" for="locationDetailsUrl.key" th:inline="text">
    [[#{map.locationDetailsUrlLabel}]]
    <span title="required" class="usa-hint usa-hint--required">*</span>
  </label>
  <select
    class="usa-select"
    name="locationDetailsUrl.key"
    id="locationDetailsUrl.key"
  >
    <option value th:text="#{map.selectOptionPlaceholderText}"></option>
    <option
      th:each="key: ${model.possibleKeys}"
      th:value="${key}"
      th:text="${key}"
      th:selected="${key == model.locationDetailsUrl.key}"
    ></option>
  </select>

  <div th:text="#{map.addFiltersTitle}"></div>
  <div th:text="#{map.addFiltersSubtitle}"></div>
  <div id="filters">
    <div th:each="filter, i : ${model.filters}">
      <div
        th:insert="~{admin/questions/MapQuestionSettingsFilterFragment :: filterInput(${i.index}, ${model.possibleKeys}, ${model.hxDeleteMapQuestionFilterEndpoint}, ${filter.key}, ${filter.displayName})}"
      ></div>
    </div>
  </div>
  <input type="hidden" name="possibleKeys" th:value="${model.possibleKeys}" />
  <button
    th:hx-post="${model.hxAddMapQuestionFilterEndpoint}"
    hx-include="closest form"
    hx-swap="beforeend"
    hx-target="#filters"
    id="add-map-filter-button"
    type="button"
    class="add-map-filter usa-button usa-button--outline"
    th:text="#{map.addFilterButton}"
  ></button>
</div>
