<th:block
  th:fragment="filterInput(index, possibleKeys, hxDeleteMapFilterEndpoint, selectedKey, displayNameValue)"
>
  <div
    class="display-flex flex-justify filter-input"
    th:with="keyId=|filter-${index}-key|, displayNameId=|filter-${index}-displayName|"
  >
    <div>
      <label class="usa-label" th:for="${keyId}" th:inline="text">
        [[#{map.keyLabel}]]
        <span title="required" class="usa-hint usa-hint--required">*</span>
      </label>
      <select
        data-testid="key-select"
        class="usa-select"
        th:name="'filters[' + ${index} + '].key'"
        th:id="${keyId}"
      >
        <option value th:text="#{map.selectOptionPlaceholderText}"></option>
        <option
          th:each="key : ${possibleKeys}"
          th:value="${key}"
          th:text="${key}"
          th:selected="${selectedKey != null && key == selectedKey}"
        ></option>
      </select>
      <label class="usa-label" th:for="${displayNameId}" th:inline="text">
        [[#{map.displayNameLabel}]]
        <span title="required" class="usa-hint usa-hint--required">*</span>
      </label>
      <input
        data-testid="display-name-input"
        class="usa-input"
        th:name="'filters[' + ${index} + '].displayName'"
        th:id="${displayNameId}"
        th:value="${displayNameValue}"
      />
    </div>
    <button
      type="button"
      class="cf-map-question-filter-button usa-button usa-button--unstyled flex-align-self-end"
      aria-label="Delete filter"
      th:hx-post="${hxDeleteMapFilterEndpoint}"
      th:hx-target="${'closest div[class*=filter-input]'}"
      hx-swap="outerHTML"
    >
      <cf:icon type="icon-delete" />
    </button>
  </div>
</th:block>
