@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  button {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  }
  button:hover {
    @apply bg-blue-700;
  }
}
