/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  margin: 0;
  padding: 0;
}

.hidden {
  display: none;
}

.cf-file-uploading-tag {
  background-color: #fff7bf;
  color: #594d00;
  display: none;
}

/* If a file is being uploaded, show the file uploading tag... */
.cf-file-uploading .cf-file-uploading-tag {
  display: inline-block;
}

/* ... and apply disabled styling to any interactive elements. */
.cf-file-uploading .cf-disable-when-uploading {
  background-color: white;
  color: #9ca3af;
  border: 1px solid #9ca3af;
  pointer-events: none;
  cursor: default;
}
