/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
To use a USWDS mixin with a USWDS design token,
do this:  @include <mixin name>('<design-token>')
See the radio-option below as an example.
*/

@use 'uswds-core' as *;

.cf-alert {
  @include u-maxw('desktop');
  margin: 0 auto;
}

.usa-alert .usa-alert__heading {
  font-weight: font-weight('bold');
}

.cf-radio-option:focus-within {
  @include u-border('blue-40v');
}

/*
 * Make the file input element for program image upload fill the area it's given.
 * (This overrides the default USWDS style of a max-width of 30rem.)
 */
#program-image-upload-file-input .usa-file-input {
  max-width: none;
}

.cf-question-error-message {
  @include u-text('secondary-dark', 'bold');
  @include u-font('sans', 'xs');
  @include u-padding-top('05');
}

.cf-question-field-with-error {
  @include u-border-left('05', 'secondary-dark');
}

/*
 * Less padding when there is an error, since we add a border and still want the inputs to line up.
 */
.cf-applicant-question-field.cf-question-field-with-error {
  @include u-padding-left('105');
}

/**
 * Reduce default padding on labels within question to match spacing mocks.
 */
.cf-applicant-question-field .usa-label {
  @include u-margin-top('105');
}

/**
 * Remove top margin because other surrounding elements add this margin.
 */
.usa-legend,
.cf-question-date .usa-memorable-date .usa-form-group {
  margin-top: 0;
}

.cf-north-star-enumerator-field {
  @include u-padding-y('105');
}

.cf-north-star-enumerator-field:last-child {
  @include u-padding-bottom(0);
}

.content-spacing {
  @include u-height('105');
}

.section {
  @include u-padding-y(3);
}

.section-spacing {
  @include u-height(3);
}

.container {
  @include u-padding-y(2);
}

.text-medium-spacing {
  @include u-height(1);
}

.content {
  @include u-margin-y('105');
}

// This should only be used to override styling.
// Prefer using class="usa-prose" in parent element where possible.
.cf-prose-h4 {
  @include u-font('sans', 'sm');
  font-weight: font-weight('bold');
  @include u-line-height('sans', $theme-heading-line-height);
}

// Styles for desktop
@media (min-width: 64em) {
  // The USWDS header doesn't give enough space for the logo and title, so we add some.
  .usa-header--basic .usa-navbar {
    width: 50%;
  }

  .usa-header--basic .usa-nav {
    @include u-padding-top(4);
    @include u-padding-bottom(2);
  }
}

// Styles common to tablet and mobile
@media (max-width: 63.9em) {
  .usa-nav .usa-button,
  .usa-nav span {
    margin-top: 8px;
  }
}

// Styles for mobile
@media (max-width: 47.9em) {
  // Hide the logo on mobile
  .cf-header-logo {
    display: none;
  }

  // Use a single column on mobile
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.usa-header--basic .usa-button {
  @include u-line-height('sans', 2);
}

/**
 * Default form styles add a bottom margin to forms, but we don't want that for the language
 * selector as it would mess with header styles.
 */

.usa-header--basic form {
  @include u-margin-bottom(0);
}

/**
 * We use h1 instead of h4 as a progress bar heading for a11y reasons, but we want to keep the
 * USWDS styles, so we ignore the default line height of h1 elements.
 */
h1.usa-step-indicator__heading {
  line-height: inherit;
}

.cf-program-card-image {
  height: 162px;
  align-self: stretch;
}

.usa-footer__primary-content .usa-footer__primary-link {
  text-decoration: underline;
}

.expanding-div {
  flex-grow: 1;
}

.cf-block-form {
  width: 100%;
  max-width: 100%;
}

.cf-block-form .cf-input-large {
  max-width: 380px;
}

.cf-applicant-question-help-text {
  max-width: 480px;
}

// Let the body expand to fill the entire viewport
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Allow main content to grow and push footer down
main {
  flex: 1 0 auto;
}

// Tablet: Program card grid has 2 columns
@media (min-width: 40em) {
  .cf-program-card-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
}

// Desktop: Program card grid has 3 columns
@media (min-width: 64em) {
  .cf-program-card-group {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.cf-application-card {
  display: grid;
}
