@use 'uswds-core' as *;

/*
 * Create a CSS variable for each USWDS Sass color variable.
 * The CSS variables will be accessibile after the Sass has been
 * compiled away, but the Sass variables will not be.
 */
:root {
    @each $name, $value in $assignments-theme-color {
      @if $value {
        --#{$name}: #{color($name)};
      }
    }
  }
  
  .usa-button:not(.usa-button--outline) {
    background-color: var(--primary);
  }
  
  .usa-button.usa-button--outline,
  .usa-button.usa-button--unstyled {
    background-color: transparent;
    color: var(--primary);
  }
  
  .usa-button.usa-button--outline {
    box-shadow: 0 0 0 2px var(--primary);
  }
  
  .usa-button.usa-modal__close {
    background-color: transparent;
    color: var(--primary);
  }