<div
  th:fragment="currency(question, questionRendererParams)"
  th:with="currencyQuestion=${question.createCurrencyQuestion()},
             questionId=${'id-' + #strings.randomAlphanumeric(8)},
             inputId=${'id-' + #strings.randomAlphanumeric(8)},
             fieldErrors=${currencyQuestion.getValidationErrors().get(currencyQuestion.getCurrencyPath())},
             questionErrors=${currencyQuestion.getValidationErrors().get(question.getContextualizedPath())},
             hasErrors=${questionRendererParams.shouldShowErrors() && !currencyQuestion.getValidationErrors().isEmpty()}"
  th:id="${questionId}"
  th:class="cf-applicant-question-field"
  th:classappend="${hasErrors ? 'cf-question-field-with-error' : ''}"
  data-testid="questionRoot"
>
  <!--/* Title and Help Text */-->
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: titleAndHelpTextSingleInput(${question}, ${questionId}, ${inputId})}"
  ></div>

  <!--/* Display errors */-->
  <th:block th:if="${fieldErrors == null || fieldErrors.isEmpty()}">
    <div
      th:replace="~{questiontypes/QuestionBaseFragment :: validationErrors(${questionErrors}, ${questionRendererParams})}"
    ></div>
  </th:block>
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: validationErrors(${fieldErrors}, ${questionRendererParams})}"
  ></div>

  <div
    class="usa-input-group"
    th:classappend="${hasErrors ? 'usa-input-group--error' : ''}"
  >
    <div class="usa-input-prefix">$</div>
    <input
      th:with="value=${currencyQuestion.getCurrencyValue().isPresent() ?
                                currencyQuestion.getCurrencyValue().get().prettyPrint() :
                                currencyQuestion.getFailedUpdates().getOrDefault(currencyQuestion.getCurrencyPath(), '')}"
      class="usa-input"
      inputmode="decimal"
      currency
      th:id="${inputId}"
      th:name="${currencyQuestion.getCurrencyPath()}"
      th:value="${value}"
      th:aria-describedby="${questionId} + '-description'"
      th:aria-required="${!question.isOptional()}"
      th:aria-invalid="${hasErrors}"
      th:autofocus="${questionRendererParams.autofocusFirstError()}"
    />
  </div>
</div>
