<div th:fragment="date (question, questionRendererParams)" class="cf-question-date">
  <fieldset
    class="usa-fieldset"
    th:with="dateQuestion=${question.createDateQuestion()}"
  >
    <!-- Title and Help Text -->
    <div
      th:replace="~{questiontypes/QuestionBaseFragment :: titleAndHelpTextMultipleInput(${question}, ${questionId})}"
    ></div>

    <div class="usa-memorable-date">
      <div class="usa-form-group usa-form-group--month usa-form-group--select cf-date-month">
        <label class="usa-label" for="date_of_birth_month">Month</label>
        <select
          class="usa-select"
          id="date_of_birth_month"
          th:name="${dateQuestion.getMonthPath()}"
        >
          <option value>- Select -</option>
          <option value="1">01 - January</option>
          <option value="2">02 - February</option>
          <option value="3">03 - March</option>
          <option value="4">04 - April</option>
          <option value="5">05 - May</option>
          <option value="6">06 - June</option>
          <option value="7">07 - July</option>
          <option value="8">08 - August</option>
          <option value="9">09 - September</option>
          <option value="10">10 - October</option>
          <option value="11">11 - November</option>
          <option value="12">12 - December</option>
        </select>
      </div>
      <div class="usa-form-group usa-form-group--day cf-date-day">
        <label class="usa-label" for="date_of_birth_day">Day</label>
        <input
          class="usa-input"
          aria-describedby="mdHint"
          id="date_of_birth_day"
          th:name="${dateQuestion.getDayPath()}"
          maxlength="2"
          pattern="[0-9]*"
          inputmode="numeric"
          value=""
        />
      </div>
      <div class="usa-form-group usa-form-group--year cf-date-year">
        <label class="usa-label" for="date_of_birth_year">Year</label>
        <input
          class="usa-input"
          aria-describedby="mdHint"
          id="date_of_birth_year"
          th:name="${dateQuestion.getYearPath()}"
          minlength="4"
          maxlength="4"
          pattern="[0-9]*"
          inputmode="numeric"
          value=""
        />
      </div>
    </div>
  </fieldset>
</div>
