<div
  th:fragment="dropdown(question, questionRendererParams)"
  th:with="singleSelectQuestion=${question.createSingleSelectQuestion()},
              questionId=${'id-' + #strings.randomAlphanumeric(8)},
              inputId=${'id-' + #strings.randomAlphanumeric(8)},
              questionErrors=${singleSelectQuestion.getValidationErrors().get(question.getContextualizedPath())},
              hasErrors=${questionRendererParams.shouldShowErrors() && questionErrors != null && !questionErrors.isEmpty()}"
  th:id="${questionId}"
  class="cf-applicant-question-field cf-dropdown-question"
  th:classappend="${hasErrors ? 'cf-question-field-with-error' : ''}"
  data-testid="questionRoot"
>
  <!--/* Title and Help Text */-->
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: titleAndHelpTextSingleInput(${question}, ${questionId}, ${inputId})}"
  ></div>

  <!--/* Display errors */-->
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: validationErrors(${questionErrors}, ${questionRendererParams})}"
  ></div>

  <select
    class="usa-select cf-input-large"
    th:classappend="${hasErrors ? 'usa-input--error' : ''}"
    name="options"
    th:id="${inputId}"
    th:name="${singleSelectQuestion.getSelectionPath()}"
    th:aria-required="${!question.isOptional()}"
    th:aria-describedby="${questionId} + '-description'"
    th:autofocus="${questionRendererParams.autofocusFirstError()}"
  >
    <option
      value
      hidden
      th:selected="${!singleSelectQuestion.hasValue()}"
      th:text="#{placeholder.noDropdownSelection}"
    ></option>
    <option
      th:each="option,iterator: ${singleSelectQuestion.getOptions()}"
      th:value="${option.id()}"
      th:text="${option.optionText()}"
      th:selected="${singleSelectQuestion.optionIsSelected(option)}"
    ></option>
  </select>
</div>
