<div th:fragment="email-question" class="mb-2">
    <label th:for="${id}" class="sr-only" th:text="${ariaLabel}"></label>
    <div class="flex flex-col">
        <input th:id="${id}" th:name="${name}"
            type="email" inputmode="email" autocomplete="email"
            th:value="${value}" maxlength="10000"
            th:aria-required="${required}" th:aria-describedby="${ariaDescribedByIds}" th:aria-invalid="${!errors.isEmpty()}"
            class="px-3 bg-white text-black text-lg py-2 block outline-none box-border m-auto border border-gray-500 rounded-lg w-full focus:border-seattle-blue placeholder-gray-500"
            th:attr="autofocus=${autofocus ? true : null}">
        <div th:id="${id + '-errors'}" class="text-red-600 text-xs p-1" th:classappend="${errors.isEmpty() ? 'hidden' : ''}">
            <div th:each="error: ${errors}" th:text="{$error}"></div>
        </div>
    </div>
</div>