<div
  th:fragment="email(question, questionRendererParams)"
  th:with="emailQuestion=${question.createEmailQuestion()},
              questionId=${'id-' + #strings.randomAlphanumeric(8)},
              inputId=${'id-' + #strings.randomAlphanumeric(8)},
              fieldErrors=${emailQuestion.getValidationErrors().get(currencyQuestion.getCurrencyPath())},
              questionErrors=${emailQuestion.getValidationErrors().get(question.getContextualizedPath())},
              hasErrors=${!emailQuestion.getValidationErrors().isEmpty()}"
  th:id="${questionId}"
  class="cf-applicant-question"
  th:classappend="${hasErrors ? 'cf-question-with-error' : ''}"
>
  <!--/* Title and Help Text */-->
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: titleAndHelpTextSingleInput(${question}, ${questionId}, ${inputId})}"
  ></div>

  <!--/* Display errors */-->
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: validationErrors(${questionErrors})}"
  ></div>
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: validationErrors(${fieldErrors})}"
  ></div>

  <input
    class="usa-input"
    th:classappend="${hasErrors : 'usa-input--error' : ''}"
    maxlength="10000"
    autocomplete="email"
    inputmode="email"
    type="email"
    th:id="${inputId}"
    th:name="${emailQuestion.getEmailPath()}"
    th:value="${emailQuestion.getEmailValue().orElse('')}"
    th:aria-describedby="${questionId} + '-description'"
    th:aria-required="${!question.isOptional()}"
    th:aria-invalid="${!emailQuestion.getValidationErrors().isEmpty()}"
    th:autofocus="${questionRendererParams.autofocusFirstError()}"
  />
</div>
