<!--/* TODO(#7080): Refactor Enumerator question to use HTMX instead of relying on TS and DOM templates. */-->
<div
  th:fragment="enumerator(question)"
  th:with="enumeratorQuestion=${question.createEnumeratorQuestion()},
             questionId=${'id-' + #strings.randomAlphanumeric(8)},
             questionErrors=${enumeratorQuestion.getValidationErrors().get(question.getContextualizedPath())},
             hasErrors=${questionRendererParams.shouldShowErrors() && !enumeratorQuestion.getValidationErrors().isEmpty()}"
  th:id="${questionId}"
  class="cf-question-enumerator cf-applicant-question-field"
  th:classappend="${hasErrors ? 'cf-question-field-with-error' : ''}"
  data-testid="questionRoot"
>
  <fieldset
    class="usa-fieldset"
    th:aria-describedby="${questionId} + '-description'"
  >
    <!--/* Title and Help Text */-->
    <div
      th:replace="~{questiontypes/QuestionBaseFragment :: titleAndHelpTextMultipleInput(${question}, ${questionId})}"
    ></div>

    <!--/* Display question level errors */-->
    <div
      th:replace="~{questiontypes/QuestionBaseFragment :: validationErrors(${questionErrors}, ${questionRendererParams})}"
    ></div>

    <div
      th:data-label-text="#{placeholder.entityName(${enumeratorQuestion.getEntityType()})}"
      th:data-button-text="#{button.removeEntity(${enumeratorQuestion.getEntityType()})}"
    >
      <div th:replace="~{this :: deleteInputTemplate}"></div>
      <!--/* Render each existing enumerator field, including remove button */-->
      <div id="enumerator-fields">
        <div th:each="option,iterator: ${enumeratorQuestion.getEntityNames()}">
          <div
            th:replace="~{this :: enumeratorField(fieldId=${'id-' + #strings.randomAlphanumeric(8)},
                                                  inputId=${'id-' + #strings.randomAlphanumeric(8)},
                                                  path=${question.getContextualizedPath()},
                                                  existingEntity=${option},
                                                  visibleIndex=${iterator.count},
                                                  deleteButtonId=${iterator.index},
                                                  hidden=false)}"
          ></div>
        </div>
      </div>
      <!--/* Enumerator field template, used in TS to add another enumerator field */-->
      <div
        th:replace="~{this :: enumeratorField(fieldId=enumerator-field-template,
                                              inputId=enumerator-field-template-input,
                                              path=${question.getContextualizedPath()},
                                              existingEntity='',
                                              visibleIndex=-1,
                                              deleteButtonId=null,
                                              hidden=true)}"
      ></div>
      <!--/* Add entity button */-->
      <button
        th:text="#{button.addEntity(${enumeratorQuestion.getEntityType()})}"
        id="enumerator-field-add-button"
        type="button"
        class="usa-button usa-button--outline margin-top-105"
      ></button>
    </div>
  </fieldset>
</div>

<!--/* Renders a single enumerator field (label, input, and remove button). This is used to render existing entities, and as a template used in TS to render a newly added entity.  */-->
<div
  th:fragment="enumeratorField(fieldId, inputId, path, existingEntity, visibleIndex, deleteButtonId, hidden)"
  class="cf-enumerator-field cf-north-star-enumerator-field maxw-mobile-lg"
  th:classappend="${hidden ? 'hidden' : ''}"
  th:id="${fieldId}"
  th:with="indexString=${visibleIndex == -1 ? '' : ' #' + visibleIndex}"
>
  <div class="cf-entity-name-input">
    <label th:for="${inputId}">
      <span
        th:text="#{placeholder.entityName(${enumeratorQuestion.getEntityType()})} + ${indexString}"
      ></span>
    </label>
    <input
      type="text"
      class="usa-input margin-y-1"
      maxlength="10000"
      th:id="${inputId}"
      th:value="${existingEntity}"
      th:name="${path}"
      th:disabled="${hidden}"
    />
    <!--/* TODO(#7166): Load the errors for the field properly. For now this is a placeholder div so TS won't error */-->
    <div th:id="${inputId + '-errors'}"></div>
  </div>
  <!--/* Delete entity button */-->
  <div class="display-flex flex-justify-end">
    <button
      type="button"
      class="cf-enumerator-delete-button usa-button--unstyled"
      th:data-confirmation-message="#{dialog.confirmDeleteAllButtonsSave(${enumeratorQuestion.getEntityType()})}"
      th:id="${deleteButtonId}"
      th:text="#{button.removeEntity(${enumeratorQuestion.getEntityType()})} + ${indexString}"
    ></button>
  </div>
</div>

<!--/* Enumerator delete template, used in TS to remove an existing enumerator field */-->
<input
  th:fragment="deleteInputTemplate"
  id="enumerator-delete-template"
  name="delete_entity[]"
  disabled
  class="hidden"
/>
