<th:block
  th:with="fileUploadQuestion=${model.getFileUploadQuestion()}, hxRemoveFileUrl=${model.getHxRemoveFileUrl()}"
>
  <div
    th:replace="~{questiontypes/FileUploadQuestionFragment :: file-key-field(${fileUploadQuestion}, false, true)}"
  ></div>
  <div
    th:replace="~{questiontypes/FileUploadQuestionFragment :: file-list-display(${fileUploadQuestion}, true)}"
  ></div>
  <div
    th:replace="~{questiontypes/FileUploadQuestionFragment :: file-upload-errors(${fileUploadQuestion}, true)}"
  ></div>
</th:block>
