<!-- TODO: Should file upload page be totally different for rendering. Ask UX about 5 buttons -->
<div
  th:fragment="file-upload(question, questionRendererParams, fileUploadViewStrategy)"
  th:with="fileUploadQuestion=${question.createFileUploadQuestion()},
    questionId=${#strings.randomAlphanumeric(8)},
    inputId=${#strings.randomAlphanumeric(8)}"
  th:id="${questionId}"
>
  <!-- Title and Help Text -->
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: titleAndHelpTextSingleInput(${question}, ${questionId}, ${inputId})}"
  ></div>

  <!-- Display errors -->
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: validationErrors(${fileUploadQuestion.getValidationErrors().get(question.getContextualizedPath())})}"
  ></div>

  <input
    th:id="${inputId}"
    class="usa-file-input"
    type="file"
    name="file"
    aria-describedby="file-input-specific-hint"
    accept="image/*,.pdf"
    multiple="multiple"
  />

  <input type="hidden" th:each="inputValues: ${fileUploadViewStrategy.additionalFileUploadFormInputFields(questionRendererParams.signedFileUploadRequest())}" th:name="${inputValues.key}" th:value="${inputValues.value}">
</div>
