<div
  th:fragment="id(question, questionRendererParams)"
  th:with="idQuestion=${question.createIdQuestion()},
              questionId=${'id-' + #strings.randomAlphanumeric(8)},
              inputId=${'id-' + #strings.randomAlphanumeric(8)},
              fieldErrors=${idQuestion.getValidationErrors().get(idQuestion.getIdPath())},
              questionErrors=${idQuestion.getValidationErrors().get(question.getContextualizedPath())},
              hasErrors=${questionRendererParams.shouldShowErrors() && !idQuestion.getValidationErrors().isEmpty()}"
  th:id="${questionId}"
  class="cf-applicant-question-field cf-question-text"
  th:classappend="${hasErrors ? 'cf-question-field-with-error' : ''}"
  data-testid="questionRoot"
>
  <!--/* Title and Help Text */-->
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: titleAndHelpTextSingleInput(${question}, ${questionId}, ${inputId})}"
  ></div>

  <!--/* Display errors */-->
  <th:block th:if="${fieldErrors == null || fieldErrors.isEmpty()}">
    <div
      th:replace="~{questiontypes/QuestionBaseFragment :: validationErrors(${questionErrors}, ${questionRendererParams})}"
    ></div>
  </th:block>
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: validationErrors(${fieldErrors}, ${questionRendererParams})}"
  ></div>

  <input
    type="text"
    class="usa-input cf-input-large"
    th:classappend="${hasErrors ? 'usa-input--error' : ''}"
    th:id="${inputId}"
    th:name="${idQuestion.getIdPath()}"
    th:value="${idQuestion.getIdValue().orElse('')}"
    maxlength="10000"
    th:aria-describedby="${questionId} + '-description'"
    th:aria-required="${!question.isOptional()}"
    th:aria-invalid="${hasErrors}"
    th:autofocus="${questionRendererParams.autofocusFirstError()}"
  />
</div>
