<div
  th:fragment="map(question, questionRendererParams)"
  th:with="mapQuestion=${question.createMapQuestion()},
             questionId=${'id-' + #strings.randomAlphanumeric(8)},
             maxInputLength=10000,
             firstPathWithError=${mapQuestion.getFirstPathWithError()},
             hasGroupErrors=${mapQuestion.getValidationErrors().get(question.getContextualizedPath())},"
  th:id="${questionId}"
  class="cf-question-map"
  th:classappend="${hasGroupErrors ? 'cf-question-field-with-error' : ''}"
  data-testid="questionRoot"
>
  This is a map question!
  <div
    th:hidden
    id="map-geojson-data"
    th:text="${questionRendererParams.geoJson().get()}"
  ></div>
</div>
