<!--/*@thymesVar id="question" type="services.applicant.question.ApplicantQuestion"*/-->
<!--/*@thymesVar id="questionRendererParams" type="views.questiontypes.ApplicantQuestionRendererParams"*/-->

<div
  th:fragment="map(question, questionRendererParams)"
  th:with="mapQuestion=${question.createMapQuestion()},
             questionId=${'id-' + #strings.randomAlphanumeric(8)},
              mapId=${'cf-map-' + #strings.randomAlphanumeric(8)},
              firstPathWithError=${mapQuestion.getFirstPathWithError()},
             hasGroupErrors=${mapQuestion.getValidationErrors().get(question.getContextualizedPath())},"
  th:id="${questionId}"
  class="cf-question-map"
  th:classappend="${hasGroupErrors ? 'cf-question-field-with-error' : ''}"
  data-testid="questionRoot"
>
  <form class="usa-form">
    <div class="grid-row grid-gap">
      <div th:each="filter, i : ${mapQuestion.getFilters()}" class="grid-col">
        <label
          class="usa-label"
          th:for="'filter' + ${i.index + 1} + '-' + ${mapId}"
          th:utext="${filter.formattedSettingDisplayName(ariaLabelForNewTabs)}"
        ></label>
        <select
          class="usa-select"
          th:name="${filter.settingValue()}"
          th:id="'filter' + ${i.index + 1} + '-' + ${mapId}"
          th:data-map-id="${mapId}"
        >
          <option value>- Select -</option>
          <option
            th:if="${questionRendererParams.geoJson().isPresent()}"
            th:each="option : ${questionRendererParams.geoJson().get().getPossibleValuesForKey(filter.settingValue())}"
            th:value="${option}"
            th:text="${option}"
          ></option>
        </select>
      </div>
    </div>
    <!-- Apply filters buttons -->
    <div class="margin-top-2">
      <button
        type="button"
        class="usa-button cf-apply-filters-btn"
        th:data-map-id="${mapId}"
      >
        Apply filters
      </button>
      <button
        type="button"
        class="usa-button usa-button--outline cf-reset-filters-btn"
        th:data-map-id="${mapId}"
      >
        Reset
      </button>
    </div>
  </form>

  <div class="grid-row grid-gap">
    <!-- Scrollable container with location checkboxes -->
    <div class="grid-col-6">
      <fieldset class="usa-fieldset">
        <legend class="usa-legend">Locations</legend>
        <div
          th:if="${questionRendererParams.geoJson().isPresent()}"
          th:with="totalLocations=${questionRendererParams.geoJson().get().features().size()}"
          class="text-base-dark margin-bottom-1 cf-location-count"
          th:data-map-id="${mapId}"
        >
          Displaying <span th:text="${totalLocations}"></span> of
          <span th:text="${totalLocations}"></span> locations
        </div>
        <div
          class="cf-locations-list overflow-y-auto border-1px border-gray-30 padding-1"
          th:data-map-id="${mapId}"
        >
          <div
            th:if="${questionRendererParams.geoJson().isPresent()}"
            th:each="feature, iterator : ${questionRendererParams.geoJson().get().features()}"
            th:with="locationId='location-' + ${iterator.index},
                     locationName=${feature.properties().get(mapQuestion.getNameValue())},
                     locationAddress=${feature.properties().get(mapQuestion.getAddressValue())},
                     locationUrl=${feature.properties().get(mapQuestion.getDetailsUrlValue())}"
            class="usa-checkbox"
          >
            <input
              class="usa-checkbox__input"
              th:id="${locationId}"
              th:value="${locationName}"
              type="checkbox"
            />
            <label class="usa-checkbox__label" th:for="${locationId}">
              <div class="text-bold" th:text="${locationName}"></div>
              <div
                class="text-base-dark margin-top-05"
                th:if="${locationAddress}"
                th:text="${locationAddress}"
              ></div>
              <div class="margin-top-05" th:if="${locationUrl}">
                <a
                  th:href="${locationUrl}"
                  class="usa-link text-primary"
                  target="_blank"
                  >See more details</a
                >
              </div>
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <!-- Map container on the right -->
    <div class="grid-col-6 display-flex flex-align-end">
      <!-- TODO(#11003): Build out applicant view of map question -->
      <!-- TODO(#11150): Add map question preview functionality -->
      <div th:id="${mapId}" class="cf-map-container width-full"></div>
    </div>
  </div>

  <!-- Selected locations section -->
  <div class="margin-top-3">
    <h3 class="usa-prose-h3">Selected locations</h3>
    <div class="cf-selected-locations-container" th:data-map-id="${mapId}">
      <p
        class="text-base-dark cf-no-selections-message"
        th:data-map-id="${mapId}"
      >
        No locations have been selected.
      </p>
      <div
        class="display-none cf-selected-locations-list"
        th:data-map-id="${mapId}"
      >
        <!-- Selected locations will be dynamically populated here -->
      </div>
    </div>
  </div>

  <script
    th:if="${questionRendererParams.geoJson().isPresent()}"
    th:inline="javascript"
    th:nonce="${cspNonce}"
  >
    window.app = window.app || {}
    window.app.data = window.app.data || {}
    window.app.data.maps = window.app.data.maps || {}

    id = /*[[${mapId}]]*/ 'id'
    window.app.data.maps[id] = {
      geoJson: /*[[${questionRendererParams.geoJson().get()}]]*/ {},
      settings: {
        nameGeoJsonKey: /*[[${mapQuestion.getNameValue()}]]*/ '',
        addressGeoJsonKey: /*[[${mapQuestion.getAddressValue()}]]*/ '',
        detailsUrlGeoJsonKey: /*[[${mapQuestion.getDetailsUrlValue()}]]*/ '',
      },
    }
  </script>
</div>
