<!--/*@thymesVar id="question" type="services.applicant.question.ApplicantQuestion"*/-->
<!--/*@thymesVar id="questionRendererParams" type="views.questiontypes.ApplicantQuestionRendererParams"*/-->

<div
  th:fragment="map(question, questionRendererParams)"
  th:with="mapQuestion=${question.createMapQuestion()},
             questionId=${'id-' + #strings.randomAlphanumeric(8)},
              mapId=${'cf-map-' + #strings.randomAlphanumeric(8)},
              firstPathWithError=${mapQuestion.getFirstPathWithError()},
             hasGroupErrors=${mapQuestion.getValidationErrors().get(question.getContextualizedPath())},"
  th:id="${questionId}"
  class="cf-question-map padding-1"
  th:classappend="${hasGroupErrors ? 'cf-question-field-with-error' : ''}"
  data-testid="questionRoot"
>
  <div class="grid-row grid-gap padding-1">
    <!-- Scrollable container with location checkboxes -->
    <div
      class="grid-col-12 desktop:grid-col-6 margin-bottom-3 desktop:margin-bottom-0 overflow-y-auto cf-locations-column border-2px border-gray-30 padding-1 radius-md"
    >
      <!--/* Hidden input that we have checked to allow clearing data from a map question */-->
      <input
        type="checkbox"
        class="hidden"
        value=""
        th:name="${mapQuestion.getSelectionPathAsArray()}"
        checked
      />
      <div
        th:if="${questionRendererParams.geoJson().isPresent()}"
        class="cf-locations-list"
        data-testid="locations-list"
        th:data-map-id="${mapId}"
        role="group"
        aria-label="Location selection"
      >
        <div
          th:with="totalLocations=${questionRendererParams.geoJson().get().features().size()}"
          class="text-ink margin-bottom-1 cf-location-count"
          th:data-map-id="${mapId}"
          th:text="#{map.locationsCount(${totalLocations}, ${totalLocations})}"
        ></div>
        <div
          th:each="feature, iterator : ${questionRendererParams.geoJson().get().features()}"
          th:with="locationId='location-' + ${iterator.index},
                     locationName=${feature.properties().get(mapQuestion.getNameValue())},
                     locationAddress=${feature.properties().get(mapQuestion.getAddressValue())},
                     locationUrl=${feature.properties().get(mapQuestion.getDetailsUrlValue())},
                     featureId=${feature.id}"
          th:data-feature-id="${featureId}"
          class="usa-checkbox cf-location-checkbox"
        >
          <input
            class="usa-checkbox__input cf-location-checkbox-input"
            th:id="${locationId}"
            th:value="${locationName}"
            th:name="${mapQuestion.getSelectionPathAsArray()}"
            th:checked="${mapQuestion.locationIsSelected(locationName)}"
            type="checkbox"
          />
          <label
            class="usa-checkbox__label cf-location-checkbox-label"
            th:for="${locationId}"
          >
            <div
              class="text-bold cf-location-checkbox-name"
              th:text="${locationName}"
            ></div>
            <div
              class="text-base-dark margin-top-05 cf-location-checkbox-address"
              th:if="${locationAddress}"
              th:text="${locationAddress}"
            ></div>
            <a
              th:if="${locationUrl}"
              th:href="${locationUrl}"
              class="usa-link usa-link--external text-primary cf-location-checkbox-link"
              target="_blank"
              th:text="#{map.locationLinkText}"
            ></a>
          </label>
        </div>
      </div>
    </div>

    <!-- Map container -->
    <div class="grid-col-12 desktop:grid-col-6">
      <!-- TODO(#11150): Add map question preview functionality -->
      <div th:id="${mapId}" class="cf-map-container width-full"></div>
    </div>
  </div>
  <!-- Selected locations section -->
  <div class="margin-top-3">
    <h3 class="usa-prose-h3" th:text="#{map.selectedLocationsHeading}"></h3>
    <div class="cf-selected-locations-container" th:data-map-id="${mapId}">
      <p
        class="text-base-dark cf-no-selections-message"
        th:data-map-id="${mapId}"
        th:text="#{map.noSelectionsMessage}"
      ></p>
      <div
        class="display-none cf-selected-locations-list"
        data-testid="selected-locations-list"
        th:data-map-id="${mapId}"
      >
        <!-- Selected locations will be dynamically populated here -->
      </div>
    </div>
  </div>
  <!-- Hidden template for selected location checkboxes -->
  <div
    class="usa-checkbox hidden cf-selected-location-checkbox-template"
    th:data-map-id="${mapId}"
  >
    <input
      class="usa-checkbox__input cf-selected-location-checkbox-template-input"
      type="checkbox"
      checked
    />
    <label
      class="usa-checkbox__label cf-selected-location-checkbox-template-label"
      for="cf-selected-location-checkbox-template-input"
    >
      <div class="text-bold cf-selected-location-checkbox-template-name"></div>
      <div
        class="text-base-dark margin-top-05 cf-selected-location-checkbox-template-address"
      ></div>
      <a
        class="usa-link usa-link--external text-primary cf-selected-location-checkbox-template-link"
        target="_blank"
        th:text="#{map.locationLinkText}"
      ></a>
    </label>
  </div>
  <!-- Hidden template for popups -->
  <div class="hidden cf-popup-content-template" th:data-map-id="${mapId}">
    <div
      class="hidden text-bold font-serif-sm padding-bottom-2 cf-popup-content-location-name"
    ></div>
    <div class="hidden font-sans-sm cf-popup-content-location-address"></div>
    <div class="hidden cf-popup-content-location-link-container">
      <a
        class="hidden font-sans-sm usa-link usa-link--external cf-popup-content-location-link"
        target="_blank"
        th:text="#{map.locationLinkText}"
      ></a>
    </div>
    <button
      type="button"
      class="hidden usa-button usa-button--secondary margin-top-1 cf-select-location-button"
      data-feature-id="${featureId}"
      th:text="#{map.selectLocationButtonText}"
    ></button>
  </div>

  <script
    th:if="${questionRendererParams.geoJson().isPresent()}"
    th:inline="javascript"
    th:nonce="${cspNonce}"
  >
    window.app = window.app || {}
    window.app.data = window.app.data || {}
    window.app.data.maps = window.app.data.maps || {}

    id = /*[[${mapId}]]*/ 'id'
    window.app.data.maps[id] = {
      geoJson: /*[[${questionRendererParams.geoJson().get()}]]*/ {},
      settings: {
        nameGeoJsonKey: /*[[${mapQuestion.getNameValue()}]]*/ '',
        addressGeoJsonKey: /*[[${mapQuestion.getAddressValue()}]]*/ '',
        detailsUrlGeoJsonKey: /*[[${mapQuestion.getDetailsUrlValue()}]]*/ '',
      },
    }
  </script>
</div>
