<div
  th:fragment="name(question)"
  th:with="nameQuestion=${question.createNameQuestion()},
             questionId=${#strings.randomAlphanumeric(8)},
             maxInputLength=10000"
  th:id="${questionId}"
>
  <!-- Title and Help Text -->
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: titleAndHelpTextMultipleInput(${question}, ${questionId})}"
  ></div>

  <!-- TODO: errors -->
  <div th:with="firstNameId=${#strings.randomAlphanumeric(8)}">
    <div
      th:replace="~{questiontypes/QuestionBaseFragment :: validationErrors(${nameQuestion.getValidationErrors().get(nameQuestion.getFirstNamePath())})}"
    ></div>
    <label th:for="${firstNameId}">
      <span th:text="#{label.firstName}"></span>
      <th:block th:if="${!question.isOptional()}">
        <span class="usa-hint--required"> *</span>
      </th:block>
    </label>
    <input
      type="text"
      class="usa-input"
      th:maxlength="${maxInputLength}"
      th:id="${firstNameId}"
      autocomplete="given-name"
      th:value="${nameQuestion.getFirstNameValue().orElse('')}"
      th:name="${nameQuestion.getFirstNamePath()}"
    />
  </div>
  <div th:with="middleNameId=${#strings.randomAlphanumeric(8)}">
    <label th:for="${middleNameId}" th:text="#{label.middleName}"></label>
    <input
      type="text"
      class="usa-input"
      th:maxlength="${maxInputLength}"
      th:id="${middleNameId}"
      autocomplete="additional-name"
      th:value="${nameQuestion.getMiddleNameValue().orElse('')}"
      th:name="${nameQuestion.getMiddleNamePath()}"
    />
  </div>
  <div th:with="lastNameId=${#strings.randomAlphanumeric(8)}">
    <div
      th:replace="~{questiontypes/QuestionBaseFragment :: validationErrors(${nameQuestion.getValidationErrors().get(nameQuestion.getLastNamePath())})}"
    ></div>
    <label th:for="${lastNameId}">
      <span th:text="#{label.lastName}"></span>
      <th:block th:if="${!question.isOptional()}">
        <span class="usa-hint--required"> *</span>
      </th:block>
    </label>
    <input
      type="text"
      class="usa-input"
      th:maxlength="${maxInputLength}"
      th:id="${lastNameId}"
      autocomplete="family-name"
      th:value="${nameQuestion.getLastNameValue().orElse('')}"
      th:name="${nameQuestion.getLastNamePath()}"
    />
  </div>
</div>
