<th:block
  th:fragment="validationErrors(validationErrors, questionRendererParams)"
>
  <div
    th:each="error: ${validationErrors}"
    th:if="${questionRendererParams.shouldShowErrors()}"
    th:text="#{toast.errorMessageOutline(#{${error.key.getKeyName()}(${error.args})})}"
    class="cf-question-error-message"
  ></div>
</th:block>

<th:block th:fragment="titleAndHelpTextMultipleInput(question, questionId)">
  <!--/* Question title */-->
  <legend class="usa-legend display-flex">
    <div
      th:replace="~{this :: titleContent(${question})}"
    ></div>
  </legend>

  <!--/* Question help text */-->
  <div
    th:id="${questionId} + '-description'"
    th:utext="${question.getFormattedQuestionHelpText()}"
    class="font-sans-xs padding-top-05 cf-applicant-question-help-text"
  ></div>
</th:block>

<th:block
  th:fragment="titleAndHelpTextSingleInput(question, questionId, inputId)"
>
  <!--/* Question title */-->
  <label class="usa-label" th:for="${inputId}">
    <div
      th:replace="~{this :: titleContent(${question})}"
    ></div>
  </label>

  <!--/* Question help text */-->
  <div
    th:id="${questionId} + '-description'"
    th:utext="${question.getFormattedQuestionHelpText()}"
    class="cf-applicant-question-help-text"
  ></div>
</th:block>

<th:block th:fragment="titleContent(question)">
  <span
    th:utext="${question.getFormattedQuestionText()}"
    class="font-sans-lg cf-applicant-question-text"
  ></span>
  <!--/* Required asterisk */-->
  <th:block th:if="${!question.isOptional()}">
    <span class="usa-hint--required font-sans-lg"> *</span>
  </th:block>
</th:block>
