<th:block
  th:fragment="validationErrors(validationErrors, questionRendererParams)"
>
  <div
    th:each="error: ${validationErrors}"
    th:if="${questionRendererParams.shouldShowErrors()}"
    th:text="#{toast.errorMessageOutline(#{${error.key.getKeyName()}(${error.args})})}"
    class="cf-question-error-message cf-applicant-question-errors"
  ></div>
</th:block>

<div
  th:fragment="titleAndHelpTextMultipleInput(question, questionId)"
  class="margin-bottom-105"
  th:with="ariaLabel=#{link.opensNewTabSr}"
>
  <!--/* Question title */-->
  <legend class="usa-legend display-flex">
    <div th:replace="~{this :: titleContent(${question})}"></div>
  </legend>

  <!--/* Question help text */-->
  <div
    th:id="${questionId} + '-description'"
    th:utext="${question.getFormattedQuestionHelpText(ariaLabel)}"
    class="font-sans-xs padding-top-05 cf-applicant-question-help-text"
  ></div>
</div>

<div
  th:fragment="titleAndHelpTextSingleInput(question, questionId, inputId)"
  class="margin-bottom-105"
  th:with="ariaLabel=#{link.opensNewTabSr}"
>
  <!--/* Question title */-->
  <label class="usa-label display-flex" th:for="${inputId}">
    <div th:replace="~{this :: titleContent(${question})}"></div>
  </label>

  <!--/* Question help text */-->
  <div
    th:id="${questionId} + '-description'"
    th:utext="${question.getFormattedQuestionHelpText(ariaLabel)}"
    class="cf-applicant-question-help-text"
  ></div>
</div>

<th:block
  th:fragment="titleContent(question)"
  th:with="ariaLabel=#{link.opensNewTabSr}"
>
  <span
    th:utext="${question.getFormattedQuestionText(ariaLabel)}"
    class="font-sans-lg cf-applicant-question-text"
  ></span>
</th:block>
