<div
  th:fragment="text(question, questionRendererParams)"
  th:with="textQuestion=${question.createTextQuestion()},
              questionId=${#strings.randomAlphanumeric(8)},
              inputId=${#strings.randomAlphanumeric(8)}"
  th:id="${questionId}"
  class="cf-question-text"
>
  <!--/* Title and Help Text */-->
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: titleAndHelpTextSingleInput(${question}, ${questionId}, ${inputId})}"
  ></div>

  <!--/* Display errors */-->
  <div
    th:replace="~{questiontypes/QuestionBaseFragment :: validationErrors(${textQuestion.getValidationErrors().get(question.getContextualizedPath())})}"
  ></div>

  <input
    type="text"
    class="usa-input"
    maxlength="10000"
    th:id="${inputId}"
    th:name="${textQuestion.getTextPath()}"
    th:value="${textQuestion.getTextValue().orElse('')}"
    th:aria-describedby="${questionId} + '-description'"
    th:aria-required="${!question.isOptional()}"
    th:aria-invalid="${!textQuestion.getValidationErrors().isEmpty()}"
    th:autofocus="${questionRendererParams.autofocusFirstError()}"
  />
</div>
