<!--/*@thymesVar id="templateGlobals" type="views.admin.shared.TemplateGlobals"*/-->
<!--/*@thymesVar id="model" type="views.admin.tools.UrlCheckerViewModel"*/-->
<th:block
  th:fragment="content"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:cf="https://civiform.us/thymeleaf/cf"
>
  <div>
    <form
      class="usa-form"
      id="pageForm"
      th:hx-post="${model.testUrlEndpoint()}"
      hx-indicator="#submit"
      hx-target="#results"
    >
      <p class="usa-prose" th:text="#{urlchecker.text.description}"></p>
      <label
        for="url"
        class="usa-label"
        th:text="#{urlchecker.label.url}"
      ></label>
      <div>
        <input
          id="url"
          name="url"
          type="text"
          class="usa-input"
          required="required"
        />
        <button
          id="submit"
          type="submit"
          class="usa-button"
          th:text="#{urlchecker.button.check}"
        ></button>
      </div>
    </form>
  </div>
  <output for="url" form="pageForm" id="results"></output>
</th:block>
