<!--/*@thymesVar id="templateGlobals" type="views.admin.shared.TemplateGlobals"*/-->
<!--/*@thymesVar id="model" type="views.admin.ti.TrustedIntermediaryGroupListPageViewModel"*/-->
<th:block th:fragment="content">
  <!-- Create new TI group form -->
  <h2>Create new trusted intermediary</h2>
  <form th:action="${model.newTiGroupUrl}" method="post" class="usa-form">
    <input
      type="hidden"
      name="csrfToken"
      th:value="${templateGlobals.csrfToken}"
    />
    <cf:input
      id="group-name-input"
      name="name"
      type="text"
      th:value="${model.providedName}"
      maxlength="100"
      required="required"
      label="Name"
    />
    <cf:input
      id="group-description-input"
      name="description"
      type="text"
      th:value="${model.providedDescription}"
      maxlength="255"
      required="required"
      label="Description"
    />
    <cf:button type="submit" class="usa-button usa-button--primary"
      >Create</cf:button
    >
  </form>

  <!-- Existing TI groups header and sort -->
  <h2>Existing trusted intermediaries</h2>
  <form
    method="get"
    class="usa-form"
    th:action="${model.tiGroupListUrl}"
    name="sortForm"
  >
    <label for="cf-ti-list">Sort by:</label>
    <select
      id="cf-ti-list"
      name="sort"
      class="usa-select"
      onchange="this.form.submit()"
    >
      <option value="" disabled hidden>-- Select sort --</option>
      <th:block th:each="opt : ${model.sortOptions}">
        <th:block th:each="optionValue : ${opt.selectOptions}">
          <option
            th:value="${optionValue.value}"
            th:text="${optionValue.label}"
            th:selected="${optionValue.value == model.selectedSortOption}"
          ></option>
        </th:block>
      </th:block>
    </select>
    <cf:button type="submit" class="usa-button"> Sort </cf:button>
  </form>

  <!-- TI group list table -->
  <table class="usa-table">
    <thead>
      <tr>
        <th>Name / Description</th>
        <th>Size</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="group : ${model.tiGroups}">
        <td>
          <div th:text="${group.name}"></div>
          <div th:text="${group.description}"></div>
        </td>
        <td>
          <div>
            Members:
            <span th:text="${#lists.size(group.trustedIntermediaries)}"></span>
          </div>
          <div>
            Clients: <span th:text="${group.managedAccountsCount}"></span>
          </div>
        </td>
        <td>
          <form
            th:action="${model.editGroupUrls[group.id]}"
            method="get"
            style="display: inline"
          >
            <cf:button type="submit" class="usa-button">
              Edit members
            </cf:button>
          </form>
          <form
            th:action="${model.deleteGroupUrls[group.id]}"
            method="post"
            style="display: inline"
          >
            <input
              type="hidden"
              name="csrfToken"
              th:value="${templateGlobals.csrfToken}"
            />
            <cf:button type="submit" class="usa-button"> Delete </cf:button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</th:block>
