<!--/*@thymesVar id="templateGlobals" type="views.admin.shared.TemplateGlobals"*/-->
<!--/*@thymesVar id="model" type="views.dev.componentcatalog.CatalogPageViewModel"*/-->
<th:block th:fragment="content" xmlns:th="http://www.thymeleaf.org">
  <div>
    <th:block
      th:insert="~{__${'dev/componentcatalog/fragments/' + model.getTemplateFileName()}__ :: render(${model.getControlModel()})}"
    ></th:block>
  </div>
</th:block>

<th:block th:fragment="sidebar">
  <nav aria-label="Side navigation">
    <ul class="usa-sidenav">
      <li
        class="usa-sidenav__item"
        th:each="control : ${model.getControlList()}"
      >
        <a
          th:classappend="${control.controlName() == model.controlName()} ? 'usa-current'"
          th:href="${control.getUrl()}"
          th:text="${control.label()}"
        ></a>
      </li>
    </ul>
  </nav>
</th:block>
