<!--/*@thymesVar id="templateGlobals" type="views.admin.shared.TemplateGlobals"*/-->
<!--/*@thymesVar id="model" type="views.dev.componentcatalog.CatalogPageViewModel"*/-->
<th:block
  th:fragment="content"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:cf="https://civiform.us/thymeleaf/cf"
>
  <style th:nonce="${templateGlobals.cspNonce()}">
    .code-sample {
      display: flex;
      gap: 1rem;
    }
    .code-sample > div {
      display: flex;
      flex-direction: column;
      flex: 1;
    }
    .code-sample pre {
      flex: 1;
      margin: 0;
      overflow: auto;
    }
    /*code { font-family: 'Courier New', monospace; font-size: 0.9em; }*/


  </style>

  <div>
    <ul>
      <li th:each="url : ${model.getUrls()}">
        <a th:href="${url.right()}" th:text="${url.left()}"></a>
      </li>
    </ul>
  </div>

  <div class="usa-in-page-nav-container">
    <aside
      class="usa-in-page-nav"
      data-title-text="On this page"
      data-title-heading-level="h3"
      data-scroll-offset="0"
      data-main-content-selector="#in-page-nav-content"
      data-root-margin="0px 0px 0px 0px"
      data-threshold="1"
    ></aside>
    <div id="in-page-nav-content" class="width-desktop">
      <!--      <th:block th:insert="|dev/componentcatalog/fragments/AlertControl::render(${model.getAlertControl()})|"></th:block>-->
      <th:block
        th:insert="~{__${'dev/componentcatalog/fragments/' + model.getTemplateFileName()}__ :: render(${model.getControlModel()})}"
      ></th:block>
    </div>
  </div>

  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css"
    rel="stylesheet"
    th:nonce="${templateGlobals.cspNonce()}"
  />
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"
    th:nonce="${templateGlobals.cspNonce()}"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-markup.min.js"
    th:nonce="${templateGlobals.cspNonce()}"
  ></script>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-java.min.js"
    th:nonce="${templateGlobals.cspNonce()}"
  ></script>
</th:block>
