<!-- The param is an instance of the ProgressBar class. -->
<div
  th:fragment="progressBar(progressBar)"
  class="usa-step-indicator usa-step-indicator--center maxw-tablet"
  th:aria-label="#{content.blockProgressLabel}"
>
  <!--/* The progress bar itself. It's safe to add aria-hidden="true" when step labels
  are not used. */-->
  <ol class="usa-step-indicator__segments" aria-hidden="true">
    <th:block
      th:each="i: ${#numbers.sequence(0, progressBar.getStepCount() - 1)}"
    >
      <li
        th:class="'usa-step-indicator\_\_segment ' + ${progressBar.cssClassesForIndex(i)}"
      ></li>
    </th:block>
  </ol>

  <!--/* Text with "X of Y BlockName" */-->
  <div class="usa-step-indicator__header">
    <h2 class="usa-step-indicator__heading">
      <span class="usa-step-indicator__heading-counter">
        <span
          th:text="${progressBar.getProgressString()}"
          class="usa-step-indicator__total-steps"
        >
        </span>
        <span
          class="usa-step-indicator__heading-text"
          th:text="${progressBar.getStepName()}"
        ></span>
      </span>
    </h2>
  </div>
</div>
