<!--/*@thymesvar id="model" type="views.admin.programs.predicates.EditConditionPartialViewModel"*/-->
<th:block th:fragment="editCondition(conditionId, model)">
  <div
    class="usa-card margin-bottom-2 border border-base-lighter radius-md width-mobile-lg"
    th:id="${'condition-' + conditionId}"
    th:data-testid="|condition-${conditionId}|"
    th:with="subconditionLogicSelectorId=${'condition-' + conditionId + '-node-type'},
    subconditionLogicLabelId=${'condition-' + conditionId + '-node-type-label'}"
  >
    <div class="usa-card__header">
      <div class="display-flex flex-justify flex-align-center">
        <div
          class="usa-card__heading font-heading-sm"
          th:text="|Condition ${conditionId}|"
        ></div>
        <button
          type="button"
          class="usa-button usa-button--unstyled zero-top-margin text-secondary-dark"
          th:with="deleteConditionConfirmation=#{confirm.deleteSingleCondition} + '&#10;&#10;' + #{confirm.actionNotReversable}"
          th:hx-confirm="${deleteConditionConfirmation}"
          th:hx-post="${model.hxDeleteConditionEndpoint()}"
          th:hx-vals='|{"conditionId": "${conditionId}"}|'
          hx-target="#predicate-conditions-list"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="#b50909"
            stroke-width="1%"
            aria-hidden="true"
            viewBox="0 0 24 24"
            width="24"
            height="24"
          >
            <path
              d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z"
            ></path>
          </svg>
          [[#{button.predicateDeleteCondition}]]
        </button>
      </div>
    </div>
    <div class="usa-card__body font-body-xs">
      <div class="border-top border-base-lighter margin-y-2"></div>
      <label
        th:id="${subconditionLogicLabelId}"
        th:for="${subconditionLogicSelectorId}"
        class="usa-sr-only"
        th:data-label-prefix="#{content.predicateConditionIsTrueIf}"
        th:data-label-suffix="#{content.predicateSubconditionsAreTrue}"
      ></label>
      <div class="font-body-xs">
        [[#{content.predicateConditionIsTrueIf}]]
        <select
          class="cf-subcondition-logic-select usa-select width-9 display-inline-block font-body-xs margin-x-1"
          th:name="|condition-${conditionId}-node-type|"
          th:id="${subconditionLogicSelectorId}"
          th:data-condition-id="${conditionId}"
        >
          <option
            th:each="nodeType : ${model.operatorNodeTypes()}"
            th:text="${nodeType.toDisplayString()}"
            th:value="${nodeType.name()}"
            th:selected="${nodeType.equals(model.subconditionLogicalOperator.toNodeType())}"
          ></option>
        </select>
        [[#{content.predicateSubconditionsAreTrue}]]
      </div>
      <div
        th:replace="~{admin/programs/predicates/SubconditionListFragment :: subconditionList(${model.subconditionListModel(conditionId)})}"
      ></div>
    </div>
  </div>
</th:block>
