<th:block
  th:fragment="editSubcondition(conditionId, subconditionId, questionType, questionOptions, scalarOptions, operatorOptions, valueOptions, hxEditSubconditionEndpoint, hasSelectedQuestion)"
>
  <div class="subcondition-container">
    <!-- Define input ids in the expected format: 
    questionDropdownId: conditionId-<conditionId>-subconditionId-<subconditionId>-question
    scalarDropdownId:   conditionId-<conditionId>-subconditionId-<subconditionId>-scalar
    operatorDropdownId: conditionId-<conditionId>-subconditionId-<subconditionId>-operator 
    valueInputId:       conditionId-<conditionId>-subconditionId-<subconditionId>-value
    -->
    <div
      class="border-left-05 border-base-lighter padding-left-3"
      th:with="questionDropdownId=${'condition-' + conditionId + '-subcondition-' + subconditionId + '-question'}, scalarDropDownId=${'condition-' + conditionId + '-subcondition-' + subconditionId + '-scalar'},operatorDropdownId=${'condition-' + conditionId + '-subcondition-' + subconditionId + '-operator'},valueInputId=${'condition-' + conditionId + '-subcondition-' + subconditionId + '-value'}"
    >
      <div class="usa-form-group margin-top-2">
        <label class="usa-label" th:for="${questionDropdownId}"
          >Question<span class="usa-hint--required">*</span></label
        >
        <select
          class="usa-select cf-predicate-question-select"
          th:id="${questionDropdownId}"
          th:name="${questionDropdownId}"
          th:data-scalar-target-id="${scalarDropDownId}"
          hx-swap="outerHTML"
          th:hx-post="${hxEditSubconditionEndpoint}"
          th:hx-vals='|{"conditionId": "${conditionId}", "subconditionId": "${subconditionId}" }|'
          th:hx-target="${'closest div[class*=subcondition-container]'}"
        >
          <option th:selected="${!hasSelectedQuestion}">-Select-</option>
          <option
            th:each="question : ${questionOptions}"
            th:value="${question.value()}"
            th:text="${question.displayText()}"
            th:selected="${question.selected()}"
          ></option>
        </select>
      </div>
      <div class="usa-form-group margin-top-2 cf-predicate-scalar-select">
        <label class="usa-label" th:for="${scalarDropDownId}"
          >Field<span class="usa-hint--required">*</span></label
        >
        <select
          class="usa-select"
          th:id="${scalarDropDownId}"
          th:name="${scalarDropDownId}"
          th:data-operator-target-id="${operatorDropdownId}"
          th:disabled="${!hasSelectedQuestion}"
        >
          <option
            th:selected="${!hasSelectedQuestion}"
            th:hidden="${hasSelectedQuestion}"
          >
            -Select-
          </option>
          <option
            th:each="scalar : ${scalarOptions}"
            th:value="${scalar.value()}"
            th:text="${scalar.displayText()}"
            th:data-type="${scalar.scalarType()}"
            th:selected="${scalar.selected()}"
          ></option>
        </select>
      </div>
      <div class="usa-form-group margin-top-2 cf-predicate-operator-select">
        <label class="usa-label" th:for="${operatorDropdownId}"
          >State<span class="usa-hint--required">*</span></label
        >
        <select
          class="usa-select"
          th:id="${operatorDropdownId}"
          th:name="${operatorDropdownId}"
          th:disabled="${!hasSelectedQuestion}"
        >
          <option
            th:selected="${!hasSelectedQuestion}"
            th:hidden="${hasSelectedQuestion}"
          >
            -Select-
          </option>
          <option
            th:each="operator : ${operatorOptions}"
            th:value="${operator.value()}"
            th:text="${operator.displayText()}"
            th:selected="${operator.selected()}"
          ></option>
        </select>
      </div>
      <div
        th:replace="~{admin/programs/predicates/PredicateValuesInputFragment :: predicateValues(${questionType}, ${valueOptions}, ${valueInputId}, ${hasSelectedQuestion})}"
      ></div>
      <div class="width-full display-inline-block">
        <a
          href="#"
          class="usa-link usa-button usa-button--unstyled float-right text-secondary-dark"
          >Remove sub-condition</a
        >
      </div>
    </div>
    <div class="margin-top-3">
      <a href="#" class="usa-link">Add sub-condition</a>
    </div>
  </div>
</th:block>
