<!--/*@thymesVar id="templateGlobals" type="views.admin.shared.TemplateGlobals"*/-->
<!--/*@thymesVar id="model" type="views.admin.programs.predicates.EditPredicatePageViewModel"*/-->

<th:block th:fragment="content">
  <th:block
    th:replace="~{admin/programs/ProgramHeaderFragment :: programHeader(${model.programHeader()})}"
  ></th:block>

  <div class="padding-x-4 padding-y-3 usa-prose" id="edit-predicate">
    <a
      th:href="${model.blockEditUrl()}"
      th:text="|Back to edit ${model.blockName()}|"
      class="usa-link padding-x-05"
    ></a>

    <div class="width-mobile-lg">
      <div
        class="font-sans-3xs text-uppercase margin-bottom-2"
        th:text="${model.blockName()}"
      ></div>
      <div
        class="font-alt-lg text-bold margin-bottom-05"
        th:text="|Edit ${model.predicateUseCase.toDisplayString()} conditions|"
      ></div>
      <div class="text-gray-50" th:switch="${model.predicateUseCase.name()}">
        <p th:case="'VISIBILITY'" class="margin-top-05">
          Add or remove conditions for when this screen is shown or hidden.
        </p>
        <p th:case="'ELIGIBILITY'" class="margin-top-05">
          You can add eligibility conditions to determine if an applicant
          qualifies for the program. Applicants who do not meet the minimum
          requirements will be blocked from submitting an application. You can
          change this in the
          <a th:href="${model.programEditUrl()}" class="usa-link"
            >program settings</a
          >.
        </p>
      </div>

      <form class="usa-form">
        <input
          type="hidden"
          th:value="${templateGlobals.csrfToken()}"
          name="csrfToken"
        />
        <!-- Predicate header -->
        <div
          class="font-body-xs width-mobile-lg"
          th:switch="${model.predicateUseCase.name()}"
        >
          <p>
            <th:block th:case="'VISIBILITY'">
              This screen is
              <select
                class="usa-select width-15 display-inline-block font-body-xs margin-left-1"
                name="predicateAction"
              >
                <option value>Select</option>
                <option
                  th:each="action : ${model.visibilityActions()}"
                  th:text="${action.toDisplayString()}"
                  th:value="${action.name()}"
                ></option>
              </select>
            </th:block>
            <th:block th:case="'ELIGIBILITY'">
              Applicant is eligible when
              <input
                type="hidden"
                name="predicateAction"
                th:value="${model.eligibilityAction().name()}"
              />
            </th:block>

            <select
              class="usa-select width-9 display-inline-block font-body-xs margin-x-1"
              name="root-nodeType"
            >
              <option
                th:each="nodeType : ${model.operatorNodeTypes()}"
                th:text="${nodeType.toDisplayString()}"
                th:value="${nodeType.name()}"
              ></option>
            </select>
            of the following are true:
          </p>
        </div>

        <div
          th:replace="~{admin/programs/predicates/AddConditionFragment :: addCondition(1, ${model.hxEditConditionEndpoint()})}"
        ></div>
      </form>
    </div>

    <div class="usa-footer__return-to-top">
      <a href="#" class="padding-x-05">Back to top</a>
    </div>

    <div class="border-top border-base-lighter margin-y-2"></div>

    <button type="submit" class="usa-button">Save and exit</button>
    <button type="submit" class="usa-button usa-button--outline">Cancel</button>
  </div>
</th:block>
