<!--/*@thymesvar id="model" type="views.admin.programs.predicates.EditSubconditionPartialViewModel"*/-->
<th:block
  th:fragment="editSubcondition(conditionId, subconditionId, disableDeletion, model)"
>
  <div class="subcondition-container margin-y-3">
    <!-- Define input ids in the expected format: 
    questionDropdownId: conditionId-<conditionId>-subconditionId-<subconditionId>-question
    scalarDropdownId:   conditionId-<conditionId>-subconditionId-<subconditionId>-scalar
    operatorDropdownId: conditionId-<conditionId>-subconditionId-<subconditionId>-operator 
    valueInputId:       conditionId-<conditionId>-subconditionId-<subconditionId>-value
    -->
    <div
      class="border-left-05 border-base-lighter padding-left-3"
      th:with="questionDropdownId=${'condition-' + conditionId + '-subcondition-' + subconditionId + '-question'}, scalarDropDownId=${'condition-' + conditionId + '-subcondition-' + subconditionId + '-scalar'},operatorDropdownId=${'condition-' + conditionId + '-subcondition-' + subconditionId + '-operator'}"
    >
      <fieldset class="usa-fieldset usa-fieldset--no-legend">
        <legend
          class="usa-sr-only"
          th:text="${'Condition ' + conditionId + ' subcondition ' + subconditionId}"
        ></legend>
        <div
          class="usa-form-group margin-top-0"
          th:with="questionIsInvalid=${model.invalidInputIds.contains(questionDropdownId)},
          questionErrorMessageId=${'condition-' + conditionId + '-subcondition-' + subconditionId + '-questionError'}"
        >
          <label class="usa-label" th:for="${questionDropdownId}"
            >[[#{label.predicateQuestion}]]<span class="usa-hint--required"
              >*</span
            ></label
          >
          <span
            class="usa-error-message"
            th:if="${questionIsInvalid}"
            th:id="${questionErrorMessageId}"
            th:text="#{toast.errorMessageOutline(#{validation.questionRequired})}"
          ></span>
          <select
            class="usa-select cf-predicate-question-select"
            th:classappend="${questionIsInvalid} ? 'usa-input--error' : ''"
            th:id="${questionDropdownId}"
            th:name="${questionDropdownId}"
            th:data-scalar-target-id="${scalarDropDownId}"
            th:hx-post="${model.hxEditSubconditionEndpoint()}"
            th:hx-vals='|{"conditionId": "${conditionId}", "subconditionId": "${subconditionId}"}|'
            th:hx-target="${'#predicate-condition-' + conditionId + '-subcondition-list'}"
            th:aria-invalid="${questionIsInvalid}"
            th:aria-describedby="${questionIsInvalid ? questionErrorMessageId : ''}"
            hx-swap="outerHTML"
            th:data-should-autofocus="${model.autofocus}"
          >
            <option
              th:selected="${!model.hasSelectedQuestion}"
              th:hidden="${model.hasSelectedQuestion}"
              th:text="#{option.selectPlaceholder}"
            ></option>
            <option
              th:each="question : ${model.questionOptions}"
              th:value="${question.value()}"
              th:text="${question.displayText()}"
              th:selected="${question.selected()}"
            ></option>
          </select>
        </div>
        <div class="display-flex flex-gap flex-wrap margin-top-2">
          <div
            class="usa-form-group cf-predicate-scalar-select tablet:grid-col margin-top-0"
          >
            <label class="usa-label" th:for="${scalarDropDownId}"
              >[[#{label.predicateField}]]<span class="usa-hint--required"
                >*</span
              ></label
            >
            <select
              class="usa-select"
              th:id="${scalarDropDownId}"
              th:name="${scalarDropDownId}"
              th:data-operator-target-id="${operatorDropdownId}"
              th:disabled="${!model.hasSelectedQuestion}"
            >
              <option
                th:selected="${!model.hasSelectedQuestion}"
                th:hidden="${model.hasSelectedQuestion}"
                th:text="#{option.selectPlaceholder}"
              ></option>
              <option
                th:each="scalar : ${model.scalarOptions}"
                th:value="${scalar.value()}"
                th:text="${scalar.displayText()}"
                th:data-type="${scalar.scalarType()}"
                th:selected="${scalar.selected()}"
              ></option>
            </select>
          </div>
          <div
            class="usa-form-group cf-predicate-operator-select tablet:grid-col margin-top-0"
          >
            <label class="usa-label" th:for="${operatorDropdownId}"
              >[[#{label.predicateState}]]<span class="usa-hint--required"
                >*</span
              ></label
            >
            <select
              class="usa-select"
              th:id="${operatorDropdownId}"
              th:name="${operatorDropdownId}"
              th:disabled="${!model.hasSelectedQuestion}"
              th:data-condition-id="${conditionId}"
              th:data-subcondition-id="${subconditionId}"
            >
              <option
                th:selected="${!model.hasSelectedQuestion}"
                th:hidden="${model.hasSelectedQuestion}"
                th:text="#{option.selectPlaceholder}"
              ></option>
              <option
                th:each="operator : ${model.operatorOptions}"
                th:value="${operator.value()}"
                th:text="${operator.displayText()}"
                th:selected="${operator.selected()}"
              ></option>
            </select>
          </div>
        </div>
        <div
          th:replace="~{admin/programs/predicates/PredicateValuesInputFragment :: predicateValues(${model.predicateValuesInputModel(conditionId, subconditionId)})}"
        ></div>
        <div class="width-full display-inline-block">
          <button
            th:hx-post="${model.hxDeleteSubconditionEndpoint()}"
            th:hx-vals='|{"conditionId": "${conditionId}", "subconditionId": "${subconditionId}"}|'
            th:hx-target="${'#predicate-condition-' + conditionId + '-subcondition-list'}"
            hx-swap="outerHTML"
            class="usa-link usa-button usa-button--unstyled float-right text-secondary-dark"
            th:text="#{link.predicateDeleteSubcondition}"
            th:disabled="${disableDeletion}"
          ></button>
        </div>
      </fieldset>
    </div>
  </div>
</th:block>
