<th:block
  th:fragment="predicateValues(questionType, valueOptions, valueInputId, hasSelectedQuestion)"
>
  <div class="usa-form-group margin-top-2 cf-predicate-value-input">
    <label class="usa-label" th:for="${valueInputId}"
      >Value(s)<span class="usa-hint--required">*</span></label
    >
    <th:block th:switch="${questionType}">
      <th:block th:case="'Address'">
        <select
          class="usa-select"
          th:id="${valueInputId}"
          th:name="${valueInputId}"
        >
          <option
            th:each="valueOption: ${valueOptions}"
            th:value="${valueOption.value()}"
            th:text="${valueOption.displayText()}"
            th:selected="${valueOption.selected()}"
          ></option>
        </select>
      </th:block>
      <th:block th:case="*">
        <!--TODO (#11662): Remove this section once all valid question types have been added. -->
        <select
          class="usa-select"
          th:id="${valueInputId}"
          th:name="${valueInputId}"
          th:disabled="${!hasSelectedQuestion}"
        >
          <option
            th:selected="${!hasSelectedQuestion}"
            th:hidden="${hasSelectedQuestion}"
          >
            -Select-
          </option>
        </select>
      </th:block>
    </th:block>
  </div>
</th:block>
