<th:block
  th:fragment="predicateValues(model)"
  th:with="subconditionPrefix=${'condition-' + model.conditionId + '-subcondition-' + model.subconditionId},
  valueInputId=${subconditionPrefix + '-value'},
  secondValueInputId=${subconditionPrefix + '-secondValue'},
  errorMessageId=${subconditionPrefix + '-errorMessage'},
  firstValueInputGroupId=${subconditionPrefix + '-firstValueGroup'},
  secondValueInputGroupId=${subconditionPrefix + '-secondValueGroup'},
  valueInputHintId=${subconditionPrefix + '-valueHintText'},
  multiValueInputId=${subconditionPrefix + '-values'},
  firstInputInvalid=${model.invalidInputIds.contains(valueInputId)},
  secondInputInvalid=${model.invalidInputIds.contains(secondValueInputId)}"
>
  <div class="usa-form-group margin-top-2 cf-predicate-value-input">
    <label class="usa-label" th:for="${valueInputId}"
      >[[#{label.predicateValue}]]<span class="usa-hint--required"
        >*</span
      ></label
    >
    <span
      class="usa-error-message"
      th:id="${errorMessageId}"
      th:if="${!model.invalidInputIds.isEmpty() && !model.isMultiValueQuestion()}"
    >
      [[#{validation.fieldIsRequired}]]
    </span>
    <th:block
      th:if="${model.questionType.isPresent()}"
      th:switch="${model.questionType.get()}"
    >
      <th:block th:case="'Address'">
        <div
          th:replace="~{::addressValuesInput(${model.valueOptions}, ${valueInputId})}"
        ></div>
      </th:block>
      <th:block th:case="'Checkbox'">
        <div
          th:replace="~{::multiValuesInput(${model.valueOptions}, ${multiValueInputId}, ${errorMessageId})}"
        ></div>
      </th:block>
      <th:block th:case="'Currency'">
        <div
          th:replace="~{::currencyValuesInput(${model.valueOptions}, ${valueInputId}, ${secondValueInputId}, ${secondValueInputGroupId})}"
        ></div>
      </th:block>
      <th:block th:case="'Date'">
        <div
          th:replace="~{::dateValuesInput(${model.valueOptions}, ${valueInputId}, ${secondValueInputId}, ${secondValueInputGroupId})}"
        ></div>
      </th:block>
      <th:block th:case="'Dropdown'">
        <div
          th:replace="~{::multiValuesInput(${model.valueOptions}, ${multiValueInputId}, ${errorMessageId})}"
        ></div>
      </th:block>
      <th:block th:case="'Email'">
        <div
          th:replace="~{::emailValuesInput(${valueInputId}, ${valueInputHintId})}"
        ></div>
      </th:block>
      <th:block th:case="'ID'">
        <div
          th:replace="~{::textValuesInput(${valueInputId}, ${valueInputHintId})}"
        ></div>
      </th:block>
      <th:block th:case="'Name'">
        <div
          th:replace="~{::textValuesInput(${valueInputId}, ${valueInputHintId})}"
        ></div>
      </th:block>
      <th:block th:case="'Number'">
        <div
          th:replace="~{::numberValuesInput(${model.valueOptions}, ${valueInputId}, ${secondValueInputId}, ${secondValueInputGroupId})}"
        ></div>
      </th:block>
      <th:block th:case="'Radio Button'">
        <div
          th:replace="~{::multiValuesInput(${model.valueOptions}, ${multiValueInputId}, ${errorMessageId})}"
        ></div>
      </th:block>
      <th:block th:case="'Text'">
        <div
          th:replace="~{::textValuesInput(${valueInputId}, ${valueInputHintId})}"
        ></div>
      </th:block>
    </th:block>
    <th:block th:unless="${model.questionType.isPresent()}">
      <select
        class="usa-select"
        th:id="${valueInputId}"
        th:name="${valueInputId}"
        th:disabled="${!model.hasSelectedQuestion}"
      >
        <option
          th:selected="${!model.hasSelectedQuestion}"
          th:hidden="${model.hasSelectedQuestion}"
          th:text="#{option.selectPlaceholder}"
        ></option>
      </select>
    </th:block>
  </div>
</th:block>

<!-- QUESTION TYPE FRAGMENTS -->

<!-- Address question type -->
<th:block th:fragment="addressValuesInput(valueOptions, valueInputId)">
  <select class="usa-select" th:id="${valueInputId}" th:name="${valueInputId}">
    <option
      th:each="valueOption: ${valueOptions}"
      th:value="${valueOption.value()}"
      th:text="${valueOption.displayText()}"
      th:selected="${valueOption.selected()}"
      aria-required="true"
      th:aria-invalid="${firstInputInvalid}"
      address-value
    ></option>
  </select>
</th:block>

<!-- Currency question type -->
<th:block
  th:fragment="currencyValuesInput(valueOptions, valueInputId, secondValueInputId, secondValueInputGroupId)"
>
  <div
    class="usa-input-group"
    th:classappend="${firstInputInvalid} ? 'usa-input-group--error'"
  >
    <div class="usa-input-prefix">$</div>
    <input
      class="usa-input"
      inputmode="decimal"
      type="number"
      th:id="${valueInputId}"
      th:name="${valueInputId}"
      aria-required="true"
      th:aria-invalid="${firstInputInvalid}"
      th:value="${model.userEnteredValue}"
      data-currency-value
    />
  </div>

  <div th:id="${secondValueInputGroupId}" class="margin-top-1">
    <span class="margin-left-1" th:text="#{content.and}"></span>
    <div
      class="usa-input-group"
      th:classappend="${secondInputInvalid} ? 'usa-input-group--error'"
    >
      <div class="usa-input-prefix">$</div>
      <input
        class="usa-input"
        inputmode="decimal"
        type="number"
        th:id="${secondValueInputId}"
        th:name="${secondValueInputId}"
        aria-required="true"
        th:aria-invalid="${secondInputInvalid}"
        th:value="${model.secondUserEnteredValue}"
        data-currency-value
      />
    </div>
  </div>
</th:block>

<!-- Date question type -->
<!-- Support both number and date inputs for age vs. date-based operators -->
<th:block
  th:fragment="dateValuesInput(valueOptions, valueInputId, secondValueInputId, secondValueInputGroupId)"
>
  <div
    class="usa-hint"
    th:id="${valueInputHintId}"
    th:text="#{content.multipleValuesInputHint}"
  ></div>
  <div th:id="${firstValueInputGroupId}">
    <div data-default-input-type data-first-input>
      <input
        class="usa-input"
        th:classappend="${firstInputInvalid} ? 'usa-input--error'"
        type="date"
        inputmode="numeric"
        th:id="${valueInputId}"
        th:name="${valueInputId}"
        th:value="${model.userEnteredValue}"
        aria-required="true"
        th:aria-invalid="${firstInputInvalid}"
        data-date-value
      />
    </div>
    <div data-age-input-type data-first-input>
      <input
        class="usa-input"
        th:classappend="${firstInputInvalid} ? 'usa-input--error'"
        type="number"
        inputmode="numeric"
        th:id="${valueInputId}"
        th:name="${valueInputId}"
        th:value="${model.userEnteredValue}"
        aria-required="true"
        th:aria-invalid="${firstInputInvalid}"
      />
    </div>
    <!-- Note: inputmode is text here to allow commas in input for multiple values. -->
    <div data-csv-input-type>
      <input
        class="usa-input"
        th:classappend="${firstInputInvalid} ? 'usa-input--error'"
        type="text"
        inputmode="text"
        th:id="${valueInputId}"
        th:name="${valueInputId}"
        th:value="${model.userEnteredValue}"
        aria-required="true"
        th:aria-invalid="${firstInputInvalid}"
      />
    </div>
  </div>

  <div th:id="${secondValueInputGroupId}" class="margin-top-1">
    <span class="margin-left-1" th:text="#{content.and}"></span>
    <div data-default-input-type>
      <input
        class="usa-input"
        th:classappend="${secondInputInvalid} ? 'usa-input--error'"
        type="date"
        inputmode="numeric"
        th:id="${secondValueInputId}"
        th:name="${secondValueInputId}"
        th:value="${model.secondUserEnteredValue}"
        aria-required="true"
        th:aria-invalid="${secondInputInvalid}"
      />
    </div>
    <div data-age-input-type>
      <input
        class="usa-input"
        th:classappend="${secondInputInvalid} ? 'usa-input--error'"
        type="number"
        inputmode="numeric"
        th:id="${secondValueInputId}"
        th:name="${secondValueInputId}"
        th:value="${model.secondUserEnteredValue}"
        aria-required="true"
        th:aria-invalid="${secondInputInvalid}"
      />
    </div>
  </div>
</th:block>

<!-- Email question type -->
<th:block th:fragment="emailValuesInput(valueInputId, valueInputHintId)">
  <div
    class="usa-hint"
    th:id="${valueInputHintId}"
    th:text="#{content.multipleValuesInputHint}"
  ></div>
  <div th:id="${firstValueInputGroupId}">
    <div data-default-input-type data-first-input>
      <input
        class="usa-input"
        th:classappend="${firstInputInvalid} ? 'usa-input--error'"
        type="email"
        inputmode="text"
        th:id="${valueInputId}"
        th:name="${valueInputId}"
        th:value="${model.userEnteredValue}"
        aria-required="true"
        th:aria-invalid="${firstInputInvalid}"
        data-email-value
      />
    </div>
    <div data-csv-input-type>
      <input
        class="usa-input"
        th:classappend="${firstInputInvalid} ? 'usa-input--error'"
        type="text"
        inputmode="text"
        th:id="${valueInputId}"
        th:name="${valueInputId}"
        th:value="${model.userEnteredValue}"
        aria-required="true"
        th:aria-invalid="${firstInputInvalid}"
      />
    </div>
  </div>
</th:block>

<!-- Multi-select question type -->
<th:block
  th:fragment="multiValuesInput(valueOptions, multiValueInputId, errorMessageId)"
>
  <div
    class="usa-form-group margin-y-0"
    th:classappend="${!model.invalidInputIds.isEmpty()} ? 'usa-form-group--error'"
  >
    <fieldset class="usa-fieldset">
      <span
        class="usa-error-message"
        th:id="${errorMessageId}"
        th:if="${!model.invalidInputIds.isEmpty()}"
      >
        [[#{validation.selectionRequired}]]
      </span>
      <th:block th:each="valueOption, valueStat: ${valueOptions}">
        <div class="usa-checkbox">
          <input
            class="usa-checkbox__input usa-checkbox__input--tile"
            type="checkbox"
            th:value="${valueOption.value}"
            th:name="${multiValueInputId} + '[' + ${valueStat.count} + ']'"
            th:id="${multiValueInputId} + '[' + ${valueStat.count} + ']'"
            th:checked="${valueOption.selected}"
            th:aria-invalid="${!model.invalidInputIds.isEmpty()}"
            data-multi-input-value
          />
          <label
            class="usa-checkbox__label"
            th:for="${multiValueInputId} + '[' + ${valueStat.count} + ']'"
            th:text="${valueOption.displayText()}"
          >
          </label>
        </div>
      </th:block>
    </fieldset>
  </div>
</th:block>

<!-- Number question type -->
<th:block
  th:fragment="numberValuesInput(valueOptions, valueInputId, secondValueInputId, secondValueInputGroupId)"
>
  <div
    class="usa-hint"
    th:id="${valueInputHintId}"
    th:text="#{content.multipleValuesInputHint}"
  ></div>
  <div th:id="${firstValueInputGroupId}">
    <div data-default-input-type data-first-input>
      <input
        class="usa-input"
        th:classappend="${firstInputInvalid} ? 'usa-input--error'"
        type="number"
        inputmode="decimal"
        th:id="${valueInputId}"
        th:name="${valueInputId}"
        th:value="${model.userEnteredValue}"
        aria-required="true"
        th:aria-invalid="${firstInputInvalid}"
        data-number-value
      />
    </div>
    <!-- Note: inputmode is text here to allow commas in input for multiple values. -->
    <div data-csv-input-type>
      <input
        class="usa-input"
        th:classappend="${firstInputInvalid} ? 'usa-input--error'"
        type="text"
        inputmode="text"
        th:id="${valueInputId}"
        th:name="${valueInputId}"
        th:value="${model.userEnteredValue}"
        aria-required="true"
        th:aria-invalid="${firstInputInvalid}"
      />
    </div>
  </div>

  <div th:id="${secondValueInputGroupId}" class="margin-top-1">
    <span class="margin-left-1" th:text="#{content.and}"></span>
    <input
      class="usa-input"
      th:classappend="${secondInputInvalid} ? 'usa-input--error'"
      type="number"
      inputmode="decimal"
      th:id="${secondValueInputId}"
      th:name="${secondValueInputId}"
      th:value="${model.secondUserEnteredValue}"
      aria-required="true"
      th:aria-invalid="${secondInputInvalid}"
    />
  </div>
</th:block>

<!-- Text input question type -->
<th:block th:fragment="textValuesInput(valueInputId, valueInputHintId)">
  <div
    class="usa-hint"
    th:id="${valueInputHintId}"
    th:text="#{content.multipleValuesInputHint}"
  ></div>
  <div data-default-input-type data-first-input>
    <input
      class="usa-input"
      th:classappend="${firstInputInvalid} ? 'usa-input--error'"
      type="text"
      inputmode="text"
      th:id="${valueInputId}"
      th:name="${valueInputId}"
      th:value="${model.userEnteredValue}"
      aria-required="true"
      th:aria-invalid="${firstInputInvalid}"
    />
  </div>
</th:block>
