<th:block th:fragment="subconditionList(model)">
  <div
    class="display-flex flex-column"
    th:id="${'predicate-condition-' + model.conditionId + '-subcondition-list'}"
  >
    <th:block
      th:each="subcondition, subconditionStat: ${model.subconditions}"
      th:with="separatorId=${'condition-' + model.conditionId + '-subcondition-' + subconditionStat.count + '-predicateLogicSeparator'}"
    >
      <div
        th:replace="~{admin/programs/predicates/EditSubconditionFragment :: editSubcondition(${model.conditionId}, ${subconditionStat.count}, ${model.subconditions.size() == 1}, ${subcondition})}"
      ></div>
      <div
        th:if="${subconditionStat.count != model.subconditions.size()}"
        th:id="${separatorId}"
        class="cf-predicate-subcondition-separator font-sans-2xs text-uppercase"
      >
        <span
          th:text="${model.predicateLogicalOperator.toDisplayString()}"
        ></span>
      </div>
    </th:block>
    <div
      class="display-flex justify-center margin-bottom-05"
      th:hx-target="this"
    >
      <button
        type="button"
        class="usa-button usa-button--unstyled zero-top-margin"
        th:hx-post="${model.hxAddSubconditionEndpoint()}"
        th:hx-vals='|{"conditionId": "${model.conditionId}"}|'
        th:hx-target="${'#predicate-condition-' + model.conditionId + '-subcondition-list'}"
        hx-swap="outerHTML"
      >
        <cf:icon type="icon-add" />[[#{link.predicateAddSubcondition}]]
      </button>
    </div>
  </div>
</th:block>
