/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Customize USWDS styles here or prevent USWDS utilities (custom HTML classes
scoped to a single CSS property) from being applied by setting 'output' to 'false'.
See https://designsystem.digital.gov/documentation/settings/ and
https://designsystem.digital.gov/utilities/.
*/

@use 'uswds-core' with (
  $theme-font-path: '../../../../node_modules/@uswds/uswds/dist/fonts',
  $theme-image-path: '../../../../node_modules/@uswds/uswds/dist/img',
  $border-settings: (
    'output': false,
  ),
  $color-settings: (
    'output': false,
  )
);
