/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
To use a USWDS mixin with a USWDS design token,
do this:  @include <mixin name>('<design-token>')
See the radio-option below as an example.
*/

@use 'uswds-core' as *;

.cf-radio-option:focus-within {
  @include u-border('blue-40v');
}

/*
 * Make the file input element for program image upload fill the area it's given.
 * (This overrides the default USWDS style of a max-width of 30rem.)
 */
#program-image-upload-file-input .usa-file-input {
  max-width: none;
}

// Placeholder styles for cards.
/* stylelint-disable */
@media all and (min-width: 55em) {
  .tablet-lg\:grid-col-6 {
    flex: 0 1 auto !important;
    width: 50% !important;
  }
}

@media all and (min-width: 87.5em) {
  .widescreen\:grid-col-4 {
    flex: 0 1 auto !important;
    width: 33.3333333333% !important;
  }
}
/* stylelint-enable */
