<!--/*@thymesVar id="templateGlobals" type="views.admin.shared.TemplateGlobals"*/-->
<!--/*@thymesVar id="model" type="views.dev.AddressCheckerPageViewModel"*/-->
<th:block th:fragment="content">
  <div class="usa-section">
    <div class="usa-container">
      <!-- Back to dev tools link -->
      <div>
        <a th:href="${model.backLinkUrl}" class="usa-link">
          Back to dev tools
        </a>
      </div>

      <!-- Current Address Settings -->
      <section class="bg-base-lightest radius-md">
        <h2>Current Address Settings</h2>
        <div>
          <span class="font-sans-md font-bold">Address Correction: </span>
          <span
            th:text="${model.addressCorrectionEnabled} ? 'Enabled' : 'Disabled'"
          ></span>
        </div>
        <div>
          <span class="font-sans-md font-bold">Address Validation: </span>
          <span
            th:text="${model.addressValidationEnabled} ? 'Enabled' : 'Disabled'"
          ></span>
        </div>
        <div th:if="${model.findAddressCandidatesUrls.present}">
          <h3>Find Address Candidates URLs</h3>
          <ul>
            <li
              th:each="url : ${model.findAddressCandidatesUrls.get()}"
              th:text="${url}"
            ></li>
          </ul>
        </div>
        <div th:if="${model.addressServiceAreaValidationUrls.present}">
          <h3>Service Area Validation URLs</h3>
          <ul>
            <li
              th:each="url : ${model.addressServiceAreaValidationUrls.get()}"
              th:text="${url}"
            ></li>
          </ul>
        </div>
      </section>

      <!-- Address Correction Form -->
      <th:block
        th:if="${model.findAddressCandidatesUrls.present} and ${model.findAddressCandidatesUrls.get().size()} > 0 and ${model.addressCorrectionEnabled}"
      >
        <h2>Correct Address</h2>
        <form
          method="post"
          th:action="${model.correctAddressActionUrl}"
          class="usa-form width-full maxw-tablet-lg"
          th:attr="hx-post=${model.correctAddressActionUrl}"
          hx-target="#correctAddressDebugOutput"
          hx-swap="innerHTML"
          aria-label="Find Correction Results"
        >
          <input
            type="hidden"
            name="csrfToken"
            th:value="${templateGlobals.csrfToken()}"
          />
          <cf:input
            id="address1"
            label="Address 1"
            name="address1"
            class="usa-input width-full"
            type="text"
            autocomplete="address-line1"
          />
          <cf:input
            id="address2"
            label="Address 2"
            name="address2"
            class="usa-input width-full"
            type="text"
            autocomplete="address-line2"
          />
          <cf:input
            id="city"
            label="City"
            name="city"
            class="usa-input width-full"
            type="text"
            autocomplete="address-level2"
          />
          <cf:input
            id="state"
            label="State"
            name="state"
            class="usa-input width-full"
            type="text"
            autocomplete="address-level1"
          />
          <cf:input
            id="zip"
            label="Zip Code"
            name="zip"
            class="usa-input width-full"
            type="text"
            autocomplete="postal-code"
          />
          <div class="grid grid-row gap-1">
            <cf:button type="submit" class="usa-button width-full">
              Correct Address
            </cf:button>
            <cf:button
              type="reset"
              class="usa-button usa-button--outline width-full"
            >
              Reset
            </cf:button>
          </div>
        </form>
      </th:block>
      <th:block
        th:unless="${model.findAddressCandidatesUrls.present} and ${model.findAddressCandidatesUrls.get().size()} > 0 and ${model.addressCorrectionEnabled}"
      >
        <div class="usa-alert usa-alert--error" role="alert">
          <div class="usa-alert__body">
            <h2 class="usa-alert__heading">
              Cannot show address correction tool
            </h2>
            <p class="usa-alert__text">Likely reasons:</p>
            <ul class="usa-list usa-list--unstyled">
              <li>ESRI_FIND_ADDRESS_CANDIDATES_URLS has no endpoints</li>
              <li>ESRI_ADDRESS_CORRECTION_ENABLED is not enabled</li>
            </ul>
          </div>
        </div>
      </th:block>
      <div id="correctAddressDebugOutput"></div>

      <!-- Service Area Validation Form -->
      <th:block
        th:if="${model.addressServiceAreaValidationUrls.present} and ${model.addressServiceAreaValidationUrls.get().size()} > 0 and ${model.addressValidationEnabled}"
      >
        <h2>Check Service Area</h2>
        <form
          method="post"
          th:action="${model.checkServiceAreaActionUrl}"
          class="usa-form width-full maxw-tablet-lg"
          th:attr="hx-post=${model.checkServiceAreaActionUrl}"
          hx-target="#checkServiceAreaDebugOutput"
          hx-swap="innerHTML"
          aria-label="Search Service Area"
        >
          <input
            type="hidden"
            name="csrfToken"
            th:value="${templateGlobals.csrfToken}"
          />
          <cf:input
            class="usa-input"
            id="latitude"
            label="Latitude/Y"
            name="latitude"
            type="text"
            required
          />
          <cf:input
            class="usa-input"
            id="longitude"
            label="Longitude/X"
            name="longitude"
            type="text"
            required
          />
          <cf:input
            class="usa-input"
            id="wellKnownId"
            label="Well Known ID"
            name="wellKnownId"
            type="number"
            required
          />
          <div class="usa-form-group">
            <label class="usa-label" for="validationOption"
              >Validation Option</label
            >
            <label for="validationOption" class="usa-label">
              <div class="italic">Validation format: label (attribute=id)</div>
            </label>
            <select
              id="validationOption"
              name="validationOption"
              class="usa-select"
              required
            >
              <option value="" disabled selected>
                Select a validation option
              </option>
              <th:block
                th:each="entry : ${model.serviceAreaValidationConfigMap.entrySet()}"
              >
                <option
                  th:value="${entry.key}"
                  th:text="${entry.value.label + ' (' + entry.value.attribute + '=' + entry.value.id + ')'}"
                ></option>
              </th:block>
            </select>
          </div>
          <div class="grid grid-row gap-1">
            <cf:button class="usa-button width-full" type="submit">
              Check Service Area
            </cf:button>
            <cf:button
              class="usa-button usa-button--outline width-full"
              type="reset"
            >
              Reset
            </cf:button>
          </div>
        </form>
      </th:block>
      <th:block
        th:unless="${model.addressServiceAreaValidationUrls.present} and ${model.addressServiceAreaValidationUrls.get().size()} > 0 and ${model.addressValidationEnabled}"
      >
        <div class="usa-alert usa-alert--error" role="alert">
          <div class="usa-alert__body">
            <h2 class="usa-alert__heading">
              Cannot show service area validation tool
            </h2>
            <p class="usa-alert__text">Likely reasons:</p>
            <ul class="usa-list usa-list--unstyled">
              <li>
                ESRI_ADDRESS_SERVICE_AREA_VALIDATION_URLS has no endpoints
              </li>
              <li>
                ESRI_ADDRESS_SERVICE_AREA_VALIDATION_ENABLED is not enabled
              </li>
            </ul>
          </div>
        </div>
      </th:block>
      <div id="checkServiceAreaDebugOutput"></div>
    </div>
  </div>
</th:block>
