<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:hx="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Thymeleaf Demo Page</title>

  <link th:href="${tailwindStylesheet}" type="text/css" rel="stylesheet">
  <link th:href="${uswdsStylesheet}" type="text/css" rel="stylesheet">
  <script th:src="${uswdsJsBundle}" type="text/javascript"></script>
  <script th:src="${adminJsBundle}" type="text/javascript"></script>
</head>
<body>

<h2>This page is a demo page for components using Thymeleaf and HTMX for North Star work.</h2>

</body>
</html>