<div
  th:fragment="address-correction-option(address, selected, hideButton, singleLineAddress)"
  th:class="${hideButton ? 'cf-zero-top-margin' : 'usa-radio section-internal'}"
  th:with="inputId=${'id-' + #strings.randomAlphanumeric(8)}"
>
  <input
    type="radio"
    class="usa-radio__input usa-radio__input--tile"
    name="selectedAddress"
    th:value="${singleLineAddress}"
    th:checked="${selected}"
    th:attr="hidden=${hideButton ? '' : null}"
    th:id="${inputId}"
  />
  <label th:class="${hideButton ? '' : 'usa-radio__label'}" th:for="${inputId}">
    <div
      th:text="${address.getStreet()}"
      th:class="${hideButton ? 'cf-zero-top-margin' : ''}"
    ></div>
    <div
      th:if="${address.hasLine2()}"
      th:text="${address.getLine2()}"
      th:class="${hideButton ? 'cf-zero-top-margin' : ''}"
    ></div>
    <!--/* City, State Zip */-->
    <div
      th:text="|${address.getCity()}, ${address.getState()} ${address.getZip()}|"
      th:class="${hideButton ? 'cf-zero-top-margin' : ''}"
    ></div>
  </label>
</div>
