<div
  th:fragment="toast(id, message, canDismiss, canIgnore, toastDuration, condOnStorageKey, toastType)"
  class="hidden cf-toast-data"
  th:id="${id}"
  th:attr="canDismiss=${canDismiss},canIgnore=${canIgnore},toastDuration=${toastDuration},condOnStorageKey=${condOnStorageKey},toastType=${toastType}"
  th:text="${message}"
></div>

<div
  th:fragment="warning(id, message, canDismiss, canIgnore, toastDuration, condOnStorageKey)"
>
  <div
    th:replace="~{this :: toast(${id}, ${message}, ${canDismiss}, ${canIgnore}, ${toastDuration}, ${condOnStorageKey}, 'warning')}"
  ></div>
</div>

<div
  th:fragment="success(id, message, canDismiss, canIgnore, toastDuration, condOnStorageKey)"
>
  <div
    th:replace="~{this :: toast(${id}, ${message}, ${canDismiss}, ${canIgnore}, ${toastDuration}, ${condOnStorageKey}, 'success')}"
  ></div>
</div>

<div th:fragment="blockEditToasts">
  <th:block
    th:if="${applicationParams.bannerMessage().isPresent()}"
    th:with="toastId=${#strings.randomAlphanumeric(8)}"
  >
    <div
      th:replace="~{this :: success(${toastId}, ${applicationParams.bannerMessage().get()}, true, false, 0, null)}"
    ></div>
  </th:block>
  <th:block
    th:if="${!applicationParams.preferredLanguageSupported()}"
    th:with="toastId=${'locale-not-supported-'+ applicationParams.applicantId() + '-' + applicationParams.programId()}"
  >
    <div
      th:replace="~{this:: warning(${toastId}, #{toast.localeNotSupported}, true, true, 0, null)}"
    ></div>
  </th:block>
</div>