<!--/* Date validation type select shared by the question new/edit pages. */-->
<div
  th:fragment="dateTypeSelect(id, name, label, anyLabel, value)"
  class="mb-2"
>
  <label
    th:for="${id}"
    class="pointer-events-none text-gray-600 text-base px-1 py-2"
    >[[${label}]]<span
      th:replace="~{admin/shared/LegacyFieldWithLabel/RequiredIndicator :: requiredIndicator(true)}"
    ></span
  ></label>
  <div class="flex flex-col">
    <select
      maxlength="10000"
      aria-required="true"
      th:id="${id}"
      th:name="${name}"
      class="px-3 bg-white text-black text-lg py-2 block outline-none box-border m-auto border border-gray-500 rounded-lg w-full focus:border-civiform-blue placeholder-gray-500 h-11.5"
    >
      <option value="" hidden th:selected="${#strings.isEmpty(value)}"></option>
      <optgroup label="">
        <option
          class="cf-multi-option-question-option cf-multi-option-value"
          value="ANY"
          th:selected="${value == 'ANY'}"
          th:text="${anyLabel}"
        ></option>
        <option
          class="cf-multi-option-question-option cf-multi-option-value"
          value="APPLICATION_DATE"
          th:selected="${value == 'APPLICATION_DATE'}"
        >
          Current date of application
        </option>
        <option
          class="cf-multi-option-question-option cf-multi-option-value"
          value="CUSTOM"
          th:selected="${value == 'CUSTOM'}"
        >
          Custom date
        </option>
      </optgroup>
    </select>
    <div th:id="|${id}-errors|" class="text-red-600 text-xs p-1 hidden"></div>
  </div>
</div>
