<!--/*@thymesVar id="questionForm" type="forms.questions.IdQuestionForm"*/-->
<th:block
  th:fragment="build(questionForm)"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:cf="https://civiform.us/thymeleaf/cf"
>
  <cf:input
    id="id-min-length"
    name="minLength"
    label="Minimum length"
    type="number"
    min="0"
    th:value="${questionForm.getMinLength()}"
  />
  <cf:input
    id="id-max-length"
    name="maxLength"
    label="Maximum length"
    type="number"
    min="1"
    th:value="${questionForm.getMaxLength()}"
  />
</th:block>
