<!--/*@thymesVar id="adminCommonHeader" type="views.admin.shared.AdminCommonHeader"*/-->
<th:block xmlns:cf="https://civiform.us/2024/html/icon">
  <section
    class="usa-banner"
    aria-label="This is an official government website."
  >
    <div class="usa-accordion">
      <header class="usa-banner__header">
        <div class="usa-banner__inner">
          <div class="grid-col-fill tablet:grid-col-auto" aria-hidden="true">
            <p class="usa-banner__header-text">
              This is an official government website.
            </p>
            <p class="usa-banner__header-action">Here's how you know</p>
          </div>
          <button
            type="button"
            class="usa-accordion__button usa-banner__button"
            aria-expanded="false"
            aria-controls="gov-banner-default"
          >
            <span class="usa-banner__button-text">Here's how you know</span>
          </button>
        </div>
      </header>
      <div
        class="usa-banner__content usa-accordion__content"
        id="gov-banner-default"
      >
        <div class="grid-row grid-gap-lg">
          <div class="usa-banner__guidance tablet:grid-col-6">
            <cf:icon
              class="usa-banner__icon usa-media-block__img"
              type="icon-dot-gov"
            />
            <div class="usa-media-block__body">
              <p>
                <strong>Official websites use .gov</strong><br /><span
                  >Website addresses ending in .gov belong to official
                  government organizations in the United States.</span
                >
              </p>
            </div>
          </div>
          <div class="usa-banner__guidance tablet:grid-col-6">
            <cf:icon
              class="usa-banner__icon usa-media-block__img"
              type="icon-https"
            />
            <div class="usa-media-block__body">
              <p>
                <strong>Secure .gov websites use HTTPS</strong><br />
                A lock (
                <span class="icon-lock"
                  ><svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="currentColor"
                    stroke="currentColor"
                    stroke-width="1%"
                    aria-hidden="true"
                    viewBox="0 0 52 64"
                    class="inline align-baseline usa-banner__lock-image"
                    role="img"
                    aria-label="Locked padlock icon"
                    focusable="false"
                  >
                    <path
                      d="M26 0c10.493 0 19 8.507 19 19v9h3a4 4 0 0 1 4 4v28a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4V32a4 4 0 0 1 4-4h3v-9C7 8.507 15.507 0 26 0zm0 8c-5.979 0-10.843 4.77-10.996 10.712L15 19v9h22v-9c0-6.075-4.925-11-11-11z"
                    ></path>
                    <title id="banner-lock-title-default">Lock</title>
                  </svg></span
                >
                ) or https:// means you've safely connected to the .gov website.
                Only share sensitive information on official, secure websites.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</th:block>
