<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Form to CiviForm JSON</title>
    <style>
      #output {
        width: 95%;
        height: 400px;
        border: 1px solid #ccc;
        padding: 10px;
        font-family: monospace;
        white-space: pre-wrap;
        overflow: auto;
        resize: both;
        word-wrap: break-word;
      }

      .form-group {
        margin-bottom: 10px;
      }

      .inline-form-group {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      .inline-form-group label {
        margin-right: 10px;
      }

      .inline-form-group input[type='text'] {
        margin-right: 20px; /* Increased margin */
      }

      /* Style all buttons to look like the default file input */
      button {
        border: 1px solid #ccc; /* Light gray border */
        background-color: #eee; /* Light gray background */
        color: #333; /* Dark gray text */
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 10px;
        font-family: inherit; /* Use the default font */
        font-size: inherit; /* Use the default font size */
      }

      .section-spacer {
        margin-top: 50px;
      }
    </style>
    <script>
      async function uploadFile(event) {
        event.preventDefault()
        const fileInput = document.getElementById('pdfFile')
        const file = fileInput.files[0]
        if (!file) {
          alert('Please select a PDF file containing a program form.')
          return
        }

        const formData = new FormData()
        formData.append('file', file)
        formData.append(
          'modelName',
          document.getElementById('LLMModelSelect').value,
        )
        formData.append('logLevel', getLogLevel())

        const outputTextArea = document.getElementById('output')
        const outputContainer = document.querySelector('.output-container')

        outputTextArea.value = 'Processing...'
        updateCharacterCount('')
        outputContainer.classList.add('show')

        try {
          const response = await fetch('/upload', {
            method: 'POST',
            body: formData,
          })

          if (!response.ok) {
            const errorText = await response.text()
            outputTextArea.value = `Error: ${response.status} - ${errorText}`
            updateCharacterCount(errorText)
            return
          }

          const responseData = await response.text()
          console.log('Raw responseData:', responseData)
          try {
            const firstParse = JSON.parse(responseData) // Parse the outer string
            const jsonData = JSON.parse(firstParse) // Parse the inner string (which was the result of the first parse)
            outputTextArea.value = JSON.stringify(jsonData, null, 2)
          } catch (error) {
            console.error('Error parsing JSON:', error)
            outputTextArea.value =
              'Error parsing JSON: ' +
              error.message +
              '\n\nRaw data:\n' +
              responseData
          }

          const debugLogElement = document.getElementById('debugLog')
          if (debugLogElement) {
            if (responseData.debug_log) {
              debugLogElement.textContent = responseData.debug_log
            } else {
              debugLogElement.textContent = 'No debug log for single file'
            }
          }

          updateCharacterCount(outputTextArea.value)
        } catch (error) {
          outputTextArea.value = `Request failed: ${error}`
          updateCharacterCount(outputTextArea.value)
        }
      }

      async function uploadDirectory(event) {
        event.preventDefault()

        const outputContainer = document.querySelector('.output-container')
        const outputTextArea = document.getElementById('output')

        outputTextArea.value = 'Processing directory... please wait'
        updateCharacterCount('')
        outputContainer.classList.add('show')

        const formData = new FormData()
        formData.append(
          'modelName',
          document.getElementById('LLMModelSelect').value,
        )
        formData.append('logLevel', getLogLevel())

        formData.append(
          'directoryPath',
          document.getElementById('directoryPath').value,
        )

        try {
          const response = await fetch('/upload_directory', {
            method: 'POST',
            body: formData,
          })

          if (!response.ok) {
            const errorText = await response.text()
            outputTextArea.value = `Error: ${response.status} - ${errorText}`
            updateCharacterCount(errorText)
            const debugLogElement = document.getElementById('debugLog')
            if (debugLogElement) {
              debugLogElement.textContent =
                'No debug log. Check console for details.'
            }

            return
          }

          const responseData = await response.json()
          outputTextArea.value = JSON.stringify(responseData, null, 2)

          const summaryElement = document.getElementById('processingSummary')
          if (summaryElement) {
            if (responseData.summary) {
              const summary = responseData.summary
              summaryElement.textContent = `Total Files: ${summary.total_files}, Succeeded: ${summary.success_count}, Failed: ${summary.fail_count}`
            } else {
              summaryElement.textContent = 'No summary available'
            }
          }

          const debugLogElement = document.getElementById('debugLog')
          if (debugLogElement) {
            debugLogElement.textContent = responseData.debug_log
          }

          updateCharacterCount(outputTextArea.value)
        } catch (error) {
          outputTextArea.value = `Request failed: ${error}`
          updateCharacterCount(outputTextArea.value)
        }
      }

      function updateCharacterCount(text) {
        document.getElementById('charCount').textContent =
          `Character Count: ${text.length}`
      }

      document.addEventListener('DOMContentLoaded', function () {
        const outputTextArea = document.getElementById('output')
        updateCharacterCount(outputTextArea.value)
        outputTextArea.addEventListener('input', function () {
          updateCharacterCount(outputTextArea.value)
        })
      })

      function copyToClipboard() {
        const outputTextArea = document.getElementById('output')
        outputTextArea.select()
        document.execCommand('copy')
        if (window.getSelection) {
          window.getSelection().removeAllRanges()
        } else if (document.selection) {
          document.selection.empty()
        }
        alert('Copied to clipboard!')
      }
    </script>
    <script>
      function getLogLevel() {
        const logLevelSelect = document.getElementById('logLevelSelect')
        const selectedLogLevel = logLevelSelect.value
        return selectedLogLevel
      }
    </script>
  </head>

  <body>
    <h1>PDF Form to CiviForm JSON</h1>

    <p class="description">
      Convert PDF forms to CiviForm JSON. Enter a server-side directory path for
      multiple files or select a single PDF.
    </p>

    <p>
      <strong>Instructions:</strong>
    </p>
    <ol>
      <li>
        <strong>Single File Processing:</strong>
        <ul>
          <li>
            To process a single PDF, select it using the file selection button.
            Click "Convert" (for a single file) to generate the CiviForm JSON
            output.
          </li>
        </ul>
      </li>
      <li>
        <strong>Directory Processing:</strong>
        <ul>
          <li>
            Enter the server directory path (Default: `~/pdf_forms`) where your
            PDF files are located. Click "Process Directory" (for multiple files
            on the server) to generate the CiviForm JSON output.
          </li>
        </ul>
      </li>
      <li>Copy the CiviForm JSON output and import it to CiviForm.</li>
    </ol>

    <div class="inline-form-group">
      <div class="form-group">
        <label for="LLMModelSelect">LLM Model:</label>
        <select id="LLMModelSelect">
          <option value="gemini-2.0-flash">gemini-2.0-flash</option>
          <option value="gemini-2.0-flash-lite">gemini-2.0-flash-lite</option>
          <option value="gemini-2.0-pro-exp">gemini-2.0-pro-exp</option>
          <option value="gemini-2.0-flash-thinking">
            gemini-2.0-flash-thinking
          </option>
          <option value="gemini-1.5-pro-latest">gemini-1.5-pro-latest</option>
        </select>
      </div>
      <div class="form-group">
        <label for="logLevelSelect">Log Level:</label>
        <select id="logLevelSelect">
          <option value="INFO">INFO</option>
          <option value="DEBUG">DEBUG</option>
        </select>
      </div>
    </div>

    <h2>Single File:</h2>
    <form onsubmit="uploadFile(event)" class="form-group">
      <input type="file" id="pdfFile" accept="application/pdf" required />
      <button type="submit">Convert a single PDF file</button>
    </form>

    <div class="output-container">
      <h2 class="section-spacer">
        Output JSON (To-be-fixed: imcomplete json output):
      </h2>
      <button onclick="copyToClipboard()">Copy to Clipboard</button>
      <textarea
        id="output"
        placeholder="JSON output will appear here"
      ></textarea>
      <div id="processingSummary"></div>
      <div id="charCount">Character Count: 0</div>
    </div>

    <h2 class="section-spacer">Directory:</h2>
    <form onsubmit="uploadDirectory(event)" class="form-group">
      <div class="inline-form-group">
        <label for="directoryPath">Server Directory Path:</label>
        <input
          type="text"
          id="directoryPath"
          name="directoryPath"
          value="~/pdf-to-civiform/pdf_forms"
        />
        <button type="submit">Process Directory</button>
      </div>
    </form>
    
    <div id="debug-log-container">
      <h2>Debug Log:</h2>
      <pre id="debugLog"></pre>
    </div>
  </body>
</html>
