<!-- Pre-Screener Card (before it is started - displays horizontally) -->
<div th:fragment="preScreenerCard (card)" class="usa-card cf-application-card">
  <div
    class="usa-card__container tablet:flex-row tablet:flex-justify bg-primary-lighter margin-0"
  >
    <div>
      <!--*/Title */-->
      <div
        th:replace="~{applicant/programindex/ProgramCardsFragment :: preScreeningBannerTitle(${card})}"
      ></div>
      <div
        th:replace="~{applicant/programindex/ProgramCardsFragment :: preScreeningBannerDescription(${card})}"
      ></div>
    </div>

    <div
      class="usa-card__footer cf-card-footer tablet:flex-align-self-center tablet:padding-y-0"
    >
      <a
        th:href="${card.actionUrl()}"
        class="usa-button usa-button--big cf-apply-button"
        th:text="#{button.startSurvey}"
      ></a>
    </div>
  </div>
</div>

<!-- Pre-Screener Card (after it is started - similar to a Standard Card) -->
<li
  th:fragment="submittedOrInProgressPreScreenerCard (card)"
  class="usa-card cf-application-card"
>
  <div class="usa-card__container bg-primary-lighter">
    <div
      th:replace="~{applicant/programindex/ProgramCardsFragment :: cardTitle(${card})}"
    ></div>

    <div class="usa-card__body">
      <div
        th:replace="~{applicant/programindex/ProgramCardsFragment :: cardProgramDescription(${card})}"
      ></div>

      <div
        th:replace="~{applicant/programindex/ProgramCardsFragment :: inProgressCardTag(${card})}"
      ></div>

      <div
        th:replace="~{applicant/programindex/ProgramCardsFragment :: submittedCardTag(${card})}"
      ></div>
    </div>

    <div
      th:replace="~{applicant/programindex/ProgramCardsFragment :: cardActionButton(${card}, ${sectionType})}"
    ></div>
  </div>
</li>

<!-- Standard Card -->
<li
  th:fragment="card (card, sectionType)"
  th:with="showImage=(${sectionType != 'MY_APPLICATIONS' and card.imageSourceUrl().isPresent() and not #strings.isEmpty(card.imageSourceUrl().get())})"
  class="usa-card cf-application-card"
  th:classappend="${showImage} ? usa-card--header-first : '' "
>
  <div class="usa-card__container">
    <div
      th:replace="~{applicant/programindex/ProgramCardsFragment :: cardTitle(${card})}"
    ></div>

    <!-- Optional image -->
    <div th:if="${showImage}" class="usa-card__media">
      <div class="usa-card__img add-aspect-16x9">
        <img
          th:src="${card.imageSourceUrl().get()}"
          th:alt="${card.altText().orElse('')}"
        />
      </div>
    </div>

    <div class="usa-card__body">
      <!-- Program categories -->
      <div
        role="group"
        th:aria-label="#{ariaLabel.categories}"
        th:if="${sectionType != 'MY_APPLICATIONS' and !card.categories().isEmpty()}"
        class="display-flex flex-wrap margin-bottom-1 cf-flex-gap"
      >
        <th:block th:each="category : ${card.categories()}">
          <div
            th:text="${category}"
            class="usa-tag usa-prose border border-base-light radius-sm bg-white text-ink text-no-uppercase"
          ></div>
        </th:block>
      </div>

      <div
        th:replace="~{applicant/programindex/ProgramCardsFragment :: cardProgramDescription(${card})}"
      ></div>

      <div
        th:replace="~{applicant/programindex/ProgramCardsFragment :: inProgressCardTag(${card})}"
      ></div>

      <div
        th:replace="~{applicant/programindex/ProgramCardsFragment :: submittedCardTag(${card})}"
      ></div>

      <!--Application status (set by admin) -->
      <div
        th:if="${card.applicationStatus().isPresent()}"
        class="text-medium-margin-top"
      >
        <span
          th:if="${card.dateStatusApplied.isPresent()}"
          th:text="#{label.statusOn(${card.applicationStatus().get()}, ${card.dateStatusApplied.get()})}"
          class="cf-program-card-tag tag-submitted cf-bt-date"
        ></span>
        <span
          th:if="${card.dateSubmitted.isEmpty()}"
          th:text="${card.applicationStatus().get()}"
          class="cf-program-card-tag tag-submitted"
        ></span>
      </div>

      <!--Eligibility tag -->
      <div
        th:if="${card.eligible().isPresent()}"
        class="text-medium-margin-top"
      >
        <div class="flex-parent">
          <div
            th:if="${card.eligible().get()}"
            class="flex-parent success-state"
          >
            <cf:icon type="icon-check-circle" />
            <span
              th:text="${card.eligibilityMessage().get()}"
              th:classappend="cf-eligible-tag"
            ></span>
          </div>
          <div
            th:if="${!card.eligible().get()}"
            class="flex-parent failed-state"
          >
            <cf:icon type="icon-block-circle" />
            <span
              th:text="${card.eligibilityMessage().get()}"
              th:classappend="cf-not-eligible-tag"
            ></span>
          </div>
          <div class="flex-fill"></div>
        </div>
      </div>
    </div>

    <div
      th:replace="~{applicant/programindex/ProgramCardsFragment :: cardActionButton(${card}, ${sectionType})}"
    ></div>
  </div>
</li>

<!-- Pre-Screening Card title -->
<div
  th:fragment="preScreeningBannerTitle(card)"
  class="usa-card__header usa-prose"
>
  <h2
    class="usa-card__heading cf-application-card-title"
    th:text="${card.title()}"
    th:data-program-id="${card.programId()}"
  ></h2>
</div>

<!-- Pre-Screening Program description/-->
<div
  th:fragment="preScreeningBannerDescription(card)"
  class="usa-card__body usa-intro"
>
  <p th:text="${card.body()}" class="cf-wrap-anywhere"></p>
</div>

<!-- Standard Card title -->
<div th:fragment="cardTitle(card)" class="usa-card__header usa-prose">
  <h3
    class="usa-card__heading cf-application-card-title cf-prose-h4"
    th:text="${card.title()}"
    th:data-program-id="${card.programId()}"
  ></h3>
</div>

<!-- Standard Card Program description/-->
<div th:fragment="cardProgramDescription(card)" class="usa-prose">
  <p th:text="${card.body()}" class="cf-wrap-anywhere"></p>
</div>

<!-- Standard Card In progress tag -->
<div
  th:fragment="inProgressCardTag (card)"
  th:if="${card.lifecycleStage.isPresent() and card.lifecycleStage.get().toString() == 'DRAFT' and !card.dateSubmitted.isPresent()}"
  class="text-medium-margin-top"
>
  <span
    th:text="#{label.inProgress}"
    class="cf-program-card-tag tag-in-progress"
  ></span>
</div>

<!--Standard Card Submitted tag -->
<div
  th:fragment="submittedCardTag (card)"
  th:if="${!card.applicationStatus().isPresent() and card.dateSubmitted.isPresent()}"
  class="text-medium-margin-top"
>
  <span
    th:if="${card.dateSubmitted.isPresent()}"
    th:text="#{label.submittedOn(${card.dateSubmitted.get()})}"
    class="cf-program-card-tag tag-submitted cf-bt-date"
  ></span>
  <span
    th:if="${card.dateSubmitted.isEmpty()}"
    th:text="#{label.submitted}"
    class="cf-program-card-tag tag-submitted"
  ></span>
</div>

<!-- Standard Card Action button -->
<div
  th:fragment="cardActionButton (card, sectionType)"
  class="usa-card__footer cf-card-footer"
>
  <th:block th:if="${card.programType().toString() == 'EXTERNAL'}">
    <a
      class="usa-button usa-button--outline cf-apply-button"
      th:href="${'#external-program-modal-' + card.programId()}"
      th:aria-controls="${'external-program-modal-' + card.programId()}"
      th:aria-label="#{button.viewInNewTabSr(${card.title()})}"
      role="button"
      data-open-modal
    >
      <svg
        th:replace="~{applicant/ApplicantBaseFragment :: icon(${launchIcon})}"
      ></svg>
      <span th:text="#{button.viewInNewTab}"></span>
    </a>

    <div
      th:replace="~{applicant/shared/ModalFragment:: externalProgramModal(${card.actionUrl()}, ${card.programId()})}"
    ></div>
  </th:block>

  <th:block th:unless="${card.programType().toString() == 'EXTERNAL'}">
    <a
      th:href="${card.actionUrl()}"
      class="usa-button usa-button--outline cf-apply-button"
      th:text="#{${sectionType == 'MY_APPLICATIONS' ? 'button.edit' : 'button.viewAndApply'}}"
      th:aria-label="#{button.viewAndApplySr(${card.title()})}"
    ></a>
  </th:block>
</div>
