services:
  env-var-docs:
    image: python:3.14.2-slim@sha256:9b81fe9acff79e61affb44aaf3b6ff234392e8ca477cb86c9f7fd11732ce9b6a
    container_name: civiform-vars-parser-package
    tty: true
    entrypoint: /bin/bash
    working_dir: /code
    volumes:
      - ../:/code
    environment:
      - PIP_ROOT_USER_ACTION=ignore
      - PIP_DISABLE_PIP_VERSION_CHECK=true
