<th:block
  th:fragment="render(model)"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:cf="https://civiform.us/thymeleaf/cf"
>
  <h2>Headings</h2>

  <!-- #F9F9F7 -->
  <div class="bg-base-lightest padding-x-2 padding-y-1">
    <h1>National Parks</h1>
    <div class="usa-intro">Great Smoky Mountains National Park straddles the border of North Carolina and Tennessee.</div>
    <h2>Appalachian trail</h2>
    <h3>Hiking the Appalachian trail</h3>
    <h4>Planning for the elements</h4>
    <h5>Rain</h5>
    <h6>Soaking Rain</h6>
  </div>

  <div class="bg-base-lightest padding-x-2 padding-y-1 margin-bottom-4 usa-prose">
    <h1>National Parks</h1>
    <div class="usa-intro">Great Smoky Mountains National Park straddles the border of North Carolina and Tennessee.</div>
    <h2>Appalachian trail</h2>
    <h3>Hiking the Appalachian trail</h3>
    <h4>Planning for the elements</h4>
    <h5>Rain</h5>
    <h6>Soaking Rain</h6>
  </div>

</th:block>
