@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Add global styles and classes here.
 */
@layer base {
  h1 {
    @apply text-2xl;
  }

  h2 {
    @apply text-xl;
  }

  button {
    @apply bg-blue-600 border border-transparent text-white font-bold py-2 px-4 rounded;
  }

  button:hover {
    @apply bg-blue-700;
  }

  button:disabled {
    @apply bg-white text-gray-400 border border-gray-400;
  }

  .cf-accordion-visible > .cf-accordion-header > .cf-accordion-button {
    @apply rotate-180;
  }

  .cf-accordion-visible > .cf-accordion-content {
    @apply h-auto mt-2 mb-1;
  }

  /* Remove number steppers */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type=number] {
    -moz-appearance: textfield;
  }
}
