$my-foreground-color: white;
$my-background-color: #88ff00;

body {
  color: $my-foreground-color !important;
  background-color: $my-background-color !important;
}

body header nav div {
  background-color: $my-background-color !important;
}
