<!--/*@thymesVar id="templateGlobals" type="views.admin.shared.TemplateGlobals"*/-->
<!--/*@thymesVar id="model" type="views.admin.apikeys.ApiKeyCredentialsPageViewModel"*/-->
<th:block
  th:fragment="content"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:cf="https://civiform.us/thymeleaf/cf"
>
  <div>
    <h2 th:text="#{apikeycredentials.section.credentials}"></h2>
    <p th:text="#{apikeycredentials.text.warning}"></p>

    <p>
      <span th:text="#{apikeycredentials.text.credentialsinfo}"></span>
      <a
        class="usa-link usa-link--external"
        href="https://docs.civiform.us/it-manual/api/authentication"
        target="_blank"
        rel="noopener noreferrer"
        th:text="#{apikeycredentials.link.apidocs}"
      ></a>
      <span th:text="#{apikeycredentials.text.fordetails}"></span>
    </p>

    <p>
      <span th:text="#{apikeycredentials.label.secrettoken}"></span
      ><span
        id="api-key-credentials"
        th:text="${model.encodedCredentials}"
      ></span>
    </p>
    <p>
      <span th:text="#{apikeycredentials.label.username}"></span
      ><span th:text="${model.keyId}"></span>
    </p>
    <p>
      <span th:text="#{apikeycredentials.label.password}"></span
      ><span th:text="${model.keySecret}"></span>
    </p>
  </div>
</th:block>
