<div
  th:fragment="errorComponent(title, subtitle, additionalInfo, buttonText, homeUrl, statusCode)"
>
  <div class="usa-section">
    <div class="grid-container">
      <div class="grid-row grid-gap">
        <div id="main-content" class="usa-prose">
          <h1 class="mb-4" th:text="${title}"></h1>
          <p
            th:if="${subtitle != null && !subtitle.isEmpty()}"
            class="usa-intro"
            th:text="${subtitle}"
          ></p>
          <div
            th:if="${additionalInfo != null && !additionalInfo.isEmpty()}"
            th:utext="${additionalInfo}"
          ></div>
          <div class="margin-y-5">
            <div class="margin-y-5">
              <a
                class="usa-button"
                id="visit-home-page-button"
                th:text="${buttonText}"
                th:href="${homeUrl}"
              ></a>
            </div>
            <p
              th:if="${statusCode != null && !statusCode.isEmpty()}"
              th:text="#{error.statusCode(${statusCode})}"
            ></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
