<!--/*@thymesVar id="templateGlobals" type="views.admin.shared.TemplateGlobals"*/-->
<!--/*@thymesVar id="model" type="views.admin.apibridge.discovery.DiscoveryPageViewModel"*/-->
<th:block th:fragment="content">
  <h1 class="text-normal" th:text="${templateGlobals.pageTitle()}"></h1>

  <th:block
    th:insert="~{admin/apibridge/BridgeHeader :: tabStrip(${model.currentPage()})}"
  ></th:block>

  <form
    hx-target="#detailsTarget"
    hx-indicator="#searchButton"
    th:hx-post="${model.hxDiscoveryPopulateUrl()}"
  >
    <label class="usa-label" for="hostUrl">
      URL
      <abbr title="required" class="usa-hint usa-hint--required">*</abbr>
    </label>

    <div class="display-flex">
      <input
        class="usa-input margin-top-0 margin-right-1"
        id="hostUrl"
        name="hostUrl"
      />

      <button id="searchButton" class="usa-button margin-0" type="submit">
        Search
      </button>
    </div>
  </form>

  <div class="padding-top-2" id="detailsTarget"></div>
</th:block>
