/*
----------------------------------------
USWDS with settings overrides
----------------------------------------
Uncomment the following lines and add a list of changed settings
in the form $setting: value,
----------------------------------------
*/

@use 'uswds-core' with (
  $theme-font-path: '../../../../node_modules/@uswds/uswds/dist/fonts',
  $theme-image-path: '../../../../node_modules/@uswds/uswds/dist/img',
  $border-settings: (
    'output': false,
  )
);
