<!--/*@thymesVar id="templateGlobals" type="views.shared.TemplateGlobals"*/-->
<!--/*@thymesVar id="layoutParams" type="views.shared.LayoutParams"*/-->
<!--/*@thymesVar id="featureFlags" type="views.shared.FeatureFlags"*/-->
<!doctype html>
<html lang="en-US" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title
      th:text="${#strings.isEmpty(templateGlobals.pageTitle()) ? 'CiviForm' : templateGlobals.pageTitle() + ' - CiviForm'}"
    >
    </title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="civiform-build-tag"
      th:content="${layoutParams.civiformImageTag()}"
    />
    <meta
      th:if="${layoutParams.addNoIndexMetaTag()}"
      name="robots"
      content="noindex"
    />
    <meta
      name="htmx-config"
      th:content='|{"inlineStyleNonce":"${templateGlobals.cspNonce()}"}|'
    />

    <link rel="icon" th:href="${layoutParams.favicon()}" />

    <!--/* Stylesheets to be added */-->
    <link
      th:each="stylesheet: ${layoutParams.stylesheets()}"
      th:nonce="${templateGlobals.cspNonce()}"
      th:href="${stylesheet}"
      type="text/css"
      rel="stylesheet"
    />

    <th:block th:insert="~{shared/FeatureFlags}" />

    <!--/* Scripts to be added before body content. Keep these to a minimum  */-->
    <script
      th:each="script: ${layoutParams.headScripts()}"
      th:nonce="${templateGlobals.cspNonce()}"
      th:src="${script.src()}"
      th:type="${script.type()}"
      th:async="${script.async()}"
      th:defer="${script.defer()}"
      th:integrity="${script.integrity()}"
      th:id="${script.id()}"
      th:crossorigin="${#strings.equals(script.type(), 'text/javascript') ? 'anonymous' : null}"
    ></script>

    <!--/* We are avoiding using .usa-prose class because it produces unexpected results. This makes it obvious if it is used. */-->
    <style
      th:if="${templateGlobals.isDev()}"
      th:nonce="${templateGlobals.cspNonce()}"
    >
      .usa-prose {
        overflow: hidden !important;
        height: auto !important;
        padding: 0 !important;
        margin: 0 !important;
        position: relative !important;
        font-size: 0 !important;
        color: transparent !important;
      }

      .usa-prose::before {
        content: 'remove .usa-prose' !important;
        display: block !important;
        color: #ffffff !important;
        font-family: monospace !important;
        font-size: clamp(18px, 4vw, 48px) !important;
        text-align: center !important;
        padding: 32px 0 !important;
        background: #ff69cb !important;
        white-space: nowrap !important;
      }
    </style>
  </head>

  <!--/* Body sets HTMX header so the CSRF token is always there */-->
  <body th:hx-headers='|{"CSRF-TOKEN":"${templateGlobals.csrfToken()}"}|'>
    <th:block
      th:if="${featureFlags.isAdminUiMigrationScExtendedEnabled()}"
      th:insert="~{admin/shared/Banner}"
    ></th:block>
    <th:block
      th:unless="${featureFlags.isAdminUiMigrationScExtendedEnabled()}"
      th:insert="~{admin/shared/TransitionalAdminCommonHeader}"
    ></th:block>

    <div
      class="cf-admin-page-wrapper spacing-0 bg-white maxw-full margin-x-auto desktop-lg:maxw-desktop-lg"
      th:classappend="${featureFlags.isAdminUiMigrationScExtendedEnabled()} ? '' : 'padding-top-8 padding-bottom-4'"
    >
      <!--/* Header navigation */-->
      <th:block
        th:if="${featureFlags.isAdminUiMigrationScExtendedEnabled()}"
        th:insert="~{admin/shared/AdminCommonHeader}"
      ></th:block>

      <!--/* Heading */-->
      <section
        aria-labelledby="sitePageHeading"
        class="padding-bottom-4 padding-top-6 border-bottom border-base-lighter bg-white"
      >
        <div class="grid-container">
          <h1
            id="sitePageHeading"
            class="font-heading-2xl text-bold"
            th:text="${templateGlobals.pageHeading()}"
          ></h1>
          <p
            th:if="${templateGlobals.pageIntro().isPresent()}"
            th:text="${templateGlobals.pageIntro().get()}"
          ></p>
          <div>
            <th:block
              th:with="cta=~{${layoutParams.pageTemplate()} :: callToAction}"
            >
              <div th:if="${cta != null}" class="margin-top-2">
                <th:block th:replace="${cta}"></th:block>
              </div>
            </th:block>
          </div>
        </div>
      </section>

      <!--/* Main */-->
      <div
        class="grid-container bg-white"
        data-testid="page-content"
        th:classappend="${featureFlags.isAdminUiMigrationScExtendedEnabled()} ? '' : 'padding-top-4'"
      >
        <!--/* Content */-->
        <div
          class="grid-row"
          th:classappend="${layoutParams.layoutType().name() == 'CONTENT_WITH_LEFT_SIDEBAR'} ? 'desktop:flex-row-reverse' : ''"
        >
          <main
            id="main-content"
            class="grid-col"
            th:classappend="${layoutParams.layoutType().name() != 'CONTENT_ONLY'} ? 'desktop:grid-col-8' : ''"
          >
            <th:block
              th:insert="~{${layoutParams.pageTemplate()} :: content}"
            ></th:block>
          </main>

          <!--/* Optional sidebar. */-->
          <aside
            id="sidebar"
            class="grid-col desktop:grid-col-4"
            th:if="${layoutParams.layoutType().name() != 'CONTENT_ONLY'}"
          >
            <th:block
              th:insert="~{${layoutParams.pageTemplate()} :: sidebar} ?: ~{}"
            ></th:block>
          </aside>
        </div>
      </div>

      <!--/* Footer */-->
      <th:block
        th:if="${featureFlags.isAdminUiMigrationScExtendedEnabled()}"
        th:insert="~{admin/shared/Footer}"
      ></th:block>

      <!--/* Google Tag Manager */-->
      <th:block
        th:insert="~{components/GoogleTagManagerFragment :: tagManager(${layoutParams.measurementId()}, ${templateGlobals.cspNonce()})}"
      ></th:block>

      <!--/* Scripts to be added at the end */-->
      <script
        th:each="script: ${layoutParams.bodyScripts()}"
        th:nonce="${templateGlobals.cspNonce()}"
        th:src="${script.src()}"
        th:type="${script.type()}"
        th:async="${script.async()}"
        th:defer="${script.defer()}"
        th:integrity="${script.integrity()}"
        th:id="${script.id()}"
        th:crossorigin="${#strings.equals(script.type(), 'text/javascript') ? 'anonymous' : null}"
      ></script>

      <!--/* Optional page specific scripts. These should be load last. */-->
      <th:block
        th:insert="~{${layoutParams.pageTemplate()} :: scripts} ?: ~{}"
      ></th:block>
    </div>
  </body>
</html>
