name: Add New Issues to Project

on:
  issues:
    types:
      - opened

permissions: read-all

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.6.0
        with:
          project-url: https://github.com/orgs/civiform/projects/1
          github-token: ${{ secrets.CIVIFORM_GITHUB_AUTOMATION_PERSONAL_ACCESS_TOKEN }}
