name: Add New Issues to Project

on:
  issues:
    types:
      - opened

permissions: read-all

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - name: Get project found of issue
        id: check-projects
        env:
          GH_TOKEN: ${{ secrets.CIVIFORM_GITHUB_AUTOMATION_PERSONAL_ACCESS_TOKEN }}
        run: |
          PROJECT_COUNT=$(gh issue view ${{ github.event.issue.number }} --repo ${{ github.repository }} --json projectItems --jq '.projectItems | length')
          echo "project_count=${PROJECT_COUNT}" >> $GITHUB_OUTPUT

      - name: Add issue to project when one is not already assigned
        if: steps.check-projects.outputs.project_count == '0'
        uses: actions/add-to-project@244f685bbc3b7adfa8466e08b698b5577571133e # v1.0.2
        with:
          project-url: https://github.com/orgs/civiform/projects/1
          github-token: ${{ secrets.CIVIFORM_GITHUB_AUTOMATION_PERSONAL_ACCESS_TOKEN }}
