name: Build a server image from a branch

on:
  workflow_dispatch:
    inputs:
      branch_name:
        description: 'The name of the branch to build from'
        required: true

permissions: read-all

jobs:
  build_and_push:
    name: Build server image from branch ${{ github.event.inputs.branch_name }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.event.inputs.branch_name }}
      - name: Set up Docker QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Run build-and-push-image-for-testing
        id: build_and_push_image_for_testing
        env:
          DEV_BRANCH_NAME: ${{ github.event.inputs.branch_name }}
          DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USER_NAME }}
        run: bin/build-and-push-image-for-testing
