name: Format

on:
  pull_request:
    branches-ignore:
      - 'spike/**'

# cancels in-progress jobs on this pull request
# avoids wasted work when a new commit is pushed
concurrency:
  group: format-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: read-all

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0

      - id: file_changes
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47
        with:
          json: 'true'

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Re-build formatter if needed
        if: contains(toJSON(steps.file_changes.outputs.all_changed_files), 'formatter/')
        id: formatter_rebuild
        run: bin/build-formatter

      - name: Run bin/fmt
        env:
          DOCKER_BUILDKIT: 1
        run: bin/fmt

      - name: Run bin/fmt-sbt
        env:
          DOCKER_BUILDKIT: 1
        if: contains(toJSON(steps.file_changes.outputs.all_changed_files), '.sbt') || contains(toJSON(steps.file_changes.outputs.all_changed_files), '.scala') || contains(toJSON(steps.file_changes.outputs.all_changed_files), '.github/workflows/format.yaml') || contains(toJSON(steps.file_changes.outputs.all_changed_files), 'fmt-sbt')
        run: bin/fmt-sbt
      - name: show bin/fmt and bin/fmt-sbt diff
        run: git add .; git diff --exit-code HEAD

      - name: Check bin scripts have docstrings
        if: contains(toJSON(steps.file_changes.outputs.all_changed_files), 'bin/') || contains(toJSON(steps.file_changes.outputs.all_changed_files), '.github/workflows/format.yaml')
        id: check_bin_script_docs
        run: bin/help

      - name: Run validate_java_classes_marked_final
        run: bin/validate_java_classes_marked_final
      - name: show bin/validate_java_classes_marked_final diff
        run: git add .; git diff --exit-code HEAD

      - name: Run validate_filters_inject_providers
        run: bin/validate_filters_inject_providers
