name: Format

on:
  # code review question: this commits directly to PR branches.
  # that seems like what we're looking for, but we could also format only
  # committed code.
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  formatting:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-java@v1
        with:
          java-version: '11.0.10'

      - uses: axel-op/googlejavaformat-action@master
        with:
          version: 1.9
          skipCommit: true

      - name: show diff
        run: git add .; git diff --exit-code HEAD

      - name: TS diff
        if: contains(toJSON(steps.file_changes.outputs.files), 'browser-test/')
        id: run_browser_test_formatter
        run: browser-test/bin/fmt

      - name: show diff
        run: git add .; git diff --exit-code HEAD

      - name: Check bin scripts have docstrings.
        if: contains(toJSON(steps.file_changes.outputs.files), 'bin/')
        id: check_bin_script_docs
        run: bin/help

      - name: setup terraform
        uses: hashicorp/setup-terraform@v1

      - name: terraform fmt
        id: tf_fmt
        run: terraform fmt -check -recursive -diff cloud
  sh-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Run the shell checker
        uses: luizm/action-sh-checker@master
        env:
          SHELLCHECK_OPTS: -s bash -S error
          sh_checker_exclude: "*.md cloud/shared/bin/doctor_impl infra/"
          SHFMT_OPTS: -bn -ci -i 2
            # -i 2   indent 2 spaces
            # -bn    binary ops like && and | may start a line
            # -ci    switch cases will be indented
