name: pr_test

on:
  pull_request:
    branches: main

permissions: read-all

jobs:
  run_all_tests:
    uses: ./.github/workflows/tests.yml
    secrets: inherit

  validate_deployment_variable_definitions:
    runs-on: ubuntu-latest
    steps:
      - name: check out pr branch
        uses: actions/checkout@v3
      - name: Run deployment variable definition validation test
        run: python3 cloud/shared/validate_variable_definitions_test.py

  validate_terraform:
    runs-on: ubuntu-latest
    steps:
      - name: check out pr branch
        uses: actions/checkout@v3
      - name: setup terraform
        uses: hashicorp/setup-terraform@v2
      # as we add more templates, we will add checks to validate them. for now, we only have one
      - name: terraform init azure_saml_ses
        run: terraform -chdir=cloud/azure/templates/azure_saml_ses init -backend=false
      - name: terraform validate azure_saml_ses
        run: terraform -chdir=cloud/azure/templates/azure_saml_ses validate
      - name: terraform init aws_oidc
        run: terraform -chdir=cloud/aws/templates/aws_oidc init 
      - name: terraform validate aws_oidc
        run: terraform -chdir=cloud/aws/templates/aws_oidc validate
