name: Env Variable Docs - Validate

# Cancels in-progress jobs on this pull request when new commits are pushed.
# This avoids wasted work for old commits.
concurrency:
  group: pr-env-var-docs-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  pull_request:
    branches-ignore:
      - 'spike/**'
    paths:
      - 'env-var-docs/**'
      - 'server/conf/env-var-docs.json'
      - 'server/conf/application.conf'
      - 'server/conf/helper/*.conf'
      - '.github/workflows/pr_env_var_docs.yaml'

permissions:
  contents: read

jobs:
  run-validations:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
        with:
          python-version: '3.13'

      - name: Run tests
        run: bin/env-var-docs-run-tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          verbose: true
          files: coverage.xml
          # We're getting intermittent issues with codecov trying to upload lately
          # disabling it from failing the entire pipeline for now.
          fail_ci_if_error: false

      - name: Check environment variables
        run: bin/env-var-docs-check-vars
