name: ci

on:
  push:
    branches: main

  # Setting this enables manually triggering workflow in the GitHub UI
  # see https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow
  workflow_dispatch: {}

permissions: read-all

# Two probers running at once can break each other.
concurrency:
  group: stagingenvironment
  cancel-in-progress: true

jobs:
  validate_deployment_variable_definitions:
    runs-on: ubuntu-latest
    steps:
      - name: check out pr branch
        uses: actions/checkout@v3
      - name: Run deployment variable definition validation test
        run: python3 cloud/shared/validate_variable_definitions_test.py

  build_container:
    runs-on: ubuntu-latest
    steps:
      - id: file_changes
        uses: trilom/file-changes-action@v1.2.4
        if: ${{ github.event_name == 'push' }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build and push new development image to docker hub
        id: build_dev
        env:
          DOCKER_BUILDKIT: 1
          DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
        run: bin/build-dev

      - name: Run build-browser-tests and push to Docker Hub.
        id: build_and_pushbrowser_tests
        env:
          DOCKER_BUILDKIT: 1
          PUSH_BROWSER_TEST_IMAGE: 1
          DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
        run: bin/build-browser-tests

      - name: Run build-localstack-env and push to Docker Hub.
        id: build_and_push_localstack_env
        env:
          DOCKER_BUILDKIT: 1
          PUSH_LOCALSTACK_IMAGE: 1
          DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
        run: bin/build-localstack-env

      - name: Run build-and-push civiform:latest
        id: build_and_push
        env:
          DOCKER_BUILDKIT: 1
          DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
        run: bin/build-and-push

      - name: Run build-and-push-formatter
        id: build_and_push_formatter
        env:
          DOCKER_BUILDKIT: 1
          DOCKER_HUB_ACCESS_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
        run: bin/build-and-push-formatter

  run_all_tests:
    uses: ./.github/workflows/tests.yaml
    secrets: inherit
