name: Run Performance Regression Test

on: 
 workflow_dispatch: {}
 schedule:
  - cron: 0 11 * * * # “At 11AM UTC = 4AM PDT / 7AM EST every day.”

permissions: read-all

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: ${{ github.event.inputs.branch_name }}
      - name: JMeter Test
        uses: QAInsights/PerfAction@d16221318a6d261b1546b9dec9c0bb1739e3d480 # v5.6.3
        with:
          test-plan-path: load-test/applicant_landing_page.jmx
          args: -JciviformUrl=staging-aws.civiform.dev
          results-file: result.jtl
      - name: Upload Results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: jmeter-results
          path: result.jtl
          if-no-files-found: error
      - name: Analyze Results with Latency Lingo
        uses: latency-lingo/github-action@28f94150b86d9f7ab6c00f25ef1497a9d90f8cec # v0.0.2
        with:
          api-key: ${{ secrets.LATENCY_LINGO_API_KEY }}
          file: result.jtl
          label: Checkout Flow Automated Test Plan
          format: jmeter
      - name: Cleanup
        run: rm result.jtl
