name: Run Performance Regression Test

on: 
 workflow_dispatch: {}
 schedule:
  - cron: 0 11 * * * # “At 11AM UTC = 4AM PDT / 7AM EST every day.”

permissions: read-all

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch_name }}
      - name: JMeter Test
        uses: QAInsights/PerfAction@v5.6.3
        with:
          test-plan-path: load-test/applicant_landing_page.jmx
          args: -JciviformUrl=staging-aws.civiform.dev
          results-file: result.jtl
      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: result.jtl
          if-no-files-found: error
      - name: Analyze Results with Latency Lingo
        uses: latency-lingo/github-action@v0.0.2
        with:
          api-key: ${{ secrets.LATENCY_LINGO_API_KEY }}
          file: result.jtl
          label: Checkout Flow Automated Test Plan
          format: jmeter
      - name: Cleanup
        run: rm result.jtl
