name: Create Release

on:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: 'The commit SHA on main for this release'
        required: true

      cloud_deploy_infra_sha:
        description: 'The commit SHA in the cloud-deploy-infra repo corresponding to the version that was used to test the CiviForm commit SHA for the release. This can generally be left as "main" unless recent changes have landed in that repo.'
        default: 'main'
        required: true

      release_number:
        description: 'The number for this release e.g. v1.2.3'
        required: true

permissions:
  pull-requests: read

jobs:
  create_release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_USER_NAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Run bin/create-release
        run: 'GH_TOKEN=${{ secrets.GITHUB_TOKEN }} bin/create-release ${{ github.event.inputs.commit_sha }} ${{ github.event.inputs.release_number }}'

      - name: Tag cloud-deploy-infra
        run: |
          curl --fail-with-body -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.CIVIFORM_GITHUB_AUTOMATION_PERSONAL_ACCESS_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/civiform/cloud-deploy-infra/actions/workflows/tag.yaml/dispatches \
          -d '{"ref":"main","inputs":{"commit_sha":"${{ github.event.inputs.cloud_deploy_infra_sha }}","version":"${{ github.event.inputs.release_number }}"}'
  update_environment_variable_documentation_markdown:
    permissions:
      contents: read
    needs: create_release # The generate markdown job relies on the release tag being added, so wait for bin/create-release to complete.
    uses: ./.github/workflows/generate_env_var_docs_markdown_for_release.yaml
    with:
      release_number: ${{ github.event.inputs.release_number }}
    secrets:
      CIVIFORM_GITHUB_AUTOMATION_PERSONAL_ACCESS_TOKEN: ${{ secrets.CIVIFORM_GITHUB_AUTOMATION_PERSONAL_ACCESS_TOKEN }}
