name: Run JMeter Test

on:
  workflow_dispatch:
    inputs:
      branch_name:
        description: 'The name of the branch to build from'
        default: main
        required: true

      civiform_url:
        description: 'The url to run the load tests for. Defaults to staging-aws.civiform.dev'
        default: staging-aws.civiform.dev

      output_file_type:
        description: 'The type of the file to output. Defaults to jtl'
        type: choice
        default: jtl
        options:
        - jtl
        - csv

      test_to_run:
        description: 'The load test to run from load-test/'
        type: choice
        default: applicant_submit_application
        options:
        - applicant_submit_application
        - applicant_landing_page
        - ti_landing_page
        
permissions: read-all

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch_name }}
      - name: JMeter Test - ${{ github.event.inputs.test_to_run }}
        uses: QAInsights/PerfAction@v5.6.3
        with:
          test-plan-path: load-test/${{ github.event.inputs.test_to_run }}.jmx
          args: -JciviformUrl=${{ github.event.inputs.civiform_url }}
          results-file: result.${{ github.event.inputs.output_file_type }}
      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: result.${{ github.event.inputs.output_file_type }}
          if-no-files-found: error
