name: Run JMeter Test

on:
  workflow_dispatch:
    inputs:
      branch_name:
        description: 'The name of the branch to build from'
        default: main
        required: true

      test_to_run:
        description: 'The load test to run from load-test/'
        type: choice
        default: applicant_submit_application
        options:
        - applicant_submit_application
        - applicant_landing_page
        - ti_landing_page
        
permissions: read-all

jobs:
  testing:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.branch_name }}
      - name: List Directory Contents
        run: ls -lah load-test/ 
      - name: JMeter Test - ${{ github.event.inputs.test_to_run }}
        uses: QAInsights/PerfAction@v5.6.2
        with:
          test-plan-path: load-test/${{ github.event.inputs.test_to_run }}.jmx
          results-file: results.jtl
      - name: Upload Results
        uses: actions/upload-artifact@v4
        with:
          name: jmeter-results
          path: result.jtl
          if-no-files-found: error
