# Generates the SBOM from our docker image and uploads the
# articact to the release
name: Generate SBOM

on:
  release:
    types: ['published']

  workflow_dispatch:
    inputs:
      tag_name:
        description: 'The tag name of the release'
        required: true

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    env:
      # Get the tag value from the workflow dispatch or the release event info
      TAG_NAME: ${{ github.event.inputs.tag_name || github.event.release.tag_name }}

    steps:
      - name: Generate and Upload SBOM to Release ${{ env.TAG_NAME }}
        uses: anchore/sbom-action@f325610c9f50a54015d37c8d16cb3b0e2c8f4de0 # v0
        with:
          image: docker.io/civiform/civiform:${{ env.TAG_NAME }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
