name: Scan for Secrets
on:
  pull_request:
  push:
  workflow_dispatch:
  schedule:
     # Run daily at 4AM EST / 5AM EDT / 1AM PST / 2AM PDT
    - cron: "0 9 * * *"
jobs:
  scan:
    name: gitleaks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: gitleaks/gitleaks-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITLEAKS_LICENSE: ${{ secrets.GITLEAKS_LICENSE}}
        with:
          baseline-path: .github/gitleaks-baseline.json
