name: Sourcegraph
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - 'main'
    paths:
      - 'server/**'
      - '.github/workflows/**'

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
jobs:
  scip:
    runs-on: ubuntu-latest
    name: "Upload Index"
    steps:
      - uses: actions/checkout@v2
      - uses: coursier/setup-action@v1.1.2
        with:
          jvm: adopt:11
      - run: |
          cs launch com.sourcegraph:scip-java_2.13:latest.stable -M com.sourcegraph.scip_java.ScipJava -- index
      - run: yarn global add @sourcegraph/src
      - run: |
          src code-intel upload "-commit=${GITHUB_SHA}" "-github-token=${GITHUB_TOKEN}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


