name: Skip Tests

on:
  workflow_call:
    secrets:
      DOCKER_HUB_ACCESS_TOKEN:
        required: false
      DOCKER_HUB_USERNAME:
        required: false

  # Setting this enables manually triggering workflow in the GitHub UI
  # see https://docs.github.com/en/actions/managing-workflow-runs/manually-running-a-workflow
  workflow_dispatch: {}

permissions: read-all

jobs:
  run_junit_tests:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "skipping"'

  run_browser_tests_aws:
    strategy:
      matrix:
        shard_number: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "skipping"'

  run_browser_tests_azure:
    if: false
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "skipping"'

  test_prod:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "skipping"'

  run_typescript_unit_tests:
    runs-on: ubuntu-latest
    steps:
      - run: 'echo "skipping"'
